{% load static %}
<div class="row g-0">
    <div class="col-md-8 col-12">
        <div class="banner__container slider-container">
            <div class="slider-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'home/images/atm web banner.jpg' %}" class="img-fluid" alt="..." />
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'home/images/atm web banner2.jpg' %}" class="img-fluid" alt="..." />
                    </div>
                </div>
                <div class="item">
                    <div class="image-container">
                        <img src="{% static 'home/images/atm web banner3.jpg' %}" class="img-fluid" alt="..." />
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <img src="https://images.unsplash.com/photo-1578761617802-284a782be740?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" height="300px" width="">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="text-medium-color text-center my-3">
                ATM Pharmacy: Nepal Leading Online Pharmacy
            </h4>
        </div>
    </div>
</div>