<!-- Best Ayurveda -->
{% load static %}
<section class="ayurveda">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-md-4">
                <h3 class="ayurveda-sub-title">
                    Ayurveda
                </h3>
                <h1 class="ayurveda-main-title">
                    Browse all our best <br> Ayurveda
                </h1>
                <p class="ayurveda-para">
                    Ayurveda is a system of medicine with historical roots in the Indian Subcontinent. Globalized and modernized practices derived from Ayurveda traditions are a type of alternative medicine.
                </p>
                <a href="" class="btn btn-view-ayurveda">
                    View All Ayurveda
                </a>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="row g-3">
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="ayurvedaBlock">
                            <div class="ayurveda-image-container">
                                <img src="{% static 'home/images/1.png' %}" alt="">
                            </div>
                            <p class="ayurveda-title">
                                Kerala Ayurveda
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>