<cartmodal>
    {% verbatim %}
    <script>
        // console.log('~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '()');
    </script>



    <style>
        .validation-red {
            color: red;
        }
    </style>

    <div id="OrderDisplaySystemHolderDiv">
        <form action="/Settings/AccountVoucherSave" id1="AccountVoucherSaveForm1" method="post">
            <div class="modal1  fade1" id="setupModal" role="dialog">
                <div class="modal-dialog modal-lg" style="width1:95%; width2:fit-content;">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>


                        <div class="container99">
                            <div class="row">
                                <div class="col-md-12">
                                    <script>
                                        // console.log('~/Views/AccountVoucher/AccountVoucherSaveFormList.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '()');
                                    </script>






                                    <style>
                                        .vue-model-bind {
                                            display: none;
                                        }
                                        
                                        .content {
                                            padding-top: 0;
                                        }
                                        
                                        .nav-tabs-custom>.nav-tabs>li.active>a,
                                        .nav-tabs-custom>.nav-tabs>li.active:hover>a {
                                            background-color: orange;
                                            color: white;
                                            font-weight: bold;
                                        }
                                        
                                        .nav-tabs-custom>.nav-tabs>li>a,
                                        .nav-tabs-custom>.nav-tabs>li>a:hover {
                                            background: #ffa50014;
                                            font-weight: bold;
                                        }
                                        
                                        .deletedLedgerDetail {
                                            display: none;
                                        }
                                    </style>

                                    <style>
                                        .param {
                                            margin-bottom: 7px;
                                            line-height: 1.4;
                                        }
                                        
                                        .param-inline dt {
                                            display: inline-block;
                                        }
                                        
                                        .param dt {
                                            margin: 0;
                                            margin-right: 7px;
                                            font-weight: 600;
                                        }
                                        
                                        .param-inline dd {
                                            vertical-align: baseline;
                                            display: inline-block;
                                        }
                                        
                                        .param dd {
                                            margin: 0;
                                            vertical-align: baseline;
                                        }
                                        
                                        .shopping-cart-wrap .price {
                                            color: #007bff;
                                            font-size: 18px;
                                            font-weight: bold;
                                            margin-right: 5px;
                                            display: block;
                                        }
                                        
                                        var {
                                            font-style: normal;
                                        }
                                        
                                        .media img {
                                            margin-right: 1rem;
                                        }
                                        
                                        .img-sm {
                                            width: 90px;
                                            max-height: 75px;
                                            object-fit: cover;
                                        }
                                    </style>


                                    <!-- Content Wrapper. Contains page content -->
                                    <div class="content-wrapper-child">
                                        <input type="checkbox" id="checkbox" v-model="IS_DEBUG_LAYOUT">

                                        <!-- Content Header (Page header) -->
                                        <section class="content-header">




                                        </section>

                                        <!-- Main content -->
                                        <section class="content">
                                            <!-- Small boxes (Stat box) -->



                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="nav-tabs-custom">
                                                        <ul class="nav nav-tabs hidden">
                                                            <!-- <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Order</a></li> -->
                                                        </ul>


                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab_1">
                                                                <div class="container1" style="margin-top1: 5%">


                                                                    <div class="card">
                                                                        <table class="table table-hover shopping-cart-wrap">
                                                                            <thead class="text-muted">
                                                                                <tr>
                                                                                    <th scope="col">Product</th>
                                                                                    <th scope="col" width="120">Quantity</th>
                                                                                    <th scope="col" width="120">Price</th>
                                                                                    <th scope="col" width="200" class="text-right">Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr v-for="(item,index) in Model.cartResponse.items">

                                                                                    <td>
                                                                                        <figure class="media">
                                                                                            <div class="img-wrap"><img src="http://bootstrap-ecommerce.com/main/images/items/2.jpg" class="img-thumbnail img-sm"></div>
                                                                                            <figcaption class="media-body">
                                                                                                <h6 class="title text-truncate">{{item.item_title}} </h6>
                                                                                                <!--
        <dl class="param param-inline small">
          <dt>Size: </dt>
          <dd>XXL</dd>
        </dl>
        <dl class="param param-inline small">
          <dt>Color: </dt>
          <dd>Orange color</dd>
        </dl>
        -->
                                                                                            </figcaption>
                                                                                        </figure>
                                                                                    </td>

                                                                                    <td>
                                                                                        {{item.quantity}}
                                                                                        <input type="number" v-model="item.quantity" @change="_CART_ADD_SUB_QTY_(item.item, item.quantity)">
                                                                                    </td>

                                                                                    <td>
                                                                                        <div class="price-wrap">
                                                                                            <var class="price">{{item.price}}</var>
                                                                                            <!-- <small class="text-muted">(USD5 each)</small>  -->
                                                                                        </div>
                                                                                        <!-- price-wrap .// -->
                                                                                    </td>

                                                                                    <td class="text-right">
                                                    
                                                                                        <span class="btn btn-outline-danger" @click="_CART_DELETE_ITEM_(item.item)"> × Remove</span>
                                                                                    </td>

                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <!-- card.// -->

                                                                </div>

                                                                <div class="row vuepredebug" v-show="IS_DEBUG_LAYOUT==1">
                                                                    <div class="col-md-12 ">
                                                                        <pre> {{(Model.cartResponse)}} </pre>
                                                                    </div>
                                                                </div>



                                                                <input type="hidden" id="hiddenInitStrListAccountDetailLedgerVM" value="null" />
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </section>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.end vue object -->
                                    <!-- /.content-wrapper -->

                                </div>
                            </div>

                        </div>


                        <div class="modal-footer margin">

                            <!-- <button class="btn btn-md-2 btn-success saveAccountVoucherButton">Save </button> -->
                            <button type="button" class="button  cart_button_checkout" @click="GuiDoCheckout">Checkout</button>
                            <!-- <input id="saveAccountVoucherButton" type="button" value="Save" class="btn btn-md-2 btn-success saveAccountVoucherButton"> -->
                            <button class="btn btn-md-2 btn-danger pull-left" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <style>
        .button {
            display: inline-block;
            background: #0e8ce4;
            border-radius: 5px;
            height: 48px;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease
        }
        
        .cart_button_checkout {
            display: inline-block;
            border: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 48px;
            color: #FFFFFF;
            padding-left: 35px;
            padding-right: 35px;
            outline: none;
            cursor: pointer;
            vertical-align: top
        }
    </style>

    <script>
        function _ObtainInitObj(strSelecter) {
            console.log('_ObtainInitObj');
            //var json_str = "Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListAccountDetailLedgerVM)";
            //var json_str = $('#hiddenInitListAccountDetailLedgerVMStr').val();
            var json_str = $(strSelecter).val();
            var js_obj = [];
            if (json_str) {
                js_obj = JSON.parse(json_str);
            }
            if (!js_obj) { //return empty obj;
                js_obj = [];
            }

            console.log(js_obj);
            return js_obj;
        }

        function _InitSelVueListObj(strSelecter, vueList) {
            console.log('_InitSelVueListObj');

            var js_objs = _ObtainInitObj(strSelecter);
            for (var i = 0; i < js_objs.length; i++) {
                //this.Model.ListAccountDetailLedgerVM.push(initLedgerDetails[i]);
                vueList.push(js_objs[i]); //make reactive
            }
            return js_objs;
        }

        function _InitSelVueObj(strSelecter, vueObj) {
            var js_obj = _ObtainInitObj(strSelecter);
            Object.assign(vueObj, js_obj);

            return js_obj;
        }

        function _SimpleClone(obj) {
            var tmpData = JSON.stringify(obj);
            var sendData = JSON.parse(tmpData);
            return sendData;
        }
    </script>


    <script type="text/javascript">
        new Vue({
                el: '#OrderDisplaySystemHolderDiv',
                data: {
                    IS_DEBUG_LAYOUT: 0,
                    Model: {
                        cartResponse: {
                            "token": null,
                            "cart": 70,
                            "total": 128.82,
                            "subtotal": 114.0,
                            "tax_total": 14.82,
                            "count": 0,
                            "items": [{
                                "product_id": 117,
                                "image": "products/himalayan-jar/himalayan-jar-None.jpg",
                                "item": 5,
                                "item_title": "Himalayan Jar Himalayan",
                                "price": 23.0,
                                "product": 5,
                                "quantity": 3,
                                "line_item_total": "69.00",
                                "fk_store_title": "Jharana khola pani"
                            }, ]
                        },
                    } //end cartResponse
                }, //end data
                created() {
                    var thisRef = this;
                },
                beforeMount() {
                    console.log('vue beforeMount');
                    var thisRef = this;
                    //this.Model.ListAccountDetailLedgerVM.push(this.Model.DetailLedger);
                    //var initLedgerDetails = _ObtainInitialLegderDetails();
                    //for (var i = 0; i < initLedgerDetails.length; i++) {
                    //    this.Model.ListAccountDetailLedgerVM.push(initLedgerDetails[i]);
                    //}

                    //Maybe init all these, at once insetead of seperate

                },
                mounted() {
                    console.log('vue mounted');
                    this.FetchCartData();
                    window._FETCH_CART_DATA_ = this.FetchCartData;
                },


                computed: {
                    VUEWINDOW: function() {
                        return window;
                    },
                },

                methods: {
                    FetchCartData() {
                        console.log('FetchListData');
                        var thisRef = this;
                        var urlData = _URL_SERVER_ + '/api/cart/';
                        var filterParams = ''; //''SEARCH_PARAMS();
                        var url = urlData; // + '&' + filterParams;
                        $.ajax({
                            url: url,
                            type: 'GET',
                            success: function(response) {
                                thisRef.Model.cartResponse = response;
                            }
                        }); //end ajax
                    },
                    //GuiDO: will be done in gui
                    //CallWaiter: what is supposed to be done
                    //ForItem: For whom/which item/structrue/person /?????
                    //GuiDoCallWaiterForItem(argItem) {
                    GuiDoAddItem(argItem) {

                        if (!this.Model.AccountMasterLedgerVM.AccountVoucherTypeId) {
                            alert('Voucher Type Required');
                            return;
                        }

                        if (!this.Model.DetailLedger.AccountHeadId) {
                            alert('AccountHead Required');
                            return;
                        }
                        var thisRef = this;
                        var tmpData = JSON.stringify(argItem);
                        var sendData = JSON.parse(tmpData);
                        this.Model.ListAccountDetailLedgerVM.push(
                            _SimpleClone(argItem)
                        );

                        //no reactivity if using = , "equals" for cloned object
                        Object.assign(this.Model.DetailLedger, _SimpleClone(this.Model.ClearedInitialDetailLedger)); //maybe memberwise copy happening

                    },
                    GuiDoCheckout() {
                        console.log('GuiDoCheckout');
                        //alert('hi');
                        //return;
                        if(this.Model.cartResponse.count ==0 ){
                            $.notify("No item in cart!!", "error");
                            return;
                        }
                        
                        //todo: add first variation of given product
                        var thisRef = this;
                        var urlData = _URL_SERVER_ + '/api/create_order/';
                        var filterParams = ''; //''SEARCH_PARAMS();
                        var url = urlData; // + '&' + filterParams;


                        var data = {
                            "order_total": 0,
                            "status": "created",
                            "shipping_total_price": 0,
                            "order_id": "",
                            "is_delivered": false,
                            "is_paid": false,
                            "updated_at": null,
                            "order_latitude": "",
                            "order_longitude": "",
                            "cart": this.Model.cartResponse.cart, //cart_id
                            "user": null,
                            "billing_address": null,
                            "shipping_address": null,
                            "fk_auth_user": null,
                            "fk_ordered_store": null,
                            "fk_delivery_user": null,
                            "fk_payment_method": null,
                            "fk_ordered_by_store": null
                        }


                        $.ajax({
                            url: url,
                            type: 'POST',
                            // contentType:"application/json; charset=utf-8",
                            // dataType:"json",
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                "X-CSRFToken": getCSRFToken()
                            },

                            data: JSON.stringify(data),
                            success: function(response) {
                                console.log('post success');
                                //alert('cart success');
                                $.notify("Order Confirmed!!", "success");
                            }
                        }); //end ajax

                    }, //end func

                } //end methods

            }) //end Vue open
    </script>


    <script>
        // init part
        $(document).ready(function() {
            console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);


            $('#AccountScheduleId').select2({
                tags: false, //allow to (add new things)
                placeholder: {
                    text: '-Select-',
                    //allowClear: true //clear button
                    id: '-1'
                },
                multiple: false,
                width: '100%'
            });
            //For adding only
            //Filtered item, selected to be added
            var AccountScheduleId = 0; //Model.AccountMasterLedger.Id;
            if (!AccountScheduleId) {
                //Not selected then use, filter selected val
                var jqAccountScheduleId = $('#AccountScheduleId');
                if (!jqAccountScheduleId.val()) {
                    jqAccountScheduleId.val(
                        $('#FilterAccountScheduleId').val()
                    );
                    jqAccountScheduleId.trigger('change'); // Notify any JS components that the value changed
                }
            }


            $('#AccountHeadId').select2({
                tags: false, //allow to (add new things)
                placeholder: {
                    text: '-Select-',
                    //allowClear: true //clear button
                    id: '-1'
                },
                multiple: false,
                width: '100%'
            });



        }); //end doc ready


        //handler part
        //
        //
        function AccountVoucherSaveFormPartialViewDebug() {
            console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);
        }
        AccountVoucherSaveFormPartialViewDebug(); //for debug only

        //$('#AccountVoucherSaveForm').submit(function(e) {
        //   e.preventDefault();
        //    var form = $(this);
        //    console.log(form);
        //   $.ajax({
        //     type: form.attr('method'),
        //     url: form.attr('action'),
        //     data: form.serialize(),
        //     success: function(msg){
        //       $("#thanks").html(msg);
        //       $("#form-content").modal('hide');    
        //     },
        //     error: function(){
        //       //alert("failure");
        //     }
        //   });
        //});

        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $('.saveAccountVoucherButton').on('click', function(e) {
            console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);
            e.preventDefault();

            var VM = _ObtainSaveVM();

            console.log(VM);
            //return;

            if (validateForm()) {
                //$("#AccountVoucherSaveForm").submit();
                $('.addBtn').attr('disabled', true);

                //setting the hidden field of form for branchId
                /*$('input#CustomerId').val(
                        JscrAccountVoucherSetupPartialView.ObtainSelectedCustomerId()
                );*/
                //var send_data = $('#AccountVoucherSaveForm').serialize(); //serialize jquery obj
                var send_data = $.param(VM); //serialize js object into url format (not json str)
                $.post("/AccountVoucher/AccountVoucherSave", send_data)
                    .done(
                        function postDone(data) {
                            console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);

                            JscrAccountVoucherFilterPartialView.loadRecordsFromSelection();
                            //todo: enable button on failure also and failed toast message
                            $('.addBtn').attr('disabled', false);
                            iziToast.show({
                                position: 'bottomCenter',
                                message: "Saved",
                                color: 'green',
                                theme: 'light',
                                icon: 'fa fa-check-circle-o'
                            });
                            $('#setupModal').modal('hide');
                            //$("input[name='Name'").focus();
                        }
                    ); //end done of post
            };
        });

        function validateForm() {
            console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);

            var isValid = true;

            $('.data-val-required').each(function() {
                var currentElement = $(this);
                var id = this.id;
                var valElement = $('[data-valmsg-for=' + id + ']')
                if (currentElement.val()) { //=== "" ; empty string ; null value etc ko lagi
                    valElement.html(""); //valid
                } else {
                    valElement.attr('class', 'field-validation-error');
                    valElement.html("Required");
                    //valElement.html($(this).attr('data-val-required'));
                    isValid = false;
                }

            });

            /*var amountValStr = $('#Amount').val();
            var amountVal = parseFloat(amountValStr);
            if (amountVal)
            { } //is float no
            else
            {
                if (amountVal > 0)
                { } //positive > 0 val
                else
                {
                    isValid = false;
                }
            }*/

            //isValid = true; //not validating now
            return isValid;
        }
    </script>




    {% endverbatim %}
</cartmodal>