<!-- Deal of the day -->
{% load static %}
<section class="dealDay">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                <div class="dealday-timer">
                    <h1>Deals of the Day</h1>
                    <h2 class="deal-time">
                        <span>08</span>
                        <span>:</span>
                        <span>32</span>
                        <span>:</span>
                        <span>29</span>
                    </h2>
                </div>
            </div>
            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-8">
                <div class="atm-product-container">
                    <div class="dealDay-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %}
<style type="text/css">
    .coupon {
        border: 5px dotted #bbb;
        /* Dotted border */
        width: 80%;
        border-radius: 15px;
        /* Rounded border */
        margin: 0 auto;
        /* Center the coupon */
        max-width: 600px;
    }
    
    .promo {
        background: #ccc;
        padding: 3px;
    }
    
    .expire {
        color: red;
    }
</style>

<div class="container-xl1 container-carousel deal-of-day">
    <div class="row">
        <div class="col-md-4">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">

                            <div class="coupon" style="color: white; height: 270px;">
                                <div class="container11">
                                    <h2>Deals of the Day</h2>
                                </div> <br><br><br><br>


                                <div class="container1">
                                    <h2>08:32:29 </h2>

                                </div>
                            </div>
                            <!--                                            <div class="thumb-wrapper">
                                                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                <div class="img-box">
                                                    <img src="/examples/images/products/ipad.jpg" class="img-fluid" alt="">                                 
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>Deals Of the Day</h4> 

                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                    <p class="item-price"><strike>$400.00</strike> <b>$369.00</b></p>
                                                    <a href="#" class="btn bg-light">Add to Cart</a>
                                                </div>                      
                                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="" class="img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Apple iPad</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>$400.00</strike> <b>$369.00</b></p>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/headphone.jpg" class="img-fluid" alt="Headphone">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Sony Headphone</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>$25.00</strike> <b>$23.99</b></p>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/macbook-air.jpg" class="img-fluid" alt="Macbook">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Macbook Air</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>$899.00</strike> <b>$649.00</b></p>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/nikon.jpg" class="img-fluid" alt="Nikon">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Nikon DSLR</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>$315.00</strike> <b>$250.00</b></p>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/play-station.jpg" class="img-fluid" alt="Play Station">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Sony Play Station</h4>
                                        <p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/macbook-pro.jpg" class="img-fluid" alt="Macbook">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Macbook Pro</h4>
                                        <p class="item-price"><strike>$1099.00</strike> <span>$869.00</span></p>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/speaker.jpg" class="img-fluid" alt="Speaker">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Bose Speaker</h4>
                                        <p class="item-price"><strike>$109.00</strike> <span>$99.00</span></p>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/galaxy.jpg" class="img-fluid" alt="Galaxy">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Samsung Galaxy S8</h4>
                                        <p class="item-price"><strike>$599.00</strike> <span>$569.00</span></p>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endcomment %}