{% load static %}
<section class="atm-product backgroundGrey">
    <div class="container-fluid">
        <div class="atm-product-heading">
            <div>
                <h4>Explore Something New</h4>
            </div>
            <div>
                <a href="{% url 'products' %}" class="btn btn-outline-view">
                    View All
                </a>
            </div>
        </div>
        <div class="atm-product-container">
            <div class="atm-product-carousel owl-carousel owl-theme">
                {% if esn_products_asc.count > 0 %}
                    {% for product in esn_products_asc %}
                    
                    <form class='add-form' method='GET' action="{% url 'cart' %}">
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <a href="{{product.get_absolute_url}}">
                                    <div class="image-container">
                                        <img src="{{product.get_image_url}}" alt="">
                                    </div>
                                </div>
                            </a>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">{{product.title}}</p>
                                    <p class="atm-product-size">{{product.amount}} {{product.product_unit.title}} |  of {{ product.title}} </p>
                                        <input type="hidden" name='item' value='{{ product.variation_set.first.id }}' />
                                            <h3 id='price'>{% if product.variation_set.first.sale_price %}
                                            {{ product.variation_set.first.sale_price  }}
                                            <small class='og-price'>{{ object.variation_set.first.price }}</small>
                                            {% else %}
                                            
                                            {{ product.variation_set.first.price }}
                                            {% endif %}
                                        </h3>
                                        <input type="hidden" class='form-control' type='number' name='qty' value='1' />

                                    <div class="price-discount">
                                        
                                        <span>Nrs. {{product.price}}</span>
                                        <span class="off-percent">{{product.discount}}</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart submit-btn1"  onclick="_ADD_TO_CART_PRODUCT_VARIATION_({{product.variation_set.first.id}})" id='submit-btn{{object.variation_set.first.id}}' type='submit'>Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                         </form>
                    {% endfor %}
                    {% else %}
                    <div class="item">
                        <div class="atm-productCard">
                            <div class="atm-productCard--header">
                                <div class="image-container">
                                    <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                </div>
                            </div>
                            <div class="atm-productCard--body">
                                <p class="atm-proudct-name">Start Adding products from dashboard</p>
                                <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                <div class="price-discount">
                                    <span>Nrs: 1500</span>
                                    <span class="off-percent">35% Off</span>
                                </div>
                                <div class="priceAndbtn">
                                    <div>
                                        <h6 class="atm-product-total">
                                            Nrs: 1356
                                        </h6>
                                    </div>
                                    <div>
                                        <button class="btn btn-cart">Add Cart</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}


            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>

    </div>
</section>

{% comment %} {% verbatim %}
<div class="container-xl1 container-carousel" style="background1:#f5f5f5;">
    <div class="container-fluid">
        <ExploreSomethingNew>
            <!-- Explore Something New -->
            <div id="IdDivExploreSomethingNew" class="container-xl1 container-carousel">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pull-left cappy">Explore Something new</h4>
                        <button class="btn pull-right hario-outline-btn"> View All</button>
                        <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="0">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators" style="display:none;">
                                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel1" data-slide-to="1"></li>
                                <li data-target="#myCarousel1" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">
                                <div :class=" ' item carousel-item ' + (page===0 ? 'active' : 'inactive') " v-for="(itemsCarouselPage, page) in carouselPages">
                                    <div class="row">

                                        <div :class="_GET_RESPONSIVE_DIV_CLASS_()" v-for="(item,index) in itemsCarouselPage">
                                            <a href="#" style="color: #555">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img :src="GetProductImageUrl(item)" class="img-fluid" alt="Play Station">
                                                    </div>
                                                    <div class="thumb-content" @click="_GUI_OPEN_PRODUCT_DETAIL_(item.id)">
                                                        <h4>{{item.title}}</h4>
                                                        <p class="item-price"><strike></strike> <span>Rs. {{item.price}}</span></p>
                                                        <!--               <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div> -->
                                                    </div>
                                            </a>
                                            <div class="thumb-content">
                                                <button @click="_ADD_TO_CART_PRODUCT_(item)" class="btn bg-light">Add to Cart</button>
                                            </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <!-- Carousel controls -->
                            <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel1" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <script>
                new Vue({
                        el: '#IdDivExploreSomethingNew',
                        data: {

                            carouselPages: [],
                            Model: {

                                response: {
                                    "count": 3,
                                    "next": null,
                                    "previous": null,
                                    "results": [{
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal1",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, {
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal2",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, {
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal3",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, {
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal4",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, {
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal5",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, {
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal6",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, {
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal7",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, {
                                        "url": "http://app.sarovara.com.np/api/products/10/",
                                        "id": 10,
                                        "title": "Patanjali Dibyajal8",
                                        "image": "/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                        "price": "125.00",
                                        "description": "Process and Purified as per the Directives for Production of Processed Drinking Water, 2074 \r\nRegular water quality tests to verify its compliance with National Drinking Water Quality Standards  Routine Factory Check Ups \r\nRoutine Machinery Check Ups",
                                        "variation_set": [{
                                            "id": 10,
                                            "title": "Water Only",
                                            "price": "125.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -11
                                        }, {
                                            "id": 23,
                                            "title": "Water with Jar",
                                            "price": "475.00",
                                            "sale_price": null,
                                            "discount": "",
                                            "inventory": -30
                                        }],
                                        "productimage_set": [{
                                            "id": 14,
                                            "image": "http://app.sarovara.com.np/media/products/patanjali-dibyajal/patanjali-dibyajal-14_0RL21Gj.png",
                                            "product": 10
                                        }],
                                        "fk_common_product_id": 3,
                                        "fk_store": {
                                            "id": 1,
                                            "is_active": 1,
                                            "title": "Sinamangal Depot",
                                            "latitude": "27.7034394911190840",
                                            "longitude": "85.3445405595400400",
                                            "fk_store_type": 2,
                                            "fk_user": 5
                                        }
                                    }, ]
                                }, // End response
                            } //End Model

                        }, //end data
                        mounted() {
                            console.log('vue mounted');
                            var thisRef = this;
                            //console.log(this.Model.ListData);

                            this.FetchListData();
                        },
                        methods: {
                            GetProductImageUrl(item) {
                                console.log('GetProductImageUrl');
                                url = "";
                                try {
                                    var productimage_set = item['productimage_set'];
                                    var obj = productimage_set[0];
                                    var url = obj["image"];
                                } catch (err) {

                                }

                                return url;

                            },
                            ObtainPrepareResponsiveItems() {
                                window._PREPARE_RESPONSIVE_ITEMS_('#IdDivExploreSomethingNew', this, "carouselPages", this.Model.response.results);
                            },
                            FetchListData() {
                                console.log('FetchListData');
                                var thisRef = this;
                                var urlData = _URL_SERVER_ + '/api/products/';
                                var filterParams = ''; //''SEARCH_PARAMS();
                                var url = urlData; // + '&' + filterParams;
                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    success: function(response) {
                                        thisRef.Model.response = response;
                                        window._ON_RESIZE_ARRAY_.push(thisRef.ObtainPrepareResponsiveItems);
                                        thisRef.ObtainPrepareResponsiveItems();
                                    }
                                }); //end ajax
                            },

                        } //end methods
                    }) //end Vue open
            </script>
        </ExploreSomethingNew>
    </div>
</div>

{% endverbatim %} {% endcomment %}