<!-- Coupon -->
{% load static %}
<section class="coupon-card">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="coupon-block">
                    <div class="coupon-header">
                        <div class="safe-tag">
                            Safe
                        </div>
                        <div class="discount-percent">
                            <span> 40% Coupon </span>
                        </div>
                    </div>
                    <div class="coupon-body">
                        <div class="row">
                            <div class="col-md-7 col-7">
                                <h6 class="coupon-title">Full Body Package</h6>
                                <p class="coupon-detail">Include 89 tests</p>
                                <p class="rating"><i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i></p>
                            </div>
                            <div class="col-md-5 col-5">
                                <div class="coupon-logo-container">
                                    <img src="{% static 'home/images/coupon-logo.png' %}" alt="" class="img-fluid">
                                </div>

                                <div class="price">
                                    <h5>
                                        Rs. 13,990
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="coupon-block">
                    <div class="coupon-header">
                        <div class="safe-tag">
                            Safe
                        </div>
                        <div class="discount-percent">
                            <span>78% Off + 50% Coupon </span>
                        </div>
                    </div>
                    <div class="coupon-body">
                        <div class="row">
                            <div class="col-md-7 col-7">
                                <h6 class="coupon-title">Full Body Package</h6>
                                <p class="coupon-detail">Include 89 tests</p>
                                <p class="rating"><i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i></p>
                            </div>
                            <div class="col-md-5 col-5">
                                <div class="coupon-logo-container">
                                    <img src="{% static 'home/images/coupon-logo.png' %}" alt="" class="img-fluid">
                                </div>

                                <div class="price">
                                    <h5>
                                        Rs. 13,990
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="coupon-block">
                    <div class="coupon-header">
                        <div class="safe-tag">
                            Safe
                        </div>
                        <div class="discount-percent">
                            <span> 40% Coupon </span>
                        </div>
                    </div>
                    <div class="coupon-body">
                        <div class="row">
                            <div class="col-md-7 col-7">
                                <h6 class="coupon-title">Full Body Package</h6>
                                <p class="coupon-detail">Include 89 tests</p>
                                <p class="rating"><i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i></p>
                            </div>
                            <div class="col-md-5 col-5">
                                <div class="coupon-logo-container">
                                    <img src="{% static 'home/images/coupon-logo.png' %}" alt="" class="img-fluid">
                                </div>

                                <div class="price">
                                    <h5>
                                        Rs. 13,990
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %}
<div class="container-xl1 container-carousel" style="background:#f5f5f5;">
    <div class="row">
        <div class="col-md-12">
            <button class="cartbtn">Cart </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/ipad.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Apple iPad</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"></li><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>$400.00</strike> <b>$369.00</b></p>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/headphone.jpg" class="img-fluid" alt="Headphone">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Sony Headphone</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>$25.00</strike> <b>$23.99</b></p>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src="/examples/images/products/macbook-air.jpg" class="img-fluid" alt="Macbook">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Macbook Air</h4>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                            </ul>
                                        </div>
                                        <p class="item-price"><strike>$899.00</strike> <b>$649.00</b></p>
                                        <a href="#" class="btn bg-light">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}