{% extends "home/layout/base.html" %}
<!-- title -->
{% block title%} Home {% endblock %}
<!-- load static -->
{% load static %}

<!-- body content -->
{% block content %}
<!-- <div class="carousel-bhako-div"> -->
<!-- slider banner-->
{% include "home/frontend/banner-slider.html" %}
<!-- homecoupon -->
{% include "home/frontend/homeCoupon.html" %}
<!-- explore -->
{% include "home/frontend/homeExploreSomethingNew.html" %}
<!-- trending -->
{% include "home/frontend/homeTrendingProducts.html" %}
<!-- home Deals -->
{% include "home/frontend/homeDealsOfDay.html" %}
<!-- homefeaturedBrands -->
{% include "home/frontend/homeFeaturedBrands.html" %}
<!-- best ayrveda -->
{% include "home/frontend/best-ayurveda.html" %}
<!-- top brands -->
{% include "home/frontend/homeTopBrands.html" %}
<!-- home offers -->
{% include "home/frontend/homeOffers.html" %}
<!-- popular categories -->
{% include "home/frontend/homePopularCategories.html" %}
<!-- testominal -->
{% include "home/frontend/testominal.html" %}

<!-- 
</div> -->
{% endblock %}


<!-- script -->
{% block script %}
<script>
    //main-slider
    $(".slider-carousel ").owlCarousel({
        loop: true,
        margin: 0,
        autoplay: 3000,
        nav: false,
        dots: false,
        navText: [
            '<i class="fa fa-angle-left" aria-hidden="true"></i>',
            '<i class="fa fa-angle-right" aria-hidden="true"></i>'
        ],
        navContainer: '.banner__container .custom-nav',
        responsive: {
            0: {
                items: 1,
            },
            1000: {
                items: 1,
            },
        },
    });
</script>
<script>
    console.log('block script')
    $('#cart-modal').hide();
    $('document').ready(function() {
        $(".submit-btn").click(function(event) {
            event.preventDefault();
            // e.stopImmediatePropagation();
            var formData = $(this).parents('form').serialize();
            console.log(formData);
            $.ajax({
                type: "GET", // "POST"
                url: "{% url 'cart' %}",
                data: formData,
                success: function(data) {
                    showFlashMessage(data.flash_message);
                    $.notify("Added to cart", "success");
                    updateCartItemCount();

                },
                error: function(response, error) {
                    console.log(response)
                        // console.log(error)
                        // $("#add-form").submit()
                }
            })

            // $("#add-form").submit()

        })
    });
</script>

<script>
    function updateCartItemCount() {
        var badge = $("#lblCartCount");

        $.ajax({
            type: "GET",
            url: "{% url 'item_count' %}",
            success: function(data) {
                badge.text(data.count);
                console.log(data.count);

            },
            error: function(response, error) {
                console.log(response)
                $.notify("Failed to add to cart", "error");
                console.log(error);
            }

        })

    }
    $(document).ready(function() {

        updateCartItemCount()
    })
</script>

<script type="text/javascript">
    function showFlashMessage(message) {

        var template = "<div class='container container-alert-flash'>" +
            "<div class='col-sm-3 col-sm-offset-8'> " +
            "<div class='alert alert-success alert-dismissible' role='alert'>" +
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
            "<span aria-hidden='true'>&times;</span></button>" +
            message + "</div></div></div>"
        $("body").append(template);
        $(".container-alert-flash").fadeIn();
        setTimeout(function() {
            $(".container-alert-flash").fadeOut();
        }, 1800);

    }
</script>




{% endblock %}