{% load static %}
<header>
    <div class="top-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2 col-sm-3 col-3 order-1 align-self-center">
                    <div class="logo_container">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="https://atmpharmacy.com/wp-content/uploads/2019/06/atm01.png" class="img-fluid" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12 order-lg-2 order-3">
                    <div class="top-header__searchbar">
                        <form class="" id="nav-product-search" method="GET" role="search" action='{% url "products" %}'>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                <input type="text" class="form-control atm-input top-header__location" disabled value="Kathmandu">
                                <input type="text" name="q" value='{{ request.GET.q }}' class="form-control atm-input top-header__search" placeholder="Search for medicine & Wellness Products..">
                                <span onclick="$('#nav-product-search').submit()" class="input-group-text top-header-search-btn"><i class="fas fa-search"></i></span>
                            </div>
                        </form>
                    </div>
                    <div class="row medicine">
                        <div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block ">
                            <div class="medicine-block">
                                <div class="img">
                                    <img src="https://www.netmeds.com/assets/version1586245399/gloryweb/images/icons/medicine.svg">
                                </div>
                                <div class="title">
                                    <h6>Medicine</h6>
                                    <p>Over 2500 products</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block ">
                            <div class="medicine-block">
                                <div class="img">
                                    <img src="https://www.netmeds.com/assets/version1586245399/gloryweb/images/icons/medicine.svg">
                                </div>
                                <div class="title">
                                    <h6>Medicine</h6>
                                    <p>Over 2500 products</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block ">
                            <div class="medicine-block">
                                <div class="img">
                                    <img src="https://www.netmeds.com/assets/version1586245399/gloryweb/images/icons/medicine.svg">
                                </div>
                                <div class="title">
                                    <h6>Medicine</h6>
                                    <p>Over 2500 products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-9 order-lg-3 order-2">
                    <div class="d-flex flex-row align-items-center">
                        <div class="top-header__cart d-flex flex-row align-items-center justify-content-end">
<<<<<<< HEAD
                            {% if user.is_authenticated %}
                                <a href="{% url 'cart' %}">
                                {% else %}
                                    <a href="/guest_cart_view">
                                {% endif %}
                                <div class="top-header__cart-icon">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-count" id="lblCartCount">
                                        {% if not user.is_authenticated %}{{ request.session.cart_item_count }} {% endif %}</span>
=======
                            <a href="{% url 'cart' %}">
                                <div class="top-header__cart-icon">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-count" id="lblCartCount">{{ request.session.cart_item_count }}</span>
>>>>>>> f2f72b2010dbdb713cb0c7f98fcb3f98720389fd
                                </div>

                            </a>
                        </div>
                        <div class="top-header__account">
                            <div class="dropdown">
                                <a class="nav-link top-header__account---nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <div class="d-flex flex-row align-items-center justify-content-end">
                                        <div class="top-header__content">
                                            <div class="top-header__content---price">
                                                My Account
                                            </div>
                                        </div>
                                        <div class="top-header__icon">
                                            <i class="far fa-user"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu top-header__dropdownAuth" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item top-header__dropdownAuth---signin btn btn-buy-now" href="{% url 'login' %}">Login</a>
                                    </li>
                                    <li class="mt-3 text-medium-color f-14 font-weight-500 border-top">
                                        New User
                                    </li>
                                    <li>
                                        <a class="dropdown-item top-header__dropdownAuth---signup btn btn-add-cart" href="{% url 'register' %}">Sign up</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6 offset-lg-2 d-none d-sm-none d-md-none d-lg-block">
                            <button type="button" class="btn btn-upload btn-block">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg navigation-menu d-none d-sm-none d-md-none d-lg-block">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">

                {% if categories.count > 0 %} {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="">{{ category.slug }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="{% url 'categories' %}">View All</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">COVID Essentials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Eyewear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Ayush</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Fitness</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Personal Care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Mom & Baby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Surgicals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-edit" href="#">Sexual Wellness</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>