{% load static %}
<section class="testominals backgroundGrey">
    <div class="container-fluid">

        <h4 class="testominals__title">What Our Clients Say</h4>

        <div class="owl-carousel owl-theme testominals-carousel">
            {% if gl_testimonials.count > 0 %}
                {% for object in gl_testimonials %}
                <div class="item">
                    <div class="testominals__block">
                        <p class="testominals__text">{{object.description}}</p>
                        <div class="d-flex bd-highlights">
                            <div class="testominals__image">
                                <div class="testominals__image---container">
                                    <img src="{{ object.photo.url }}" class="img-fluid" alt="{{object.name}}">
                                </div>
                            </div>
                            <div>
                                <h6 class="testominals__name">{{object.name}}</h6>
                                <p class="testominals__address">{{object.location}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            {% else %}
            <div class="item">
                <div class="testominals__block">
                    <p class="testominals__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vel, animi repellendus porro, ipsa voluptate id laboriosam earum quidem ducimus temporibus culpa commodi ad quas doloribus dicta eos. Velit, eum!</p>
                    <div class="d-flex bd-highlights">
                        <div class="testominals__image">
                            <div class="testominals__image---container">
                                <img src="{% static 'home/images/userimg.png' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div>
                            <h6 class="testominals__name">Sita Nepal</h6>
                            <p class="testominals__address">Bharatpur</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testominals__block">
                    <p class="testominals__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vel, animi repellendus porro, ipsa voluptate id laboriosam earum quidem ducimus temporibus culpa commodi ad quas doloribus dicta eos. Velit, eum!</p>
                    <div class="d-flex bd-highlights">
                        <div class="testominals__image">
                            <div class="testominals__image---container">
                                <img src="{% static 'home/images/userimg.png' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div>
                            <h6 class="testominals__name">Sita Nepal</h6>
                            <p class="testominals__address">Bharatpur</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testominals__block">
                    <p class="testominals__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vel, animi repellendus porro, ipsa voluptate id laboriosam earum quidem ducimus temporibus culpa commodi ad quas doloribus dicta eos. Velit, eum!</p>
                    <div class="d-flex bd-highlights">
                        <div class="testominals__image">
                            <div class="testominals__image---container">
                                <img src="{% static 'home/images/userimg.png' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div>
                            <h6 class="testominals__name">Sita Nepal</h6>
                            <p class="testominals__address">Bharatpur</p>
                        </div>
                    </div>
                </div>
           
            </div>
            {% endif %}
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#31859c" fill-opacity="1" d="M0,224L48,229.3C96,235,192,245,288,229.3C384,213,480,171,576,176C672,181,768,235,864,245.3C960,256,1056,224,1152,186.7C1248,149,1344,107,1392,85.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
</section>