/* LOGIN PAGE */

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 68px 100px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .login-section-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .login-section-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
  }
}

.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (max-width: 575px) {
  .login-wrapper {
    width: 100%;
  }
}

.login-wrapper label {
  font-size: 14px;
  font-weight: bold;
  color: #b0adad;
}

.login-wrapper .form-control {
  border: 1px solid rgb(211, 208, 208);
  border-radius: 2px;
  padding: 9px 5px;
  min-height: 40px;
  font-size: 14px;
  font-weight: normal;
}

.login-wrapper .form-control::-webkit-input-placeholder {
  color: #b0adad;
}

.login-wrapper .form-control::-moz-placeholder {
  color: #b0adad;
}

.login-wrapper .form-control:-ms-input-placeholder {
  color: #b0adad;
}

.login-wrapper .form-control::-ms-input-placeholder {
  color: #b0adad;
}

.login-wrapper .form-control::placeholder {
  color: #b0adad;
}

@media (max-width: 575px) {
  .login-wrapper a.forgot-password-link {
    margin-bottom: 16px;
  }
}

.login-title {
  font-size: 24px;
  color: #4a4a4a;
  font-weight: bold;
  margin-bottom: 25px;
}

.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}

.login-form-button {
  height: 40px !important;
  width: 100%;
  border-radius: 3px !important;
  font-weight: bold !important;
  background-color: #29ade6 !important;
  font-size: 16px !important;
  color: #fff;
  margin-top: 15px;
}

.login-form-button:hover {
  color: white;
}

.site-layout .site-layout-background {
  background: #f2f3f7;
}

.logo-expand-true {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.logo-img {
  /* height: 28px; */
  margin: 2px 0px 0px 10px;
  width: auto;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.sidebar-main-menu {
  padding-top: 10px;
}

.ant-menu.ant-menu-dark {
  background: #333a56 !important;
  font-weight: 500;
  font-size: 14px !important;
  color: white !important;
}

.ant-layout-sider {
  background: #333a56 !important;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.ant-menu-item .anticon {
  margin-right: 0px !important;
  color: white !important;
}

.ant-menu-item:hover {
  background: #54637c !important;
}

.menu-item-name {
  color: white;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #333a56 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #333a56 !important;
}

.menu-items:hover > .menu-item-sub {
  display: block;
}

.menu-item-sub {
  display: none;
}

/* .ant-popover {
  z-index: 1 !important;
} */

.ant-popover-arrow {
  display: none !important;
}

.pop-box {
  margin-left: 100px !important;
}

ul.menu-ul {
  list-style: none;
}

.ant-popover-inner-content {
  padding: 0px !important;
}

/* .sub-menu {
  font-size: 12px;
  color: white !important;
  padding: 3px 12px !important;
  background-color: #2e3f5e !important;
 } */

li.sub-menu-item.ant-menu-item.ant-menu-item-only-child {
  background-color: #333a56 !important;
  color: white !important;
  margin: 0px !important;
  padding: 0px 10px !important;
  font-size: 13px;
}

li.sub-menu-item.ant-menu-item.ant-menu-item-only-child:hover {
  background-color: #495261 !important;
  color: white !important;
}

.ant-layout-header {
  background-color: white !important;
  /* box-shadow: 2px 2px 3px 3px #ccc; */
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content ul {
  list-style-type: none;
  margin-right: 10px;
  padding: 0;
  overflow: hidden;
}

.header-content ul li {
  float: right;
  /* margin-right: 15px; */
}

.header-content {
  float: right;
}

.nav-link > .fa {
  position: relative;
  width: auto;
  font-size: 26px;
  color: #333a56;
}

.ant-dropdown.ant-dropdown-placement-bottomRight.ant-dropdown-hidden {
  left: 0px !important;
  top: 0px !important;
}

.ant-menu-dark .ant-menu-item > a {
  color: white !important;
  padding: 3px 10px !important;
}

.ant-menu-dark .ant-menu-item > a:hover {
  color: white !important;
}

.fa.bell-icon {
  color: rgb(233, 172, 17);
}

.fa.user-icon {
  color: #333a56;
}

span.anticon.anticon-right.menu-item-arrow-icon {
  font-size: 12px;
}

.site-layout-background {
  padding: 12px 20px;
}

.admin-breadcrumb.ant-breadcrumb {
  font-size: 13px;
}

.ant-table-tbody > tr > td {
  padding: 10px 7px !important;
}

.ant-table-thead > tr > th {
  padding: 10px 7px !important;
}

.page-title {
  font-size: 22px;
  font-weight: normal;
}

.spacing {
  margin-top: 20px;
}

.ant-page-header-heading-title {
  font-size: 22px;
  font-weight: normal;
}

.ant-page-header.site-page-header.ant-page-header-ghost {
  padding: 0px 0px !important;
  margin-top: 20px;
}

.ant-btn {
  border-radius: 2px !important;
}

.ant-btn-primary {
  background: #333a56 !important;
  border-color: #333a56 !important;
}

a.btn-link {
  color: white;
}

a.btn-link:hover {
  color: white;
  text-decoration: none;
}

.site-custom-tab-bar {
  z-index: 1;
  background: white;
}
/* 
.ant-tabs-nav.site-custom-tab-bar {
  padding-left: 15px;
} */

.ant-tabs-tab.ant-tabs-tab-active {
  border-radius: 0px !important;
}

.ant-tabs-tab {
  border-radius: 0px !important;
}

.ant-tabs-card.ant-tabs-top
  > div
  > .ant-tabs-nav
  .ant-tabs-tab:not(:last-of-type) {
  margin: 0px !important;
}

.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background: white;
  color: #333a56;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: goldenrod;
}

.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  border: white !important;
}

.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
  border-bottom: 2px solid goldenrod !important;
  margin-top: -2px;
}

.tab-title {
  font-weight: 600;
  font-size: 16px;
  color: #333a56;
  background-color: rgb(179, 220, 226);
  padding: 8px 8px 8px 15px;
}

.tab-content {
  background-color: white;
  border: 1px solid #f2f3f7;
  margin-bottom: 20px;
}

.tab-content.order {
  margin-bottom: 0px !important;
}

.last-sec {
  margin-bottom: 70px !important;
}

.tab-inner-content {
  padding: 8px 8px 40px 60px;
}

.tab-inner-content.order-detail {
  padding: 10px !important;
}

.btn-sticky {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

#myBtn {
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(243, 243, 243);
  box-shadow: 5px 5px 6px 6px rgb(158, 157, 157);
  color: goldenrod;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}

.ck-editor__editable_inline {
  min-height: 200px;
  width: 100%;
}

button.ant-btn.save-btn {
  background-color: #3c4361 !important;
  border: none !important;
  font-weight: 500;
}

button.ant-btn.save-btn:hover {
  background-color: #535c85 !important;
}

button.ant-btn.draft-btn {
  /* background-color: goldenrod !important; */
  font-weight: 500;
}

button.ant-btn.draft-btn:hover {
  color: #6fb7c2;
  border: 1px solid #6fb7c2;
}

button.ant-btn.extra-btn:hover {
  color: #6fb7c2;
  border: 1px solid #6fb7c2;
}

.ant-input {
  border-radius: 0px !important;
  border: 1px solid rgb(200, 200, 200) !important;
}

.ant-input:hover {
  border: 1px solid #6fb7c2 !important;
}

.ant-input:focus {
  box-shadow: none !important;
}

.ant-select-selector {
  border-radius: 0px !important;
  border: 1px solid rgb(200, 200, 200) !important;
  box-shadow: none !important;
}

.ant-select-selector:hover {
  border: 1px solid #6fb7c2 !important;
}

.convention {
  color: rgb(112, 112, 112);
  font-size: 12px;
}

.ant-table table thead > tr > th {
  background-color: rgb(179, 220, 226);
}

.ant-layout-sider-children {
  height: 100vh;
  /* position:fixed; */
}

.ant-modal-content {
  border-radius: 0px;
}

.sidebar-title {
  font-weight: 600;
  font-size: 16px;
  color: #333a56;
  background-color: rgb(179, 220, 226);
  padding: 12px 8px 11px 20px;
}

.sidebar-inner-content {
  padding: 8px 8px 10px 20px;
}

.ant-form-item-has-error .ant-form-item-explain {
  font-size: 13px !important;
}

.ant-input-number {
  border: 1px solid rgb(200, 200, 200) !important;
  border-radius: 0px !important;
}

.ant-input-number:hover {
  border: 1px solid #6fb7c2 !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

ul.add-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul.add-tabs li {
  float: left;
  /* border-right:1px solid #bbb; */
}

ul.add-tabs li:last-child {
  border-right: none;
}

ul.add-tabs li a {
  display: block;
  color: #4a4a4a;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}

ul.add-tabs li a:hover:not(.active-tab) {
  color: rgb(209, 154, 14) !important;
}

.active-tab {
  border-bottom: 2px solid rgb(209, 154, 14);
  color: rgb(209, 154, 14) !important;
  font-size: 15px;
}

.fa-eye {
  color: rgb(89, 196, 212);
}

.order-address {
  display: flex;
  justify-content: space-between;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0px !important;
}

.order-address-title {
  font-weight: 500;
}

.order-address-detail {
  font-weight: 300;
}

.item-sec-box {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px 20px;
  border-radius: 4px;
}

p.order-item-box {
  line-height: 10px;
}

p.prod-no {
  font-style: italic;
  font-size: 12px;
  color: rgb(107, 106, 106);
}

p.prod-name {
  font-weight: 500;
}

.order-total-amount {
  font-weight: 500;
}

.item-count {
  color: #4a4a4a;
}

.qty-label {
  font-weight: normal;
}

.order-transaction {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

.edit-icon {
  color: rgb(102, 102, 192);
}

.delete-icon {
  color: rgb(243, 46, 46);
}

.ant-popover-message {
  padding: 10px 10px !important;
}

.ant-popover-buttons {
  padding: 10px !important;
}

.ant-popover-message > .anticon {
  padding-top: 5px !important;
  color: #6fb7c2 !important;
}

.product-detail-titles {
  font-weight: 500;
  margin-right: 10px;
}

.product-detail-info {
  line-height: 18px;
}

.image-lightbox {
  max-height: 223px;
  overflow-y: scroll;
}

.plus-icon {
  color: #333a56;
}

.fa,
.far {
  font-size: 15px;
}

.default-file-list {
  max-height: 225px;
  overflow-y: scroll;
}

.convention-title {
  font-size: 14px;
}

.col-md-1 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.pr-none {
  padding-right: 0px !important;
}

.ant-btn.inline-btn {
  border-radius: 0px !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item {
  width: 190px !important;
}

.modal-inner-title {
  font-size: 15px;
  font-weight: 500;
  color: #2c2626;
}

.modal-desc p {
  line-height: 18px;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

hr.hrmodal {
  margin-top: -10px;
}

.modal-inner-sub-title {
  font-size: 14px;
  font-weight: 500;
  color: #2c2626;
}

.card-billing {
  background-color: rgb(159, 206, 188);
}

.card-shipping {
  background-color: #e4bbdb;
}

.float-right {
  float: right;
}

.input-number {
  width: 100%;
}

.meta-desc-page-content {
  margin-top: 20px;
}

.meta-note {
  border: 1px dotted #5a5858;
  padding: 10px;
  border-radius: 5px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-weight: 500;
  color: #4a4a4a;
  font-size: 14px;
}

.collapse-content {
  padding-left: 25px;
}

.collapse-form {
  width: 90%;
  background-color: #f5f5f6;
  padding: 8px 20px;
  border-radius: 4px;
}

span.small-text-label {
  font-size: 11px;
}

.label-bold {
  color: #4a4a4a;
  font-size: 13px;
}
.expiry-inner-30 > .ant-card.ant-card {
  background-color: rgb(231, 119, 119);
  border-radius: 5px;
}

.expiry-inner-30 > .ant-card.ant-card:before {
  content: "\f073";
  font-family: FontAwesome;
  position: absolute;
  font-size: 100px;
  top: -20%;
  left: 50%;
  opacity: 0.2;
}

.expiry-inner-0 > .ant-card.ant-card {
  background-color: rgb(230, 138, 138);
  border-radius: 5px;
}

.expiry-inner-0 > .ant-card.ant-card:before {
  content: "\f073";
  font-family: FontAwesome;
  position: absolute;
  font-size: 100px;
  top: -17%;
  left: 50%;
  opacity: 0.2;
}

.stock-inner-50 > .ant-card.ant-card {
  background-color: rgb(145, 125, 231);
  border-radius: 5px;
}

.stock-inner-50 > .ant-card.ant-card:before {
  content: "\f16c";
  font-family: FontAwesome;
  position: absolute;
  font-size: 100px;
  top: -20%;
  left: 50%;
  opacity: 0.2;
}

.stock-inner-0 > .ant-card.ant-card {
  background-color: rgb(171, 156, 236);
  border-radius: 5px;
}

.stock-inner-0 > .ant-card.ant-card:before {
  content: "\f16c";
  font-family: FontAwesome;
  position: absolute;
  font-size: 100px;
  top: -17%;
  left: 50%;
  opacity: 0.2;
}

.ant-statistic.dashboard-stats > .ant-statistic-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.ant-card.dashboard-cards > .ant-card-head {
  min-height: 45px;
}

.ant-card.dashboard-cards
  > .ant-card-head
  > .ant-card-head-wrapper
  > .ant-card-head-title {
  padding: 10px 0;
}

.ant-card.dashboard-cards > .ant-card-body {
  margin-top: -10px;
}
