<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-cart">
        <div class="modal-content">
            <div class="modal-header modal-header-cart">
                <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body cart">
                <div class="table-responsive">
                    <table class="table cart__table">
                        <thead>
                            <tr>
                                <td>product</td>
                                <td></td>
                                <td>color</td>
                                <td>size</td>
                                <td>price</td>
                                <td>qty</td>
                                <td>amount</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="120"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></td>
                                <td width="270" class="cart__table---product-title">Hawaiian Floral Summer Over Size Collar Half Shirt For Men</td>
                                <td>Grey</td>
                                <td>M</td>
                                <td>Nrs: 1100</td>
                                <td width="140">
                                    <div class="qty">
                                        <form>
                                            <div class="input-group">
                                                <span class="input-group-text minus"><i class="fas fa-minus"></i></span>
                                                <input disabled type="text" class="form-control count" name="qty" value="1">
                                                <span class="input-group-text plus"><i class="fas fa-plus"></i></span>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>Nrs: 1100</td>
                                <td><i class="fas fa-times" type="button"></i></td>
                            </tr>
                            <tr>
                                <td width="120"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></td>
                                <td width="270" class="cart__table---product-title">Hawaiian Floral Summer Over Size Collar Half Shirt For Men</td>
                                <td>Grey</td>
                                <td>M</td>
                                <td>Nrs: 1100</td>
                                <td width="140">
                                    <div class="qty">
                                        <form>
                                            <div class="input-group">
                                                <span class="input-group-text minus"><i class="fas fa-minus"></i></span>
                                                <input disabled type="text" class="form-control count" name="qty" value="1">
                                                <span class="input-group-text plus"><i class="fas fa-plus"></i></span>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>Nrs: 1100</td>
                                <td><i class="fas fa-times" type="button"></i></td>
                            </tr>
                            <tr>
                                <td width="120"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></td>
                                <td width="270" class="cart__table---product-title">Hawaiian Floral Summer Over Size Collar Half Shirt For Men</td>
                                <td>Grey</td>
                                <td>M</td>
                                <td>Nrs: 1100</td>
                                <td width="140">
                                    <div class="qty">
                                        <form>
                                            <div class="input-group">
                                                <span class="input-group-text minus"><i class="fas fa-minus"></i></span>
                                                <input disabled type="text" class="form-control count" name="qty" value="1">
                                                <span class="input-group-text plus"><i class="fas fa-plus"></i></span>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>Nrs: 1100</td>
                                <td><i class="fas fa-times" type="button"></i></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-2 offset-8 align-self-center">
                        <p class="total">Total: Nrs 23459</p>
                    </div>
                    <div class="col-2">
                        <a href="" class="btn btn-theme rounded-pill btn-block purchase-btn">Complete Purchase</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>