/* LOGIN CSS */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  /*.login,
  .image {
    min-height: 100vh;
  }*/
  
  .bg-image {
    background-image: url('../images/l1.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .bg-image-login {
    background-image: url('../images/l2.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .login-h-text {
    line-height: 2rem;
    font-size: 15px;
    margin-bottom: 25px;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    /* border-radius: 2rem; */
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1.6rem;
  }
  
  .form-label-group label {
    font-weight: 400;
    padding-bottom: 10px;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  .form-control.lg-input {
    border-radius: 0px;
  }
  
  .form-control:focus {
    border: 1px solid #4ac4d0;
    outline: 0;
    box-shadow: none;
  }
  
  button.btn.btn-primary.btn-login.text-uppercase.font-weight-bold.mb-2.signup:focus {
    border: none;
    box-shadow: none;
  }
  
  button.btn.btn-primary.btn-login.text-uppercase.font-weight-bold.mb-2.signup {
    background-color: #35a0aa;
    border: none;
  }
  
  a.small {
    font-weight: 500;
    color: #35a0aa;
  }
  
  .bottom-text-login {
    margin-top: 10px;
    font-size: 14px;
  }
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
  
  .pass_show{position: relative} 
  
  .pass_show .ptxt { 
    position: absolute; 
    top: 70%; 
    right: 10px; 
    z-index: 1; 
    color: #4ac4d0; 
    margin-top: -10px; 
    cursor: pointer; 
    transition: .3s ease all; 
    } 
  
  .pass_show .ptxt:hover{color: #333333;} 
  
  .center-reset {
    margin: auto;
    width: 40%;
    padding: 10px;
  }
  
  @media (max-width: 720px) {
    .center-reset {
      width: 70%;
    }
  }
  
  @media (max-width: 721px) and (max-width: 100px){
    .center-reset {
      width: 70%;
    }
  }