.text-theme-color {
    color: #036c93;
}

.text-white {
    color: #ffffff;
}

.text-light-color {
    color: #878787;
}

.text-medium-color {
    color: #4d4c4b;
}

.text-dark-color {
    color: #29221f;
}

.text-theme-green-color {
    color: #308649;
}

.bg-theme {
    background-color: #036c93;
}

.backgroundGrey {
    background-color: #f2f2f2;
}

.f-normal {
    font-size: 1rem;
}

.f-12 {
    font-size: 0.75rem;
}

.f-14 {
    font-size: 0.875rem;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.btn-large {
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    border-radius: 4px;
}

.atm-input:focus {
    box-shadow: none;
    border-color: #ced4da;
}

html,
body {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
    color: inherit;
}

a:visited {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

p {
    font-size: 1em;
}

@media (min-width: 20em) and (max-width: 60em) {
    p {
        font-size: calc( 1em + 0 * ( ( 100vw - 20em) / 40));
    }
}

@media (min-width: 60em) {
    p {
        font-size: 1em;
    }
}

h1 {
    font-size: 1.30696em;
    line-height: 1;
}

@media (min-width: 20em) and (max-width: 60em) {
    h1 {
        font-size: calc( 1.30696em + 0.7044 * ( ( 100vw - 20em) / 40));
    }
}

@media (min-width: 60em) {
    h1 {
        font-size: 2.01136em;
    }
}

h2 {
    font-size: 1.23882em;
    line-height: 1;
}

@media (min-width: 20em) and (max-width: 60em) {
    h2 {
        font-size: calc( 1.23882em + 0.51018 * ( ( 100vw - 20em) / 40));
    }
}

@media (min-width: 60em) {
    h2 {
        font-size: 1.74901em;
    }
}

h3 {
    font-size: 1.17424em;
    line-height: 1;
}

@media (min-width: 20em) and (max-width: 60em) {
    h3 {
        font-size: calc( 1.17424em + 0.34663 * ( ( 100vw - 20em) / 40));
    }
}

@media (min-width: 60em) {
    h3 {
        font-size: 1.52087em;
    }
}

h4 {
    font-size: 1.11302em;
    line-height: 1;
}

@media (min-width: 20em) and (max-width: 60em) {
    h4 {
        font-size: calc( 1.11302em + 0.20947 * ( ( 100vw - 20em) / 40));
    }
}

@media (min-width: 60em) {
    h4 {
        font-size: 1.3225em;
    }
}

h5 {
    font-size: 1.055em;
    line-height: 1;
}

@media (min-width: 20em) and (max-width: 60em) {
    h5 {
        font-size: calc( 1.055em + 0.095 * ( ( 100vw - 20em) / 40));
    }
}

@media (min-width: 60em) {
    h5 {
        font-size: 1.15em;
    }
}

h6 {
    font-size: 1em;
    line-height: 1;
}

@media (min-width: 20em) and (max-width: 60em) {
    h6 {
        font-size: calc( 1em + 0 * ( ( 100vw - 20em) / 40));
    }
}

@media (min-width: 60em) {
    h6 {
        font-size: 1em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}


/* For IE10 */

select::-ms-expand {
    display: none;
}

input,
select,
button,
textarea,
.form-select {
    box-shadow: none;
}

input:active,
input:focus,
select:active,
select:focus,
button:active,
button:focus,
textarea:active,
textarea:focus,
.form-select:active,
.form-select:focus {
    border-color: #ced4da;
    box-shadow: none;
    outline: 0;
}

.btn {
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
}

.btn:focus,
.btn:hover {
    box-shadow: none;
    outline: 0;
}

.btn-theme {
    color: #ffffff;
    background-color: #036c93;
    border-radius: 0;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active {
    color: #ffffff;
    cursor: pointer;
}

.btn-pink {
    background-color: #db3c40;
    color: #ffffff;
    border-radius: 0.25rem;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
    color: #ffffff;
    background-color: #c03438;
    cursor: pointer;
}

.btn-add-cart {
    color: #ffffff;
    background-color: #4d4c4b;
    border-radius: 0;
}

.btn-add-cart:hover,
.btn-add-cart:focus,
.btn-add-cart:active {
    background-color: #29221f;
    color: #ffffff;
    cursor: pointer;
}

.btn-next-outline {
    padding: 0.25rem 1rem;
    color: #29221f;
    border: 1px solid #ced4da;
}

.btn-next-outline:hover,
.btn-next-outline:active,
.btn-next-outline:focus {
    background: #fafafa;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.1);
}

.btn-cash {
    background-color: #fff;
    color: #4d4c4b;
}


/* btn view outline all */

.btn-view {
    background-color: #308649;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn-view:hover,
.btn-view:focus,
.btn-view:active {
    color: #fff;
    background-color: #29733f;
}

.btn-outline-view {
    border: 2px solid #308649;
    color: #308649;
    background-color: #ffffff;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.btn-outline-view:hover,
.btn-outline-view:focus,
.btn-outline-view:active {
    border: 2px solid #308649;
    color: #fff;
    background-color: #308649;
}


/* place holder color */

input[type="text"]::-webkit-input-placeholder {
    /* Edge */
    color: #c0c0c0;
}

input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer */
    color: #c0c0c0;
}

input[type="text"]::placeholder {
    color: #c0c0c0;
}


/* end view outline all  */

html {
    scroll-behavior: smooth;
}


/* header navbar */


/* top header */

.top-header {
    background-color: #32aeb1;
    padding: 8px 0;
}

.top-header .logo_container .logo img {
    width: 150px;
}

.top-header__searchbar {
    margin-top: 8px;
}

.top-header__location,
.top-header__search {
    padding: 0.5rem 0.75rem;
}

.top-header__location {
    max-width: 150px;
    border-left: 0;
    padding-left: 0;
    font-size: 0.875rem;
}

.top-header__search {
    font-size: 0.875rem;
}

.top-header__search,
.top-header__search:active {
    border-color: #e9ecef;
}

.top-header-search-btn {
    border: 1px solid #e9ecef;
    color: #32aeb1;
}

.top-header__dropdownAuth {
    padding: 0.5rem;
    margin-top: 0.75rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    position: relative;
}

.top-header__account---nav-link {
    padding: 0;
}

.top-header__dropdownAuth::after {
    content: '\f0d8';
    position: absolute;
    top: -18px;
    left: 50%;
    color: #ffffff;
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    transform: translateX(-50%);
}

.top-header__dropdownAuth li {
    margin-bottom: 0.5rem;
    text-align: center;
}

.top-header__dropdownAuth li:last-child {
    margin-bottom: 0;
}

.top-header__cart-icon {
    position: relative;
}

.top-header__icon i {
    font-size: 1.25rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, .3);
    padding: 10px 11px;
    border-radius: 25px;
}

.top-header__content {
    margin-left: 2rem;
}

.top-header__icon {
    margin-left: 0.5rem;
}

.top-header__content---price {
    font-size: 0.9375rem;
    font-weight: 500;
    color: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.top-header__content---text {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ffffff;
}

.top-header__cart {
    background-color: rgba(255, 255, 255, .8);
    padding: 4px;
    border-radius: 2px;
}

.top-header__cart .top-header__cart-icon {
    background-color: #32aeb1;
    border-radius: 16px 0 16px 0;
    text-align: center;
}

.top-header__cart .top-header__cart-icon i {
    color: #fff;
    font-size: 18px;
    padding: 5px 8px;
}

.cart-count {
    display: block;
    line-height: 16px;
    font-size: 0.75rem;
    color: #ffffff;
    position: absolute;
    top: 0%;
    right: -64%;
    background: #fea73a;
    padding: 4px 8px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
}


/* end top header */

.navigation-menu {
    padding: 0.25rem 0 0;
}

.navigation-menu .nav-item .nav-link-edit {
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
}

@media (min-width:1200px) {
    .navigation-menu .nav-item .nav-link-edit {
        padding: 0.5rem 1rem;
    }
}

.navigation-menu .nav-item .nav-link-edit:hover,
.navigation-menu .nav-item .nav-link-edit:focus,
.navigation-menu .nav-item .nav-link-edit:active {
    color: #308649;
}

.navigation-menu .nav-item .nav-link-edit::after {
    content: "";
    display: block;
    width: 0;
    margin-top: 4px;
    border-bottom: 2px solid #308649;
    transition: width 0.3s;
}

.navigation-menu .nav-item .nav-link-edit:hover::after,
.navigation-menu .nav-item .nav-link-edit:hover::before {
    width: 100%;
    transition: width 0.3s;
    color: #308649;
}

.medicine {
    margin-top: 24px;
}

.medicine-block {
    display: flex;
    align-items: center;
}

.medicine-block img {
    width: 40px;
    margin-right: 8px;
}

.medicine-block .title {
    padding-bottom: 0;
}

.medicine-block .title h6 {
    font-weight: 500;
    color: #fff;
    margin-bottom: 4px;
}

.medicine-block .title p {
    font-size: 11px;
    color: #fff;
}


/* end header navbar */

#side-drawer {
    height: 100vh;
    width: 300px;
    /*Ideal width for sidebar accdg to https://forums.envato.com/t/standard-sidebar-width/75633*/
    top: 0;
    left: -300px;
    z-index: 1032;
    /*z-index of standard bootstrap navbar is 1030 + 1 offset due to side-drawer-void*/
    transition: left 0.25s ease;
    font-size: 0.875rem;
}

#side-drawer-void {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1031;
    /*z-index of standard bootstrap navbar is 1030*/
    background: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1199px) {
    .top-header__account,
    .top-header__wishlist {
        margin-right: 1.5rem;
    }
}

@media only screen and (max-width: 991px) {
    .top-header__account,
    .top-header__wishlist {
        margin-right: 2rem;
    }
    .top-header__icon i {
        font-size: 1.5rem;
    }
    .top-header__searchbar {
        max-width: unset;
        margin-left: 0rem;
    }
    .medicine {
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .top-header__icon i {
        font-size: 1.25rem;
    }
    .top-header__content {
        display: none;
    }
}


/*************** footer css ********************/

.footer {
    background-color: #27424e;
    padding: 2rem 0;
    color: #ffffff;
    font-weight: 400;
}

.footer h6 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: .5rem;
}

.footer h6::after {
    content: '';
    display: block;
    margin-top: 8px;
    border-bottom: 2px solid #f5f5f5;
    width: 15%;
}

.footer__list-item {
    font-size: 0.75rem;
    font-weight: 300;
}

.footer__list-item li {
    padding: 0.25rem 0;
}

.footer .connect-title {
    font-size: 0.9375rem;
    font-weight: 400;
    margin-bottom: 8px;
    padding-left: 8px;
}

.footer__list-item .nav-link-edit {
    padding: 0 8px;
    font-size: 24px
}

.footer__list-item .btn img {
    height: 18px;
}

.footer__list-item .nav-link-edit img:hover {
    box-shadow: none;
}

.btn-footer-signup {
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 5px;
    padding: 0.5rem 2rem;
}

.bottom-footer {
    background-color: #31859c;
    font-size: 0.875rem;
    color: #fff;
    padding: 0.75rem 0;
}

.button-cash li {
    margin-left: 8px;
}

.button-cash li:first-child {
    margin-left: 0px;
}


/*************** end footer css ********************/


/*************** testominal ********************/

.testominals {
    padding: 2rem 0;
    position: relative;
}

.testominals svg {
    position: absolute;
    bottom: 0;
}

.testominals__block {
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #ced4da;
    border-top: 10px solid #036c93;
    border-radius: 30px 10px 10px;
}

.testominals__title {
    color: #4d4c4b;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.testominals__text {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #4d4c4b;
    line-height: 1.6;
}

.testominals__image {
    align-self: center;
    margin-right: 0.5rem;
}

.testominals__image---container {
    height: 50px;
    width: 50px;
}

.testominals__image---container img {
    max-height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.testominals__name {
    color: #2d3f48;
    font-weight: 700;
    margin-bottom: .5rem;
}

.testominals__address {
    color: #4d4c4b;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: capitalize;
}

.testominals-carousel .owl-dots .owl-dot {
    margin-right: .5rem;
    border-radius: 50%;
}

.testominals-carousel .owl-dots .owl-dot:last-child {
    margin-right: 0;
}

.testominals-carousel .owl-dots .owl-dot.active {
    border: 2px solid #fff;
}

.testominals-carousel .owl-dots .owl-dot.active span {
    background: #fff !important;
}

.testominals-carousel .owl-dots .owl-dot span {
    margin: 2px !important;
}


/***************** end testominal ****************/


/***************** banner slider ****************/

.banner__container {
    position: relative;
}


/* .banner__container .image-container {
    height: 300px;
    overflow: hidden;
}

.banner__container .image-container img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}  */

.banner__container .owl-theme .custom-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

.banner__container .owl-theme .custom-nav .owl-prev,
.banner__container .owl-theme .custom-nav .owl-next {
    position: absolute;
    color: inherit;
    background-color: rgba(0, 0, 0, .6);
    border: none;
    z-index: 2;
    margin: 0;
    padding: 5px 12px;
    border-radius: 25px;
    text-align: center;
    line-height: 16px;
}

.banner__container .owl-theme .custom-nav .owl-prev i,
.banner__container .owl-theme .custom-nav .owl-next i {
    font-size: 1.75rem;
    color: #fff;
}

.banner__container .owl-theme .custom-nav .owl-prev {
    left: 1rem;
}

.banner__container .owl-theme .custom-nav .owl-next {
    right: 1rem;
}

.banner__container .owl-theme .owl-nav .disabled {
    opacity: .7;
}

.side-banner .image-container {
    /* height: 300px; */
    overflow: hidden;
}

.side-banner .image-container img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}


/***************** end banner slider *****************/


/* ********** coupon card****************** */

.coupon-card {
    padding: 2rem 0;
}

.coupon-card .coupon-block {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.coupon-card .coupon-block .coupon-header {
    padding: 1rem;
}

.coupon-card .coupon-block .coupon-header .safe-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #036c93;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 2px 32px;
    transform: rotate(315deg);
    transform-origin: 43% 193%;
}

.coupon-card .coupon-block .coupon-header .discount-percent {
    margin-left: 32px;
}

.coupon-card .coupon-block .coupon-header .discount-percent span {
    border: 2px dashed red;
    border-radius: 4px;
    padding: 4px 8px;
    color: red;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875rem;
}

.coupon-card .coupon-block .coupon-body {
    padding: 0 1rem 1rem;
}

.coupon-card .coupon-block .coupon-body .coupon-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #4d4c4b;
    line-height: 1.4;
}

.coupon-card .coupon-block .coupon-body .coupon-detail {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #878787;
    font-size: 0.875rem;
    font-weight: 300;
}

.coupon-card .coupon-block .coupon-body .rating .fa-star {
    color: #878787;
}

.coupon-card .coupon-block .coupon-body .rating .active {
    color: orange;
}

.coupon-card .coupon-block .coupon-body .coupon-logo-container {
    overflow: hidden;
    height: 50px;
}

.coupon-card .coupon-block .coupon-body .coupon-logo-container img {
    object-fit: contain;
    max-height: 50px;
}

.coupon-card .coupon-block .coupon-body .price {
    color: green;
}


/* ************end coupon card********************** */

.banner {
    padding: 2rem 0;
}

.flashdeal {
    padding: 2rem 0;
}

.flashdeal__main--inner {
    text-align: center;
    height: auto;
    background-color: #f1f1f1;
}

.flashdeal__main--img {
    padding: 1rem 2rem;
    display: flex;
    vertical-align: middle;
    height: 200px;
}

.flashdeal__main--img---icon {
    width: 90px !important;
}

.flashdeal__main--img h5 {
    padding: 2rem 0 1.5rem;
    color: #ffffff;
    font-weight: 600;
}

.flashdeal__main--img img {
    max-height: 165px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.flashdeal__main--content {
    padding: 0.75rem;
}

.flashdeal__main--content---title,
.flashdeal__main--content---currentprice,
.flashdeal__main--content---previousprice {
    color: #4d4c4b;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: .5rem;
    font-size: 0.875rem;
}

.flashdeal__main--content---currentprice {
    margin-bottom: 0;
    background-color: #27c4d0;
    color: #ffffff;
    border: 1px solid #27c4d0;
    padding: 0.25rem .75rem;
}

.flashdeal__main--content---previousprice {
    text-decoration-line: line-through;
    margin-bottom: 0;
    border: 1px solid #27c4d0;
    padding: 0.25rem .75rem;
}

.flashdeal__main--bottom {
    padding: 0 0.75rem 1.625rem 0.75rem;
}

.flashdeal__main .time {
    color: #4d4c4b;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 0.25rem .375rem;
    text-align: center;
    margin: 0 .5rem;
    background-color: #c1fafb;
}

.offer-banner__block {
    padding: 1rem 0;
    color: #29221f;
}

.offer-banner__image {
    position: relative;
    max-height: 190px;
    overflow: hidden;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
}

.offer-banner__image---content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 1rem;
}

.offer-banner__image---content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.offer-banner__image---content h5 {
    margin-bottom: 0.75rem;
}

.offer-banner__image---content button {
    margin-bottom: 0.75rem;
}

.offer-banner__image---content small {
    font-size: 0.75rem;
}

.dailiyDealsProduct,
.shopBelow {
    margin-bottom: 2rem;
}

.products {
    padding: 2rem 0;
}

.products__heading {
    margin-bottom: 1rem;
}

.products__heading--title {
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.products__heading--viewall {
    float: right;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

.products__main {
    border: 1px solid #efefef;
    border-radius: 0.25rem;
    height: auto;
    margin-bottom: .5rem;
}

.products__main:hover .products__main--hoverItem {
    display: block;
}

.products__main--inner {
    background: #fff;
    border-radius: 0.25rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.products__main--img {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    padding: 2rem;
    display: table-cell;
    vertical-align: middle;
    height: 230px;
}

.products__main--img img {
    max-height: 165px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.products__main--hoverItem {
    display: none;
    position: absolute;
    right: .75rem;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.products__main--hoverItem .hover-icon {
    width: 35px;
    height: 35px;
    text-align: center;
    display: block;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    color: mediun-dark-color;
    background: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.products__main--content {
    padding: 0.75rem;
    background: #f1f1f1;
    border-radius: 0 0 0.25rem 0.25rem;
}

.products__main--content---title,
.products__main--content---price {
    color: #4d4c4b;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: .5rem;
    font-size: 0.875rem;
}

.products__main--content---price {
    color: #27c4d0;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .offer-banner__image img {
        width: 100%;
        object-fit: cover;
    }
}

.breadcrumbs {
    padding: 1rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    color: #878282;
}

.title {
    color: #4d4c4b;
    padding-bottom: 1.25rem;
}

.title span {
    font-weight: 300;
    font-size: 0.875rem;
}

.filterBlock__titile {
    color: #4d4c4b;
}


/* .filterMain {
    -webkit-box-shadow: -2px 2px 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: -2px 2px 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-top: 6px;
} */

.filterMain__listing .panel-group .panel {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 0.75rem;
    background: #fff;
}

.filterMain__listing .panel-group .panel:last-child {
    border-bottom: 0;
}

.filterMain__listing .panel-group .panel .panel-heading {
    padding: 0.5rem;
}

.filterMain__listing .panel-group .panel .panel-heading__title {
    font-size: 0.9375rem;
    color: #036c93;
    font-weight: 500;
    border-radius: 0;
}

.filterMain__listing .panel-group .panel .panel-heading__search-icon-block i {
    color: #878282;
    background: #d6d6d6;
    padding: .5rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 0.875rem;
}

.filterMain__listing .panel-group .panel .panel-heading__search-icon-block:hover i {
    color: #ffffff;
    background-color: #036c93;
    transition: all 0.3s ease-in-out;
}

.filterMain__listing .panel-group .panel .panel-search {
    padding: 0 .5rem .5rem;
    display: none;
}

.filterMain__listing .panel-group .panel .panel-search .search-input {
    border-radius: 0;
    font-size: 0.875rem;
    font-weight: 400;
    color: #4d4c4b;
}

.filterMain__listing .panel-group .panel .panel-search .search-input:focus,
.filterMain__listing .panel-group .panel .panel-search .search-input:active {
    box-shadow: none;
    border-color: #878282;
}

.filterMain__listing .form-group {
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
}

.filterMain__listing .form-group .formSelectionGroup {
    padding: 0 0.5rem 0.5rem;
    font-size: 0.875rem;
    max-height: 222px;
    overflow-y: auto;
}

.filterMain__listing .form-group .formSelectionGroup .formSelection-field {
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.filterMain__listing .form-group .formSelectionGroup .formSelection-field:last-child {
    margin-bottom: 0;
}

.filterMain__listing .form-group .formSelectionGroup .formSelection-field label {
    text-transform: capitalize;
    font-weight: 400;
    color: #878282;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterMain__listing .form-group .formSelectionGroup .formSelection-field .chbox {
    margin-right: 0.5rem;
}

.filterMain__listing .form-group .irs--flat .irs-bar,
.filterMain__listing .form-group .irs--flat .irs-from,
.filterMain__listing .form-group .irs--flat .irs-to,
.filterMain__listing .form-group .irs--flat .irs-single,
.filterMain__listing .form-group .irs--flat .irs-handle>i:first-child {
    background-color: #27c4d0;
}

.filterMain__listing .form-group .irs--flat .irs-from:before,
.filterMain__listing .form-group .irs--flat .irs-to:before,
.filterMain__listing .form-group .irs--flat .irs-single:before {
    border-top: #27c4d0;
}

.filterMain__listing .form-group .irs--flat .irs-line,
.filterMain__listing .form-group .irs--flat .irs-bar {
    height: 5px;
}

.filterMain__listing .form-group .irs--flat .irs-handle {
    top: 20px;
    width: 15px;
    height: 15px;
}

.filterMain__listing .form-group .irs--flat .irs-handle i:first-child {
    width: 15px;
    border-radius: 50%;
    left: 10%;
}

.paginationBlock {
    padding: .75rem;
    margin: 1.5rem 0;
    border: 1px solid #ced4da;
    border-left: 0;
    border-right: 0;
}

.paginationBlock ul {
    margin-bottom: 0;
}

.paginationBlock ul .page-item:not(:first-child) .page-link {
    margin-left: 0;
}

.paginationBlock ul li {
    font-weight: 400;
    font-size: 0.8375rem;
    margin-right: 5px;
}

.paginationBlock ul li:last-child {
    margin-right: 0;
}

.paginationBlock ul li.active .page-link {
    background-color: #036c93;
    border: none;
}

.paginationBlock ul li .page-link {
    width: 25px;
    padding: 0.25rem 0;
    text-align: center;
    background: #fff;
    border: 0;
    border-radius: 0.25rem;
    color: #4d4c4b;
    margin-left: 0;
    line-height: unset;
}

.paginationBlock ul li .page-link:focus {
    box-shadow: none;
}

.paginationBlock ul li .page-link:hover {
    color: #ffffff;
    background-color: #036c93;
}

.paginationBlock__count {
    font-size: 0.875rem;
    font-weight: 400;
    color: #878282;
}

.pad-top-bot {
    padding: 2rem 0;
}

.offer-banner__block {
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
}

.offer-banner__inner {
    padding: 0rem;
    display: flex;
    align-items: flex-end;
}

.offer-banner__inner---image {
    margin: 0 auto;
}

.offer-banner__inner---image img {
    object-fit: contain;
    max-height: 132px;
}

.offer-banner__inner---content {
    padding: 1.5rem 0rem;
}

.offer-banner__inner---content h6,
.offer-banner__inner---content small {
    margin-bottom: 0.5rem;
}

.offer-banner__inner---content small {
    font-size: 0.875rem;
    color: #878282;
}

.interested__slider {
    position: relative;
}

.interested__slider .owl-theme .custom-nav {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

.interested__slider .owl-theme .custom-nav .owl-prev,
.interested__slider .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 60px;
    color: inherit;
    background-color: #f0fefe;
    border: none;
    z-index: 2;
    padding: 0 1.25rem;
    margin: 0;
}

.interested__slider .owl-theme .custom-nav .owl-prev i,
.interested__slider .owl-theme .custom-nav .owl-next i {
    font-size: 1.75rem;
    color: #878282;
}

.interested__slider .owl-theme .custom-nav .owl-prev {
    left: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.15);
}

.interested__slider .owl-theme .custom-nav .owl-next {
    right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    box-shadow: -3px 3px 4px 2px rgba(0, 0, 0, 0.15);
}

.interested__slider .owl-theme .owl-nav .disabled {
    opacity: 0;
}

.reviewBlock {
    padding-bottom: 2rem;
}

.reviewBlock__heading {
    display: flex;
    margin-bottom: 1rem;
}

.reviewBlock__heading---item {
    margin-right: 1rem;
    align-self: center;
}

.reviewBlock__heading---item:last-child {
    margin-right: 0;
}

.reviewBlock__heading---item .rating-count {
    font-size: 0.8375rem;
    color: #878282;
    font-weight: 400;
}

.reviewBlock__heading---item .question-input-group {
    font-size: 0.875rem;
    font-weight: 400;
}

.reviewBlock__heading---item .question-input-group .input-group-text {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.reviewBlock__heading---item .question-input-group input {
    border: 0;
    border-bottom: 1px solid #ced4da;
}

.reviewBlock__heading---item .question-input-group input:focus,
.reviewBlock__heading---item .question-input-group input:active {
    box-shadow: none;
}

.reviewBlock__imageUploaded {
    margin-bottom: 1rem;
}

.reviewBlock__imageUploaded ul li {
    margin-right: .25rem;
    margin-bottom: .5rem;
}

.reviewBlock__imageUploaded ul li:last-child {
    margin-right: 0;
}

.reviewBlock__reviewInner {
    border-bottom: 1px solid #ced4da;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.reviewBlock__reviewInner:last-child {
    border: 0;
}

.reviewBlock__reviewInner---rate,
.reviewBlock__reviewInner---image,
.reviewBlock__reviewInner---question,
.reviewBlock__reviewInner---answer,
.reviewBlock__reviewInner---readMore,
.reviewBlock__reviewInner---content {
    margin-bottom: .5rem;
}

.reviewBlock__reviewInner---question p,
.reviewBlock__reviewInner---answer p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #29221f;
}

.reviewBlock__reviewInner---answer {
    margin-bottom: 1rem;
}

.reviewBlock__reviewInner---detail p {
    color: #878282;
    margin-bottom: .5rem;
}

.reviewBlock__reviewInner---readMore {
    font-size: 0.75rem;
    font-weight: 400;
}

.reviewBlock__reviewInner---content {
    color: #878282;
    font-weight: 400;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.reviewBlock__reviewInner---content .thumbs span {
    margin-right: 1rem;
}

.reviewBlock__reviewInner---content .thumbs span a {
    margin-right: .5rem;
}

.reviewBlock__postQuestion {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ced4da;
    margin-top: 2rem;
    padding: 2rem 0;
}

.reviewBlock__postQuestion p {
    font-size: 0.875rem;
    color: #878282;
    font-weight: 400;
}

.reviewBlock .view-more-review {
    padding-bottom: .5rem;
    border-bottom: 1px solid #ced4da;
}

.reviewBlockMain,
.questionBlockMain {
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 0.5rem;
    background: #fff;
}

.large-badge {
    font-size: 0.75rem;
    padding: 0.375rem;
}

.small-badge {
    font-size: 0.6875rem;
    padding: 0.25rem;
}

@media (max-width: 767px) {
    .reviewBlock__heading {
        display: block;
        margin-bottom: 1rem;
    }
    .reviewBlock__heading---item {
        display: inline-block;
    }
    .reviewBlock__heading .search-question {
        display: block;
    }
}


/* product Detail */

.productDetail {
    padding: 2rem 0;
}

.productDetail__inner {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 6px 1px rgba(27, 27, 27, 0.1);
}

.productDetail__mainZoomImage---imageContainer {
    height: 350px;
    overflow: hidden;
    border: 1px solid #ebe8e8;
}

.productDetail__mainZoomImage---imageContainer img {
    max-height: 350px;
    min-height: 350px;
    width: 100%;
    object-fit: cover;
}

.productDetail__thumbnail {
    position: relative;
    margin-top: 1rem;
}

.productDetail__thumbnail .owl-theme .custom-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

.productDetail__thumbnail .owl-theme .custom-nav .owl-prev,
.productDetail__thumbnail .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 25px;
    color: inherit;
    background-color: #ffffff;
    border: none;
    z-index: 2;
    padding: 0;
    margin: 0;
}

.productDetail__thumbnail .owl-theme .custom-nav .owl-prev i,
.productDetail__thumbnail .owl-theme .custom-nav .owl-next i {
    font-size: 1.75rem;
    color: #878282;
}

.productDetail__thumbnail .owl-theme .custom-nav .owl-prev {
    left: -1rem;
}

.productDetail__thumbnail .owl-theme .custom-nav .owl-next {
    right: -1rem;
}

.productDetail__thumbnail .owl-theme .owl-nav .disabled {
    opacity: .7;
}

.productDetail__thumbnail .thumbnail-carousel .item {
    height: 110px;
    overflow: hidden;
}

.productDetail__thumbnail .thumbnail-carousel .item img {
    min-height: 110px;
    max-height: 110px;
    object-fit: contain;
    border: 1px solid #ebe8e8;
}

.productDetail__content {
    padding-left: 1rem;
}

.productDetail .crumb {
    color: #878282;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.productDetail__content #fade-stock {
    display: none;
    margin-top: 0.5rem;
    color: #eb2525;
}

.productDetail__content---title {
    font-size: 1.5rem;
    color: #4d4c4b;
    font-weight: 400;
    margin-bottom: 4px;
}

.productDetail__content .size {
    margin: 0.625rem 0;
    display: flex;
}

.productDetail__content---desc {
    font-size: 0.875rem;
    color: #878282;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.rating-block {
    border: 1px solid #ced4da;
    padding: 0.25rem 0.325rem;
}

.rating-block .rating-star {
    color: orange;
}

.rating-block .given-reviews {
    color: #4d4c4b;
    font-weight: 500;
}

.productDetail__content---desc .total-reviews {
    font-size: 12px;
}

.productDetail__content---desc-title {
    color: #878787;
    font-size: 14px;
}

.productDetail__content---desc .price {
    font-size: 1.5rem;
    color: #29221f;
    font-weight: 400;
    margin-right: 0.75rem;
}

.productDetail__content---desc .price-off {
    font-weight: 300;
    color: #878282;
    margin-right: 0.75rem;
    text-decoration: line-through;
}

.productDetail__content---desc .off-percent {
    font-weight: 400;
    margin-right: 0.75rem;
}

.productDetail__content---desc .hurry {
    font-size: 0.8375rem;
    font-weight: 400;
    margin-right: 0.75rem;
    color: #4d4c4b;
}

.productDetail__content---desc .rating-icon {
    margin-right: 0.25rem;
    font-size: 0.75rem;
}

.productDetail__content---desc .rating-count {
    color: #4d4c4b;
    font-weight: 400;
}

.productDetail__content---desc .qty__title span {
    color: #878282;
}

.productDetail__content---desc .qty input::-webkit-outer-spin-button,
.productDetail__content---desc .qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.productDetail__content---desc .qty .count {
    text-align: center;
    max-width: 45px;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.375rem;
    background-color: #ffffff;
    color: #4d4c4b;
}

.productDetail__content---desc .qty .input-group-text {
    border-radius: 0;
    font-size: 0.75rem;
    background-color: #27c4d0;
    cursor: pointer;
    color: #ffffff;
}

.productDetail__content---desc .qty span.stock-qty {
    color: #4d4c4b;
    font-size: 0.8rem;
}

.productDetail__content---desc .shipping-text {
    color: #29221f;
    font-weight: 500;
}

.productDetail__content---desc .estimated {
    position: relative;
}

.productDetail__content---desc .estimated li {
    padding-top: .5rem;
    font-size: 0.75rem;
    padding-left: 1.5rem;
}

.productDetail__content---desc .estimated li::before {
    position: absolute;
    left: 0;
    content: '\f0a4';
    font-family: 'Font Awesome 5 Free';
    font-size: inherit;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.productDetail__content---desc .highlight-list {
    position: relative;
}

.productDetail__content---desc .highlight-list li {
    padding-top: .5rem;
    font-size: 0.75rem;
    padding-left: 1.5rem;
    color: #4d4c4b;
}

.productDetail__content---desc .highlight-list li::before {
    position: absolute;
    left: 0;
    content: '\f138';
    font-family: 'Font Awesome 5 Free';
    font-size: inherit;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #036c93;
}

.productDetail__content .brand-block {
    position: relative;
}

.productDetail__content .brand-block .brand-name {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 1rem;
}

.productDetail__content .brand-block .brand-name:hover {
    text-decoration: underline;
}

.productDetail__content .brand-block .brand-detail {
    display: none;
    position: absolute;
    top: 2rem;
    left: 0;
    color: #878282;
    border: 1px solid #ced4da;
    padding: 15px 10px;
    font-size: 0.875rem;
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.productDetail__content .brand-block .brand-detail::before {
    content: '\f0d8';
    font-family: 'Font Awesome 5 Free';
    font-size: inherit;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    top: -26px;
    left: 14%;
    color: #ced4da;
    position: absolute;
    font-size: 2rem;
}

.productDetail__content .brand-block:hover .brand-detail {
    display: block;
}

.productDetail__content .productDetail__content .brand-block .brand-detail .cta-buttons .buy-now,
.productDetail__content .productDetail__content .brand-block .brand-detail .cta-buttons .add-cart {
    padding: 0.5rem 2rem;
}


/* end product detail */

.customNavtab {
    border-bottom: 0;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.customNavtab .nav-link {
    border: 0;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    color: #29221f;
    font-weight: 400;
}

.customNavtab .nav-link:hover,
.customNavtab .nav-link:focus {
    border-color: #ffffff;
}

.customNavtab .nav-link.active,
.customNavtab .nav-item.show .nav-link {
    color: #495057;
    background-color: #f2f2f2;
}

.customNavtab .nav-link.active {
    border-bottom: 2px solid #036c93;
    color: #29221f;
}

.tabBlock__navContainer {
    background: #ffffff;
    z-index: 1019;
    position: sticky;
    top: 194px;
}

.product-tab {
    padding: 1rem 0 2rem 0;
}

.product-tab__content {
    padding: 2rem 0;
}

.product-tab__content---inner {
    padding: 0.5rem 0;
    color: #4d4c4b;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.6;
}

.highlight-list {
    position: relative;
}

.highlight-list li {
    padding-top: .5rem;
    font-size: 0.75rem;
    padding-left: 1.5rem;
    color: #4d4c4b;
}

.highlight-list li::before {
    position: absolute;
    left: 0;
    content: '\f138';
    font-family: 'Font Awesome 5 Free';
    font-size: inherit;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #036c93;
}

.product-tab__content---inner:last-child {
    border-bottom: 0;
}

.product-tab .border-specification {
    border-bottom: 1px solid #cdecef;
}

@media (max-width: 768px) {
    .tabBlock__navContainer {
        overflow-x: auto;
        white-space: nowrap;
    }
    .tabBlock__navContainer .customNavtab {
        flex-wrap: unset;
        justify-content: unset;
    }
}

@media (max-width: 575px) {
    .productDetail__inner {
        padding: 0 1rem 1.5rem 1rem;
    }
    .productDetail__content {
        padding-left: 0;
    }
    .productDetail__content .size {
        display: block;
    }
    .productDetail__content---desc .sizes {
        margin: 1rem 0;
    }
    .productDetail__content---desc .qty {
        display: block;
    }
    .productDetail__content---desc .qty__title {
        margin-bottom: .5rem;
    }
    .productDetail__content---desc .qty__count,
    .productDetail__content---desc .qty__stock {
        display: inline-block;
    }
}

@media (max-width: 360px) {
    .productDetail__content---desc .sizes a {
        padding: 0.25rem .5rem;
        font-size: 0.625rem;
    }
    .productDetail__content .cta-buttons .buy-now,
    .productDetail__content .cta-buttons .add-cart {
        padding: 0.5rem 1rem;
    }
}

.cart__table {
    text-align: center;
    font-size: 0.875rem;
    color: #4d4c4b;
    font-weight: 400;
}

.cart__table thead td {
    text-transform: uppercase;
    font-size: 0.8125rem;
    border-bottom-color: #ced4da !important;
}

.cart__table tbody td {
    vertical-align: middle;
    color: #878282;
}

.cart__table---product-title {
    text-align: left;
    font-weight: 500;
    color: #29221f;
    font-size: 0.9375rem;
    line-height: 1.5;
}

.cart__table .qty input::-webkit-outer-spin-button,
.cart__table .qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart__table .qty .count {
    text-align: center;
    max-width: 45px;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.375rem;
    background-color: #ffffff;
    color: #4d4c4b;
}

.cart__table .qty .input-group-text {
    border-radius: 0;
    font-size: 0.75rem;
    background-color: #27c4d0;
    cursor: pointer;
    color: #ffffff;
}

.cart .purchase-btn {
    font-size: 0.875rem;
    font-weight: 500;
}

.cart .total {
    font-weight: 500;
    font-size: 0.9375rem;
}

.modal-header-cart {
    padding-bottom: 0;
    border: 0;
}

.modal-dialog-cart {
    min-width: 1140px;
}


/* btn-upload */

.btn-upload {
    background-color: #fff;
    border: 2px solid #28723c;
    color: #4d4c4b;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
}

.btn-upload:hover,
.btn-upload:focus,
.btn-upload:active {
    border: 2px solid #22823c;
}

.link:hover {
    text-decoration: underline;
}

.btn-add-cart {
    background-color: #036c93;
    color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
    transition: all 0.3s ease;
}

.btn-add-cart:hover,
.btn-add-cart:active,
.btn-add-cart:focus {
    background-color: #025a7a;
    color: #ffffff;
}

.btn-buy-now {
    background-color: #308649;
    color: #ffffff;
    border-radius: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
    transition: all 0.3s ease;
}

.btn-buy-now:hover,
.btn-buy-now:active,
.btn-buy-now:focus {
    background-color: #266f3b;
    color: #ffffff;
}


/****************** atm product***********************/

.atm-product {
    padding: 2rem 0;
}

.atm-product .atm-product-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.atm-product .atm-product-heading h4 {
    color: #4d4c4b;
    font-weight: 600;
}


/* atm-product card */

.atm-productCard {
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15);
    border-radius: 4px;
    margin: 4px;
}

.atm-productCard .atm-productCard--header {}

.atm-productCard .atm-productCard--header .image-container {
    height: 130px;
    overflow: hidden;
    text-align: center;
}

.atm-productCard .atm-productCard--header .image-container img {
    object-fit: contain;
    max-height: 130px;
}

.atm-productCard .atm-productCard--header .featureCard-image-container {
    height: 120px;
    overflow: hidden;
}

.atm-productCard .atm-productCard--header .featureCard-image-container img {
    object-fit: contain;
    max-height: 120px;
}

.atm-productCard .atm-productCard--body {
    padding: 0.5rem 1rem 1rem;
}

.atm-productCard .atm-productCard--body .atm-proudct-name {
    color: #308649;
    font-size: 0.875rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
}

.atm-productCard .atm-productCard--body .atm-product-size {
    color: #878787;
    font-size: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
}

.atm-productCard .atm-productCard--body .price-discount {
    color: #878787;
    font-size: 0.75rem;
    margin-bottom: 4px;
}

.atm-productCard .atm-productCard--body .price-discount .off-percent {
    color: #036c93;
    margin-left: 0.5rem;
}

.atm-productCard .atm-productCard--body .atm-product-total {
    margin-top: 4px;
    color: #29221f;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.atm-productCard .atm-productCard--body .priceAndbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.atm-productCard .atm-productCard--body .priceAndbtn .btn-cart {
    color: #fff;
    background-color: #036c93;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 25px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.atm-productCard .atm-productCard--body .priceAndbtn .btn-cart:hover {
    color: #fff;
    background-color: #025a7a;
}

.featureCard-block {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
}

.featureCard {
    clip-path: polygon(0 0, 100% 0, 100% 78%, 49% 100%, 0 78%);
    min-height: 193px;
    border-radius: 0;
}

.feature-border {
    border-top: 4px solid #32aeb1;
}

.feature-container {
    margin-top: -8px;
}


/*  atm-product card  */


/* product custom nav */

.atm-product-container {
    position: relative;
}

.atm-product-container .owl-theme .custom-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

.atm-product-container .owl-theme .custom-nav .owl-prev,
.atm-product-container .owl-theme .custom-nav .owl-next {
    position: absolute;
    color: inherit;
    background-color: #fff;
    border: none;
    z-index: 2;
    margin: 0;
    padding: 4px 9px;
    border-radius: 25px;
    text-align: center;
    line-height: 16px;
    border: 1px solid #878787;
    /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4); */
}

.atm-product-container .owl-theme .custom-nav .owl-prev i,
.atm-product-container .owl-theme .custom-nav .owl-next i {
    font-size: 1.25rem;
    color: #878787;
}

.atm-product-container .owl-theme .custom-nav .owl-prev {
    left: -0.75rem;
}

.atm-product-container .owl-theme .custom-nav .owl-next {
    right: -0.75rem;
}

.atm-product-container .owl-theme .owl-nav .disabled {
    opacity: .7;
}


/* end product nav */


/****************** end atm product***********************/


/******************  Deal of the day***********************/

.dealDay {
    padding: 2rem 0;
    background-color: #036c93;
}

.dealDay .dealday-timer {
    border: 2px dashed #fff;
    border-radius: 10px;
    padding: 2rem 1rem 1rem;
    color: #fff;
    text-align: center;
}

.dealDay .dealday-timer h1 {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.dealDay .dealday-timer h2 {
    line-height: 1.6;
    font-weight: 600;
}


/****************** end Deal of the day***********************/

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.section-heading h4 {
    color: #4d4c4b;
    font-weight: 600;
}


/***************** categoriees ****************/

.categories {
    padding: 2rem 0;
}

.categories__block--inner {
    padding: 1rem;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.categories__block--inner:hover {
    background-color: #e7f6f7;
}

.categories__block--inner:hover h6 {
    color: #308649;
}

.categories__block--inner h6 {
    margin-bottom: 0;
    color: #4d4c4b;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4;
}

.categories__block--img {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    height: 130px;
}

.categories__block--img img {
    max-height: 100px;
    margin: 0 auto;
    object-fit: contain;
}


/*****************end categories***********************/


/* ************ ayurveda ******************** */

.ayurveda {
    padding: 2rem 0;
    background-color: #2aa54e;
    color: #fff;
}

.ayurveda .ayurveda-sub-title {
    margin-bottom: 1rem;
    line-height: 1.4;
    color: #f5f5f5;
}

.ayurveda .ayurveda-main-title {
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
}

.ayurveda .ayurveda-para {
    line-height: 1.6;
    margin-bottom: 2rem;
}

.ayurveda .btn-view-ayurveda {
    color: #308649;
    background: #abe2b3;
    font-weight: 400;
    font-size: 15px;
    padding: 8px 2rem;
    transition: all 0.3s ease;
}

.ayurveda .btn-view-ayurveda:hover,
.ayurveda .btn-view-ayurveda:focus,
.ayurveda .btn-view-ayurveda:active {
    color: #ffffff;
    background: #308647;
}

.ayurvedaBlock {
    background: #fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
}

.ayurvedaBlock .ayurveda-image-container {
    height: 100px;
    overflow: hidden;
    display: flex;
    vertical-align: middle;
}

.ayurvedaBlock .ayurveda-image-container img {
    max-height: 100px;
    object-fit: contain;
    width: 100%;
}

.ayurvedaBlock .ayurveda-title {
    color: #4d4c4b;
    font-size: 14px;
    margin-top: 8px;
}


/* ************ end ayurveda ******************** */


/* Top Brands */

.brandMainBlock {
    min-height: 230px;
}

.brandMainBlock .brandBlock {
    position: relative;
}

.brandMainBlock .brandBlock .brandBlock-top {}

.brandMainBlock .brandBlock .brandBlock-top .image-container {
    height: 175px;
    overflow: hidden;
}

.brandMainBlock .brandBlock .brandBlock-top .image-container img {
    max-height: 175px;
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
}

.brandMainBlock .brandBlock .brandBlock-bottom {
    background: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    width: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
}

.brandMainBlock .brandBlock .brandBlock-bottom .image-container {
    height: 50px;
    overflow: hidden;
}

.brandMainBlock .brandBlock .brandBlock-bottom .image-container img {
    max-height: 50px;
    object-fit: contain;
}

.brandMainBlock .brandBlock .brandBlock-bottom .brandBlock-bottom-off {
    font-size: 12px;
    color: #308649;
    font-weight: 500;
    text-transform: uppercase;
}


/* end Top Brands */


/* filter button */

.mobileFilters {
    display: none;
    background: #fff;
    text-align: center;
    position: fixed;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
    border-radius: 25px;
    -webkit-box-shadow: 0 3px 6px 1px rgba(36, 39, 44, 0.3);
    box-shadow: 0 3px 6px 1px rgba(36, 39, 44, 0.3);
}

@media (max-width: 767px) {
    .mobileFilters {
        display: block;
    }
    .filterMain {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        display: none;
        background: #ffffff;
        overflow-y: auto;
    }
}

.btn-filter {
    font-size: 1rem;
    padding: 0.75rem 2rem;
    background: #32aeb1;
    color: #ffffff;
    border: 1px solid #dadada;
    line-height: 16px;
    border-radius: 25px;
}


/* emd filter buttpon */


/* custom btn size */

.radioCustomBtnGroup__radioCustomBtn {
    position: relative;
    cursor: pointer;
    width: auto;
}

.radioCustomBtnGroup__radioCustomBtn--Span {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: #036c93;
    border-radius: 0.25rem;
    margin-right: 5px;
    background: #ffffff;
    z-index: 1;
    font-size: 0.8125rem;
    max-width: 112px;
    border: 1px solid #036c93;
}

.radioCustomBtnGroup__radioCustomBtn--Span p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input:checked~.radioCustomBtnGroup__radioCustomBtn--Span {
    color: #036c93;
    border: 1px solid #036c93;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

input:checked~.radioCustomBtnGroup__radioCustomBtn--Span:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(3, 108, 147, .15);
    z-index: -1;
}

.radioCustomBtnGroup input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: radio;
    padding: initial;
    border: initial;
}

.radioCustomBtnGroup input.size-input {
    display: none;
}


/* end size */


/* accordin */

.atm__accordion {
    font-size: 0.875rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.atm__accordion--card {
    border: 0;
}

.atm__accordion--card .card-header {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0px !important;
}

.atm__accordion--card .card-header a {
    font-size: 0.875rem;
    color: #036c93;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    font-weight: 500;
    border-radius: 0;
}

.atm__accordion--card .card-body {
    padding: 0 0.5rem 0;
}

.atm__accordion--card .card-header [data-toggle="collapse"]::after {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-size: inherit;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    transform: rotate(180deg);
    transition: all linear 0.25s;
}

.atm__accordion--card .card-header [data-toggle="collapse"].collapsed::after {
    transform: rotate(0deg);
}


/* product detail delivery card */

.atm-deliverycard {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
    padding: 1rem;
    color: #878787;
    border-radius: 0.25rem;
}

.atm-deliverycard .atm-deliverycard-header {
    font-size: 0.9375rem;
    margin-bottom: 0.75rem;
}

.atm-deliverycard .atm-deliverycard-header span {
    font-weight: 500;
}

.atm-deliverycard .atm-deliverycard-content {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
}

.atm-deliverycard .atm-deliverycard-location {
    font-size: 0.75rem;
    font-weight: 300;
}

.atm-deliverycard .atm-deliverycard-location .link-change {
    color: #308649;
    font-size: 0.875rem;
    font-weight: 400;
}

.atm-deliverycard .atm-deliverycard-location .link-change:hover {
    text-decoration: underline;
}

.atm-deliverycard .atm-deliverycard-location .atm-deliverycard-address {
    font-weight: 500;
}

.comboPack-card {
    padding: 1rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
    margin-top: 1rem;
    border-radius: 0.25rem;
    color: #4d4c4b;
}

.comboPack-card .comboPack-card-body {
    padding: 1rem 0;
}

.comboPack-card .comboPack-card-body .comboPack-card-product {
    display: flex;
    justify-content: start;
}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-image .image-container {
    height: 75px;
    overflow: hidden;
}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-image .image-container img {
    max-height: 75px;
    object-fit: contain;
}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-content {}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-content .comboPack-card-content-title {
    margin-bottom: 0.125rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.875rem;
}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-content .discount-price {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-content .discount-price .actual-price {
    color: #878787;
    text-decoration: line-through;
}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-content .discount-price .discount-off {
    color: #308649;
    font-weight: 400;
}

.comboPack-card .comboPack-card-body .comboPack-card-product .comboPack-card-content .total-price {
    font-size: 0.75rem;
}

.comboPack-card .comboPack-card-footer {
    border-top: 1px solid #ced4da;
    padding-top: 0.75rem;
}

.comboPack-card .comboPack-card-footer-content {
    display: flex;
    justify-content: space-between;
}

.comboPack-card .comboPack-card-footer-content .totalPrice {}

.comboPack-card .comboPack-card-footer-content .totalPrice p {
    color: #878787;
    font-size: 0.875rem;
    margin-bottom: .25rem;
}

.comboPack-card .comboPack-card-footer-content .totalPrice h6 {
    font-size: 0.875rem;
}

.comboPack-card .comboPack-card-footer-content .add-cart .btn-cart {
    background-color: #036c93;
    color: white;
    border-radius: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}

.style__interface___2SgrE {
    display: block;
    margin: 10px 0 10px 20px;
}

.style__interface___2SgrE .style__plus___2e3VD {
    display: inline;
}

.style__interface___2SgrE .style__plus___2e3VD::after {
    background-color: #e0e0e0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: calc(100% - 75px);
    margin-left: 48px;
}


/* login form */

.login-form {
    padding: 3rem 0;
    background-image: url('/static/home/images/bg-login.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-form {
    padding: 3rem 0;
    background-image: url('/static/home/images/bglogin1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-block {
    padding: 1.25rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
}

.atm-form-group {
    position: relative;
    margin-bottom: 1.5rem
}

.atm-form-group:last-child {
    margin-bottom: 0;
}

.atm-float-label-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms;
    color: #878787;
    font-size: 0.875rem;
    padding: 0.75rem;
    line-height: 1.2;
    margin-bottom: 0;
    pointer-events: none;
}

.atm-float-form-control::placeholder {
    opacity: 0;
}

.atm-float-form-control:not(:placeholder-shown)~.atm-float-label-placeholder,
.atm-float-form-control:focus:-webkit-autofill~.atm-float-label-placeholder,
.atm-float-form-control:focus+.atm-float-label-placeholder,
.atm-float-form-control:valid+.atm-float-label-placeholder {
    font-size: 85%;
    transform: translate3d(12%, -200%, 0);
    background: white;
    color: #29221f;
    padding: 0 0.25rem;
}

.atm-float-form-control:focus-within+.atm-float-label-placeholder {
    color: #036c93 !important;
}

.atm-float-form-control {
    background: transparent;
    box-shadow: none;
    padding: 0.75rem;
    height: auto;
    font-size: 0.875rem;
    border: 2px solid #ced4da;
}

input.atm-float-form-control:focus,
input.atm-float-form-control:after {
    outline-width: 0;
    border: 2px solid #036c93;
    background: transparent;
    box-shadow: none;
}

.social-link {
    margin-bottom: 1rem;
}

.facebook,
.twitter,
.google {
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 18px;
    cursor: pointer;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.facebook:hover,
.twitter:hover,
.google:hover {
    box-shadow: none;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1DA1F2;
}

.google {
    background-color: #3e3e3e;
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 32px;
}

.or {
    width: 10%;
    font-size: 1rem;
    text-transform: uppercase;
    color: #878787;
}


/* end float login form */


/* cart */

.cart-content {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
    padding: 1rem;
}

.cart__modalHeader---title {
    text-transform: uppercase;
    color: #4d4c4b;
}

.cart__modalHeader---icon {
    font-size: 1.25rem;
    padding-right: .5rem;
}

.cart__table {
    min-width: 766px;
    text-align: center;
    font-size: 0.875rem;
    color: #4d4c4b;
}

.cart__table thead td {
    text-transform: uppercase;
    border-bottom-color: #ced4da !important;
    font-weight: 400;
}

.cart__table tbody td {
    vertical-align: middle;
    font-size: 0.8125rem;
}

.cart__table tbody .form-select {
    font-size: 0.8125rem;
    padding: 0.25rem 1.5rem 0.25rem 0.5rem;
    border-radius: 0;
}

.cart__table---product-title {
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem !important;
    color: #4d4c4b !important;
}

.cart__table---product-brand {
    font-size: 0.75rem;
    color: #878787;
}

.cart__table---price,
.cart__table---totalprice {
    font-weight: 400;
}

.cart__table .qty input::-webkit-outer-spin-button,
.cart__table .qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart__table .qty .cart-count {
    text-align: center;
    max-width: 45px;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.375rem;
    background-color: #ffffff;
    color: #4d4c4b;
}

.cart__table .qty .input-group-text {
    border-radius: 0;
    font-size: 0.75rem;
    background-color: #036c93;
    cursor: pointer;
    color: #ffffff;
    font-weight: 400;
}

.cart .grand-total {
    font-weight: 500;
    font-size: 0.9375rem;
}

.emtpyBlock {
    text-align: center;
    padding: 5rem;
}

.emtpyBlock p {
    font-weight: 400;
    color: #4d4c4b;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}


/* end cart */