<div class="emtpyBlock cart-empty">
    <span class="d-block"><i class="fas fa-cart-arrow-down fa-5x mb-3 text-light-color"></i></span>
    <p>There are no orders placed yet.</p>
    <a href="{% url 'index' %}" class="btn btn-buy-now btn-lg">Continue Shopping</a>
</div>
<!-- end cart empty -->