
{% extends "home/layout/base.html" %}
<!-- title -->
{% block title %} Cart {% endblock %}
<!-- end title -->
{% load static %} {% block content %}
<section class="pad-top-bot backgroundGrey">
    <div class="container">
        <div class="row main-content">
            <div class="col-12">
                {% if object.cartitem_set.count < 1 %}
                <!-- empty card -->
                {% include "carts/empty_cart.html" %}
                <!-- end empty card -->
                {% else %}
                
                {% verbatim %}
                <div class="cart-content" id="OrderDisplaySystemHolderDiv">
                    <h5 class="cart__modalHeader---title" id="exampleModalLabel">
                        <i class="fas fa-shopping-bag cart__modalHeader---icon mr-2"></i>My Cart
                    </h5>
                    <div class="table-responsive cart-data">
                        <table class="table cart__table table-responsive" id="tableCart">
                            <thead>
                                <tr>
                                    <td width="8%">product</td>
                                    <td width="35%"></td>
                                    <td width="20%">price</td>
                                    <td width="12%">qty</td>
                                    <td width="20%">amount</td>
                                    <td width="5%"></td>
                                </tr>
                            </thead>
                            
                            <tbody id="tableCartData" class="cart-body">
                                <tr class="cart-row-0" v-for="(item,index) in Model.cartResponse.items">
                                    <td><img class="img-fluid" src="{% static 'home/images/himalaya-gentle-baby-shampoo.jpg' %}"></td>
                                    <td class="cart__table---product-title">
                                        {{item.item_title}} <br />
                                        <span class="cart__table---product-brand">Roche Diabetes Care India Pvt Ltd</span>
                                    </td>
                                    <td class="cart__table---price">
                                        Nrs: <span class="unit-price prod_price">{{item.price}}</span>
                                    </td>
                                    <td>
                                        <div class="qty">
                                            <form>
                                                <div class="input-group">
                                                    <span class="input-group-text cart-minus"><i class="fas fa-minus"  v-model="item.quantity" @change="_CART_ADD_SUB_QTY_(item.item, item.quantity)"></i></span>
                                                    <input id="" disabled type="text" class="form-control cart-count" name="qty"  v-model="item.quantity">
                                                    <span class="input-group-text cart-plus"><i class="fas fa-plus"  v-model="item.quantity" @change="_CART_ADD_SUB_QTY_(item.item, item.quantity)"></i></span>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td class="cart__table---totalprice">Nrs. <span class="total-price">{{ item.line_item_total }}</span></td>
                                    <td @click="_CART_DELETE_ITEM_(item.item)" class="cart__table---removeIcon"><i class="fas fa-times removeItem" type="button"></i></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row cart-info">
                        <div class="col-6 col-sm-4 col-md-4">
                            <a href="" class="nav-link"><i class="fas fa-long-arrow-alt-left mr-2"></i> <span class="text-theme-color f-14 font-weight-500">Continue Shopping</span></a>
                        </div>
                        <div class="col-6 col-sm-3 col-md-3 offset-md-1 align-self-center grand-total">
                            Subtotal: Nrs. <span class="cart_total_val">{{ Model.cartResponse.subtotal }}</span>
                        </div>
                        <div class="col-6 col-sm-3 col-md-3 offset-md-1 align-self-center grand-total">
                            Tax: Nrs. <span class="cart_total_val">{{ Model.cartResponse.tax_total }}</span>
                        </div>
                        <div class="col-6 col-sm-3 col-md-3 offset-md-1 align-self-center grand-total">
                            TOtal: Nrs. <span class="cart_total_val">{{ Model.cartResponse.total }}</span>
                        </div>
                        <div class="col-12 col-sm-5 col-md-4">
                            <a href="#" class="btn btn-buy-now proceed-checkout rounded-pill btn-block btn-lg">Proceed To Checkout</a>
                        </div>
                    </div>
                </div>
                {% endverbatim %}


                {% block script %}
                <script>
                    function _ObtainInitObj(strSelecter) {
                        console.log('_ObtainInitObj');
                        //var json_str = "Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListAccountDetailLedgerVM)";
                        //var json_str = $('#hiddenInitListAccountDetailLedgerVMStr').val();
                        var json_str = $(strSelecter).val();
                        var js_obj = [];
                        if (json_str) {
                            js_obj = JSON.parse(json_str);
                        }
                        if (!js_obj) { //return empty obj;
                            js_obj = [];
                        }
            
                        console.log(js_obj);
                        return js_obj;
                    }
            
                    function _InitSelVueListObj(strSelecter, vueList) {
                        console.log('_InitSelVueListObj');
            
                        var js_objs = _ObtainInitObj(strSelecter);
                        for (var i = 0; i < js_objs.length; i++) {
                            //this.Model.ListAccountDetailLedgerVM.push(initLedgerDetails[i]);
                            vueList.push(js_objs[i]); //make reactive
                        }
                        return js_objs;
                    }
            
                    function _InitSelVueObj(strSelecter, vueObj) {
                        var js_obj = _ObtainInitObj(strSelecter);
                        Object.assign(vueObj, js_obj);
            
                        return js_obj;
                    }
            
                    function _SimpleClone(obj) {
                        var tmpData = JSON.stringify(obj);
                        var sendData = JSON.parse(tmpData);
                        return sendData;
                    }
                </script>
            
            
                <script type="text/javascript">
                    new Vue({
                            el: '#OrderDisplaySystemHolderDiv',
                            data: {
                                IS_DEBUG_LAYOUT: 0,
                                Model: {
                                    cartResponse: {
                                        "token": null,
                                        "cart": 70,
                                        "total": 128.82,
                                        "subtotal": 114.0,
                                        "tax_total": 14.82,
                                        "count": 0,
                                        "items": [{
                                            "product_id": 117,
                                            "image": "products/himalayan-jar/himalayan-jar-None.jpg",
                                            "item": 5,
                                            "item_title": "Himalayan Jar Himalayan",
                                            "price": 23.0,
                                            "product": 5,
                                            "quantity": 3,
                                            "line_item_total": "69.00",
                                            "fk_store_title": "Jharana khola pani"
                                        }, ]
                                    },
                                } //end cartResponse
                            }, //end data
                            created() {
                                var thisRef = this;
                            },
                            beforeMount() {
                                console.log('vue beforeMount');
                                var thisRef = this;
                                //this.Model.ListAccountDetailLedgerVM.push(this.Model.DetailLedger);
                                //var initLedgerDetails = _ObtainInitialLegderDetails();
                                //for (var i = 0; i < initLedgerDetails.length; i++) {
                                //    this.Model.ListAccountDetailLedgerVM.push(initLedgerDetails[i]);
                                //}
            
                                //Maybe init all these, at once insetead of seperate
            
                            },
                            mounted() {
                                console.log('vue mounted');
                                this.FetchCartData();
                                window._FETCH_CART_DATA_ = this.FetchCartData;
                            },
            
            
                            computed: {
                                VUEWINDOW: function() {
                                    return window;
                                },
                            },
            
                            methods: {
                                FetchCartData() {
                                    console.log('FetchListData');
                                    var thisRef = this;
                                    var urlData = _URL_SERVER_ + '/api/cart/';
                                    var filterParams = ''; //''SEARCH_PARAMS();
                                    var url = urlData; // + '&' + filterParams;
                                    $.ajax({
                                        url: url,
                                        type: 'GET',
                                        success: function(response) {
                                            thisRef.Model.cartResponse = response;
                                        }
                                    }); //end ajax
                                },
                                //GuiDO: will be done in gui
                                //CallWaiter: what is supposed to be done
                                //ForItem: For whom/which item/structrue/person /?????
                                //GuiDoCallWaiterForItem(argItem) {
                                GuiDoAddItem(argItem) {
            
                                    if (!this.Model.AccountMasterLedgerVM.AccountVoucherTypeId) {
                                        alert('Voucher Type Required');
                                        return;
                                    }
            
                                    if (!this.Model.DetailLedger.AccountHeadId) {
                                        alert('AccountHead Required');
                                        return;
                                    }
                                    var thisRef = this;
                                    var tmpData = JSON.stringify(argItem);
                                    var sendData = JSON.parse(tmpData);
                                    this.Model.ListAccountDetailLedgerVM.push(
                                        _SimpleClone(argItem)
                                    );
            
                                    //no reactivity if using = , "equals" for cloned object
                                    Object.assign(this.Model.DetailLedger, _SimpleClone(this.Model.ClearedInitialDetailLedger)); //maybe memberwise copy happening
            
                                },
                                GuiDoCheckout() {
                                    console.log('GuiDoCheckout');
                                    //alert('hi');
                                    //return;
                                    if(this.Model.cartResponse.count ==0 ){
                                        $.notify("No item in cart!!", "error");
                                        return;
                                    }
                                    
                                    //todo: add first variation of given product
                                    var thisRef = this;
                                    var urlData = _URL_SERVER_ + '/api/create_order/';
                                    var filterParams = ''; //''SEARCH_PARAMS();
                                    var url = urlData; // + '&' + filterParams;
            
            
                                    var data = {
                                        "order_total": 0,
                                        "status": "created",
                                        "shipping_total_price": 0,
                                        "order_id": "",
                                        "is_delivered": false,
                                        "is_paid": false,
                                        "updated_at": null,
                                        "order_latitude": "",
                                        "order_longitude": "",
                                        "cart": this.Model.cartResponse.cart, //cart_id
                                        "user": null,
                                        "billing_address": null,
                                        "shipping_address": null,
                                        "fk_auth_user": null,
                                        "fk_ordered_store": null,
                                        "fk_delivery_user": null,
                                        "fk_payment_method": null,
                                        "fk_ordered_by_store": null
                                    }
            
            
                                    $.ajax({
                                        url: url,
                                        type: 'POST',
                                        // contentType:"application/json; charset=utf-8",
                                        // dataType:"json",
                                        headers: {
                                            'Accept': 'application/json',
                                            'Content-Type': 'application/json',
                                            "X-CSRFToken": getCSRFToken()
                                        },
            
                                        data: JSON.stringify(data),
                                        success: function(response) {
                                            console.log('post success');
                                            //alert('cart success');
                                            $.notify("Order Confirmed!!", "success");
                                        }
                                    }); //end ajax
            
                                }, //end func
            
                            } //end methods
            
                        }) //end Vue open
                </script>
            
            
                <script>
                    // init part
                    $(document).ready(function() {
                        console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);
            
            
                        $('#AccountScheduleId').select2({
                            tags: false, //allow to (add new things)
                            placeholder: {
                                text: '-Select-',
                                //allowClear: true //clear button
                                id: '-1'
                            },
                            multiple: false,
                            width: '100%'
                        });
                        //For adding only
                        //Filtered item, selected to be added
                        var AccountScheduleId = 0; //Model.AccountMasterLedger.Id;
                        if (!AccountScheduleId) {
                            //Not selected then use, filter selected val
                            var jqAccountScheduleId = $('#AccountScheduleId');
                            if (!jqAccountScheduleId.val()) {
                                jqAccountScheduleId.val(
                                    $('#FilterAccountScheduleId').val()
                                );
                                jqAccountScheduleId.trigger('change'); // Notify any JS components that the value changed
                            }
                        }
            
            
                        $('#AccountHeadId').select2({
                            tags: false, //allow to (add new things)
                            placeholder: {
                                text: '-Select-',
                                //allowClear: true //clear button
                                id: '-1'
                            },
                            multiple: false,
                            width: '100%'
                        });
            
            
            
                    }); //end doc ready
            
            
                    //handler part
                    //
                    //
                    function AccountVoucherSaveFormPartialViewDebug() {
                        console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);
                    }
                    AccountVoucherSaveFormPartialViewDebug(); //for debug only
            
                    //$('#AccountVoucherSaveForm').submit(function(e) {
                    //   e.preventDefault();
                    //    var form = $(this);
                    //    console.log(form);
                    //   $.ajax({
                    //     type: form.attr('method'),
                    //     url: form.attr('action'),
                    //     data: form.serialize(),
                    //     success: function(msg){
                    //       $("#thanks").html(msg);
                    //       $("#form-content").modal('hide');    
                    //     },
                    //     error: function(){
                    //       //alert("failure");
                    //     }
                    //   });
                    //});
            
                    $.fn.serializeObject = function() {
                        var o = {};
                        var a = this.serializeArray();
                        $.each(a, function() {
                            if (o[this.name]) {
                                if (!o[this.name].push) {
                                    o[this.name] = [o[this.name]];
                                }
                                o[this.name].push(this.value || '');
                            } else {
                                o[this.name] = this.value || '';
                            }
                        });
                        return o;
                    };
            
                    $('.saveAccountVoucherButton').on('click', function(e) {
                        console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);
                        e.preventDefault();
            
                        var VM = _ObtainSaveVM();
            
                        console.log(VM);
                        //return;
            
                        if (validateForm()) {
                            //$("#AccountVoucherSaveForm").submit();
                            $('.addBtn').attr('disabled', true);
            
                            //setting the hidden field of form for branchId
                            /*$('input#CustomerId').val(
                                    JscrAccountVoucherSetupPartialView.ObtainSelectedCustomerId()
                            );*/
                            //var send_data = $('#AccountVoucherSaveForm').serialize(); //serialize jquery obj
                            var send_data = $.param(VM); //serialize js object into url format (not json str)
                            $.post("/AccountVoucher/AccountVoucherSave", send_data)
                                .done(
                                    function postDone(data) {
                                        console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);
            
                                        JscrAccountVoucherFilterPartialView.loadRecordsFromSelection();
                                        //todo: enable button on failure also and failed toast message
                                        $('.addBtn').attr('disabled', false);
                                        iziToast.show({
                                            position: 'bottomCenter',
                                            message: "Saved",
                                            color: 'green',
                                            theme: 'light',
                                            icon: 'fa fa-check-circle-o'
                                        });
                                        $('#setupModal').modal('hide');
                                        //$("input[name='Name'").focus();
                                    }
                                ); //end done of post
                        };
                    });
            
                    function validateForm() {
                        console.log('_DebugJsFunctionCallEntry: ' + '~/Views/AccountVoucher/AccountVoucherSaveFormPartialView.cshtml ' + 'AccountVoucher::' + 'AccountVoucherAddPartialView' + '@' + arguments.callee.name);
            
                        var isValid = true;
            
                        $('.data-val-required').each(function() {
                            var currentElement = $(this);
                            var id = this.id;
                            var valElement = $('[data-valmsg-for=' + id + ']')
                            if (currentElement.val()) { //=== "" ; empty string ; null value etc ko lagi
                                valElement.html(""); //valid
                            } else {
                                valElement.attr('class', 'field-validation-error');
                                valElement.html("Required");
                                //valElement.html($(this).attr('data-val-required'));
                                isValid = false;
                            }
            
                        });
            
                        /*var amountValStr = $('#Amount').val();
                        var amountVal = parseFloat(amountValStr);
                        if (amountVal)
                        { } //is float no
                        else
                        {
                            if (amountVal > 0)
                            { } //positive > 0 val
                            else
                            {
                                isValid = false;
                            }
                        }*/
            
                        //isValid = true; //not validating now
                        return isValid;
                    }
                </script>
                {% endblock %}



                {% comment %}
                <table class='table'>


                    {% for item in object.cartitem_set.all %}

                    <tr id='item-{{ item.item.id }}'>

                        <td>{{ item.item.get_title }}</td>


                        <td>
                            <form action="." method="GET"><input type='hidden' name='item' value='{{ item.item.id }}' /><input type='number' class='item-qty' name='qty' value='{{ item.quantity }}' /><input type='submit' class='btn-update btn btn-link' value='Update item' style='display:none;'
                                /></form>
                        </td>
                        <td id='item-line-total-{{ item.item.id }}'>{{ item.line_item_total }}</td>
                        <td class='text-right'><a href='{{ item.remove }}'>X</a>



                        </td>


                    </tr>

                    {% endfor %}


                    <tr>
                        <td colspan='4' class='text-right'>Subtotal: <span id='subtotal'>{{ object.subtotal }}</span></td>
                    </tr>

                    <tr>
                        <td colspan='4' class='text-right'>Tax (Estimated): <span id='taxtotal'>{{ object.tax_total }}</span></td>
                    </tr>

                    <tr>
                        <td colspan='4' class='text-right'>Total: <span id='carttotal'>{{ object.total }}</span></td>
                    </tr>


                    <tr>
                        <td colspan='4' class='text-right'><a class='btn btn-warning' href="{% url 'checkout' %}">Checkout </a></td>
                    </tr>

                </table>
                {% endcomment %}
            </div>
            {% endif %}
        </div>
</section>
{% endblock %} 

{% comment %}
{% block script %}


<script>
    $(".item-qty").change(function() {
        // $(this).next(".btn-update").fadeIn();

        // event.preventDefault();
        // .prev(h1)
        var item = $(this).prev("input[type='hidden']").val();
        var qty = $(this).val()
        var data = {
            item: item,
            qty: qty
        }
        console.log(data);
        $.ajax({
            type: "GET", // "POST"
            url: "{% url 'cart' %}",
            data: data,
            success: function(data) {
                $("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted)
                if (data.deleted) {
                    $("#item-" + item).fadeOut();
                    $("#subtotal").text(data.subtotal);
                    $("#taxtotal").text(data.tax_total);
                    $("#carttotal").text(data.cart_total);
                } else {
                    $("#item-line-total-" + item).text(data.line_total);
                    $("#subtotal").text(data.subtotal);
                    $("#taxtotal").text(data.tax_total);
                    $("#carttotal").text(data.cart_total);
                }

                if (data.total_items == 0) {
                    $(".table").fadeOut()
                    var template = "{% include 'carts/empty_cart.html' %}";
                    $(".main-content").html(template);

                }

                var message = ""
                if (data.item_added) {
                    message = "New item added"
                } else if (data.deleted) {
                    message = "Item removed"
                } else {
                    message = "Item updated"
                }
                showFlashMessage(message);
                updateCartItemCount()
            },
            error: function(response, error) {
                // console.log(response)
                // console.log(error)
                $("#add-form").submit()
            }
        })






    });
</script>

<script>
{% block jquery %}
$(".item-qty").change(function(){
	// $(this).next(".btn-update").fadeIn();

	// event.preventDefault();
	// .prev(h1)
	var item = $(this).prev("input[type='hidden']").val();
	var qty = $(this).val()
	var data = {
		item: item,
		qty: qty
	}
	console.log(data);
	$.ajax({
		type: "GET", // "POST"
		url: "{% url 'cart' %}",
		data: data,
		success: function(data) {
			$("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted)
			if (data.deleted){
				$("#item-"+item).fadeOut();
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			} else {
				$("#item-line-total-"+item).text(data.line_total);
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			}

			if (data.total_items == 0 ) {
				$(".table").fadeOut()
				var template = "{% include 'carts/empty_cart.html' %}";
				$(".main-content").html(template);

			}

			var message = ""
			if (data.item_added) {
				message = "New item added"
			} else if (data.deleted){
				message = "Item removed"
			} else {
				message = "Item updated"
			}
			showFlashMessage(message);
			updateCartItemCount()
			}, 
		error: function(response, error) {
			// console.log(response)
			// console.log(error)
			$("#add-form").submit()
		}
	})





});

{% endblock %}
</script>

{% block content %}



<div class='row main-content'>

{% if object.cartitem_set.count < 1 %}

{% include "carts/empty_cart.html" %}
{% else %}

<div class='col-sm-8 col-sm-offset-2'>

<h1>Your cart</h1>
<table class='table'> 


{% for item in object.cartitem_set.all %}

<tr id='item-{{ item.item.id }}'>

<td>{{ item.item.get_title }}</td>


<td><form action="." method="GET" ><input type='hidden' name='item' value='{{ item.item.id }}' /><input type='number' class='item-qty' name='qty' value='{{ item.quantity }}' /><input type='submit' class='btn-update btn btn-link' value='Update item' style='display:none;'/></form></td>
<td id='item-line-total-{{ item.item.id }}'>{{ item.line_item_total }}</td>
<td class='text-right' ><a href='{{ item.remove }}'>X</a>



</td>


</tr>

{% endfor %}


<tr>
	<td  colspan='4' class='text-right'>Subtotal: <span id='subtotal'>{{ object.subtotal }}</span></td>
</tr>

<tr>
	<td colspan='4' class='text-right'>Tax (Estimated): <span id='taxtotal'>{{ object.tax_total }}</span></td>
</tr>

<tr>
	<td colspan='4' class='text-right'>Total: <span id='carttotal'>{{ object.total }}</span></td>
</tr>


<tr>
	<td colspan='4' class='text-right'><a class='btn btn-warning' href="{% url 'checkout' %}">Checkout </a></td>
</tr>

</table>


</div>
{% endif %}

<script>
    $(document).ready(function(){
        
$(".item-qty").change(function(){
	// $(this).next(".btn-update").fadeIn();

	// event.preventDefault();
	// .prev(h1)
	var item = $(this).prev("input[type='hidden']").val();
	var qty = $(this).val()
	var data = {
		item: item,
		qty: qty
	}
	console.log(data);
	$.ajax({
		type: "GET", // "POST"
		url: "/cart/",
		data: data,
		success: function(data) {
			$("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted)
			if (data.deleted){
				$("#item-"+item).fadeOut();
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			} else {
				$("#item-line-total-"+item).text(data.line_total);
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			}

			if (data.total_items == 0 ) {
				$(".table").fadeOut()
				var template = "<!-- MAKE SURE YOUR DATA IS ESCAPED --><div class='col-sm-6 col-sm-offset-3 text-center'><h1>Your cart is empty</h1><p>Continue Shopping</p></div>";
				$(".main-content").html(template);

			}

			var message = ""
			if (data.item_added) {
				message = "New item added"
			} else if (data.deleted){
				message = "Item removed"
			} else {
				message = "Item updated"
			}
			showFlashMessage(message);
			updateCartItemCount()
			}, 
		error: function(response, error) {
			// console.log(response)
			// console.log(error)
			$("#add-form").submit()
		}
	})





});


    });

    </script>
</div>

{% endblock %}
{% endcomment %}