{% extends "home/layout/base.html" %}
<!-- title -->
{% block title%} | Home {% endblock %}
<!-- load static -->
{% load static %}
<!-- body content -->
{% block content %}
<!-- flash Deals -->
<section class="banner">
  <div class="container">
    banner goes here
  </div>
</section>
<section>
  <div class="container">
    <div class="flashDeal">
      <div class="row">
        <div class="col-12">
          <div class="flashdeal__block owl-carousel owl-theme flash-carousel">
            <div class="item">
              <div class="flashdeal__main">
                <div class="flashdeal__main--inner">
                  <div class="flashdeal__main--img bg-theme d-block">
                    <h5>FLASH DEALS</h5>
                    <img
                      class="img-fluid flashdeal__main--img---icon"
                      src="{% static 'images/icons/flashSign.png' %} "
                      alt=" "
                    />
                  </div>
                  <div
                    class="flashdeal__main--content bg-theme flashdeal__main--bottom"
                  >
                    <p class="flashdeal__main--content---title text-white">
                      There is still time to start
                    </p>
                    <div class="d-flex justify-content-center">
                      <div>
                        <p class="time">48</p>
                      </div>
                      <div>
                        <p class="time">10</p>
                      </div>
                      <div>
                        <p class="time">02</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="flashdeal__main">
                <div class="flashdeal__main--inner">
                  <div class="flashdeal__main--img">
                    <img
                      class="img-fluid"
                      src="{% static 'images/products/png/tv.png' %} "
                      alt=" "
                    />
                  </div>
                  <div class="flashdeal__main--content">
                    <p class="flashdeal__main--content---title">Smart TV</p>
                    <div class="d-flex justify-content-center">
                      <div>
                        <p class="flashdeal__main--content---currentprice">
                          Rs: 2850
                        </p>
                      </div>
                      <div>
                        <p class="flashdeal__main--content---previousprice">
                          Rs: 5850
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="flashdeal__main">
                <div class="flashdeal__main--inner">
                  <div class="flashdeal__main--img">
                    <img
                      class="img-fluid"
                      src="{% static 'images/products/png/refrigerator.png' %} "
                      alt=" "
                    />
                  </div>
                  <div class="flashdeal__main--content">
                    <p class="flashdeal__main--content---title">Refrigerator</p>
                    <div class="d-flex justify-content-center">
                      <div>
                        <p class="flashdeal__main--content---currentprice">
                          Rs: 22850
                        </p>
                      </div>
                      <div>
                        <p class="flashdeal__main--content---previousprice">
                          Rs: 35850
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="flashdeal__main">
                <div class="flashdeal__main--inner">
                  <div class="flashdeal__main--img">
                    <img
                      class="img-fluid"
                      src="{% static 'images/products/png/watch.png' %} "
                      alt=" "
                    />
                  </div>
                  <div class="flashdeal__main--content">
                    <p class="flashdeal__main--content---title">
                      Men's Watch in Black
                    </p>
                    <div class="d-flex justify-content-center">
                      <div>
                        <p class="flashdeal__main--content---currentprice">
                          Rs: 850
                        </p>
                      </div>
                      <div>
                        <p class="flashdeal__main--content---previousprice">
                          Rs: 1050
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="flashdeal__main">
                <div class="flashdeal__main--inner">
                  <div class="flashdeal__main--img">
                    <img
                      class="img-fluid"
                      src="{% static 'images/products/png/liquar.png' %} "
                      alt=" "
                    />
                  </div>
                  <div class="flashdeal__main--content">
                    <p class="flashdeal__main--content---title">Liquor</p>
                    <div class="d-flex justify-content-center">
                      <div>
                        <p class="flashdeal__main--content---currentprice">
                          Rs: 2850
                        </p>
                      </div>
                      <div>
                        <p class="flashdeal__main--content---previousprice">
                          Rs: 3850
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  end flash Deals-->
<section class="products">
  <div class="container">
    <!-- Daily Deals Product-->
    <div class="dailiyDealsProduct">
      <div class="row">
        <div class="col-12">
          <div class="products__heading">
            <h3 class="products__heading--title">Daily Deals</h3>
            <a href="" class="products__heading--viewall btn btn-theme">
              View All
            </a>
          </div>
        </div>
      </div>
      <!-- product item-slider -->

      <div class="products__block owl-carousel owl-theme product-carousel">
        {% for product in productImage %}
        <div class="item">
          <a href="{{ product.product.get_absolute_url }}">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{{ product.image.url }}"
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    {{ product.product.name }}
                  </p>
                  <p class="products__main--content---price">
                    Rs: {{ product.product.price }}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %} {% comment %}
        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/cooker.png' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Pressure Cooker</p>
                  <p class="products__main--content---price">Rs: 2850</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endcomment %} {% comment %}
        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/watch.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Men GUCCI Watch</p>
                  <p class="products__main--content---price">Rs: 18500</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endcomment %} {% comment %}
        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/mobile.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    OPPO A52 6 GB 128 GB Twilight Black
                  </p>
                  <p class="products__main--content---price">Rs: 22850</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endcomment %} {% comment %}
        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/keyboard.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    Gaming Backled keyboard
                  </p>
                  <p class="products__main--content---price">Rs: 3050</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endcomment %}
      </div>
    </div>
    <!-- End Daily Deals Product -->
    <!-- New Arrival Deals Product -->
    <div class="newArrival">
      <div class="row">
        <div class="col-12">
          <div class="products__heading">
            <h3 class="products__heading--title">New Arrival</h3>
            <a href="" class="products__heading--viewall btn btn-theme">
              View All
            </a>
          </div>
        </div>
      </div>
      <!-- product item-slider -->
      <div class="products__block owl-carousel owl-theme product-carousel">
        {% for item in new_arrival_products %}
        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/headphone.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    {{ item.title }}
                  </p>
                  <p class="products__main--content---price">Rs: {{ item.price }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        { % endfor % }

<!--         <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/jd.jpeg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Jack Daniel's</p>
                  <p class="products__main--content---price">Rs: 4850</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/tshirt.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    Dry Poly Sports Tshirt
                  </p>
                  <p class="products__main--content---price">Rs: 2050</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/oil.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Olive Oil</p>
                  <p class="products__main--content---price">Rs: 850</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/shoes.png' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    Black Shoes for Men
                  </p>
                  <p class="products__main--content---price">Rs: 3350</p>
                </div>
              </div>
            </div>
          </a>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- offer banner -->
<section class="offer-banner">
  <div class="container">
    <hr />
    <div class="row g-3">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="offer-banner__block">
          <div class="offer-banner__image">
            <img src="{% static 'images/sn1.jpg' %}" class="img-fluid" alt="" />
            <div class="offer-banner__image---content">
              <p class="">Complete your look with</p>
              <h5 class="">New Men's Accessories</h5>
              <button class="btn btn-pink">Shop Now</button>
              <small class="d-block">Hats , Bags & much more</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="offer-banner__block">
          <div class="offer-banner__image">
            <img src="{% static 'images/sn2.jpg' %}" class="img-fluid" alt="" />
            <div class="offer-banner__image---content">
              <p class="">Complete your look with</p>
              <h5 class="">New Men's Accessories</h5>
              <button class="btn btn-pink">Shop Now</button>
              <small class="d-block">Hats , Bags & much more</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="offer-banner__block">
          <div class="offer-banner__image">
            <img src="{% static 'images/wcs.jpg' %}" class="img-fluid" alt="" />
            <div class="offer-banner__image---content">
              <p class="">Complete your look with</p>
              <h5 class="">New Men's Accessories</h5>
              <button class="btn btn-pink">Shop Now</button>
              <small class="d-block">Hats , Bags & much more</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
<!--  -->
<section class="products">
  <div class="container">
    <!-- shop below Product-->
    <div class="shopBelow">
      <div class="row">
        <div class="col-12">
          <div class="products__heading">
            <h3 class="products__heading--title">
              Shop Below <span class="text-theme-color">Rs 999</span>
            </h3>
            <a href="" class="products__heading--viewall btn btn-theme">
              View All
            </a>
          </div>
        </div>
      </div>
      <!-- product item-slider -->
      <div class="products__block owl-carousel owl-theme product-carousel">
        {% for item in shop_below_999 %}
        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/999/watch.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    Rado Men's Watch
                  </p>
                  <p class="products__main--content---price">Rs: 800</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}

<!--         <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/999/tshirt.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Women's T-shirt</p>
                  <p class="products__main--content---price">Rs: 850</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/999/wirelessheadphone.jpeg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    Wirless Headhone
                  </p>
                  <p class="products__main--content---price">Rs: 999</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/999/juicer.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Juicer Mixer</p>
                  <p class="products__main--content---price">Rs: 750</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/999/trimmer.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Trimmer</p>
                  <p class="products__main--content---price">Rs: 850</p>
                </div>
              </div>
            </div>
          </a>
        </div> -->
      </div>
    </div>
    <!-- End shop below Product -->
    <!-- Top selling Product -->
    <div class="topSellingProduct">
      <div class="row">
        <div class="col-12">
          <div class="products__heading">
            <h3 class="products__heading--title">Top Selling Product</h3>
            <a href="" class="products__heading--viewall btn btn-theme">
              View All
            </a>
          </div>
        </div>
      </div>
      <!-- product item-slider -->
      <div class="products__block owl-carousel owl-theme product-carousel">
        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/headphone.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    BENGOO G9000 Stereo Gaming Headset
                  </p>
                  <p class="products__main--content---price">Rs: 25850</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/jd.jpeg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Jack Daniel's</p>
                  <p class="products__main--content---price">Rs: 4850</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/tshirt.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    Dry Poly Sports Tshirt
                  </p>
                  <p class="products__main--content---price">Rs: 2050</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/oil.jpg' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">Olive Oil</p>
                  <p class="products__main--content---price">Rs: 850</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="">
            <div class="products__main">
              <div class="products__main--inner">
                <div class="products__main--img">
                  <img
                    class="img-fluid"
                    src="{% static 'images/products/shoes.png' %} "
                    alt=" "
                  />
                  <div class="products__main--hoverItem">
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="far fa-heart"></i
                    ></a>
                    <a href="#" class="hover-icon"
                      ><i class="fas fa-search-plus"></i
                    ></a>
                  </div>
                </div>
                <div class="products__main--content">
                  <p class="products__main--content---title">
                    Black Shoes for Men
                  </p>
                  <p class="products__main--content---price">Rs: 3350</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature Collection categories -->
<section class="categories backgroundGrey">
  <div class="container">
    <h4 class="categories__title">Feature Collection</h4>
    <div class="row">
      <div class="col-12">
        <div class="categories__block">
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/mobile.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Mobile Phone</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/watch.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Men's Watch</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/wm.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Washing Machine</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/waterpurifier.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Water Purifier</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/ac.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Air Conditioner</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/tv.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Smart TV</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/saree.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Women's Sarees</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/vault.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Vault & Safe</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/liquar.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Liquor</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/refrigerator.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Refrigerator</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- categories -->
<section class="categories categoryWithoutBorder">
  <div class="container">
    <h4 class="categories__title">Categories</h4>
    <div class="row">
      <div class="col-12">
        <div class="categories__block">
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/mobile.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Mobile Phone</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/watch.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Men's Watch</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/wm.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Washing Machine</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/waterpurifier.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Water Purifier</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/ac.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Air Conditioner</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/tv.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Smart TV</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/saree.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Women's Sarees</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/vault.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Vault & Safe</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/liquar.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Liquor</h6>
            </a>
          </div>
          <div class="categories__block--inner">
            <a href="">
              <div class="categories__block--img">
                <img
                  src="{% static 'images/products/png/refrigerator.png' %}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h6>Refrigerator</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- script -->
{% block script %}

<script>
  // script for product card slider
  $(".product-carousel").owlCarousel({
    loop: false,
    margin: 24,
    nav: false,
    dots: false,
    responsive: {
      0: {
        items: 2,
      },
      750: {
        items: 3,
      },
      1000: {
        items: 4,
      },
      1200: {
        items: 5,
      },
      1400: {
        items: 6,
      },
      1900: {
        items: 7,
      },
    },
  });

  // script for flash card slider
  $(".flash-carousel").owlCarousel({
    loop: false,
    margin: 0,
    nav: false,
    dots: false,
    responsive: {
      0: {
        items: 2,
      },
      750: {
        items: 3,
      },
      1000: {
        items: 4,
      },
      1200: {
        items: 5,
      },
      1400: {
        items: 6,
      },
      1900: {
        items: 7,
      },
    },
  });
</script>
{% endblock %}
