.cart {
    &__table {
        text-align: center;
        font-size: 0.875rem;
        color: $medium-dark-color;
        font-weight: 400;
        thead {
            td {
                text-transform: uppercase;
                font-size: 0.8125rem;
                border-bottom-color: $border-color !important;
            }
        }
        tbody {
            td {
                vertical-align: middle;
                color: $light-color;
            }
        }
        &---product-title {
            text-align: left;
            font-weight: 500;
            color: $dark-color;
            font-size: 0.9375rem;
            line-height: 1.5;
        }
        .qty {
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .count {
                text-align: center;
                max-width: 45px;
                font-size: 0.875rem;
                font-weight: 400;
                padding: 0.375rem;
                background-color: $white;
                color: $medium-dark-color;
            }
            .input-group-text {
                border-radius: 0;
                font-size: 0.75rem;
                background-color: $theme-color;
                cursor: pointer;
                color: $white;
            }
        }
    }
    .purchase-btn {
        font-size: 0.875rem;
        font-weight: 500;
    }
    .total {
        font-weight: 500;
        font-size: 0.9375rem;
    }
}

.modal-header-cart {
    padding-bottom: 0;
    border: 0;
}

.modal-dialog-cart {
    min-width: 1140px;
}