.footer {
    background-color: $footer;
    padding: 2rem 0 2rem 0;
    color: $white;
    font-weight: 400;
    h5 {
        text-transform: uppercase;
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }
    &__ul {
        list-style: none;
        padding-left: 0;
        font-size: 0.875rem;
        li {
            padding: 0.5rem 0;
            &:first-child {
                padding-top: 0;
            }
        }
    }
    &__bottom {
        margin-bottom: 0;
        font-size: 0.875rem;
        padding-top: 2rem;
        span {
            font-weight: 500;
        }
    }
    .contact {
        font-size: 0.875rem;
        &__address,
        &__email {
            padding: .5rem 0;
            font-size: 0.875rem;
        }
        &__address {
            padding-top: 0;
        }
        hr {
            margin: 2rem 0 1rem 0;
        }
    }
    .subscribe-input {
        border-radius: 0;
        padding: .5rem 1rem;
    }
    .ratedProduct {
        border-bottom: 1px solid #4b4b4b;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
        font-size: 0.875rem;
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
        &__image {
            height: 50px;
            width: 50px;
            margin-right: 1rem;
            img {
                max-height: 50px;
                object-fit: contain;
            }
        }
        &__detail {
            p {
                margin-bottom: .5rem;
            }
            i {
                color: #fea73a;
            }
        }
    }
}