html {
    scroll-behavior: smooth;
}

.top-header {
    background-color: $theme-color;
    padding: .25rem 0;
    &__nav {
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        font-size: 0.75rem;
        .nav-item {
            padding: 0.5rem;
            &:last-child {
                padding-right: 0;
            }
            .nav-link {
                padding: 0;
            }
        }
    }
    .form-select {
        padding: 0.25rem 2.5rem 0.25rem 0.75rem;
        font-size: 0.875rem;
        background-color: $theme-color;
        color: $white;
        border: 0;
    }
}

// bottom-header
.bottom-header {
    background-color: $white;
    padding: 2rem 0;
    &__searchbar {
        max-width: 560px;
        width: 100%;
        margin-left: 1rem;
        position: relative;
        border-radius: 0rem;
        &---form {
            font-size: 0.875rem;
            input[type=text] {
                width: 57%;
                float: left;
                padding: 0.5rem 1rem;
                border: 0;
                outline: 0;
                height: 44px;
                border: 1px solid #ced4da;
                border-right: 0;
            }
            select {
                width: 32%;
                float: left;
                font-size: 0.875rem;
                height: 44px;
                border-radius: 0;
            }
            button {
                width: 11%;
                background-color: $theme-color;
                border: 0;
                outline: 0;
                height: 44px;
                color: #fff;
                letter-spacing: .5px;
            }
        }
    }
    &__account,
    &__wishlist {
        margin-right: 3rem;
    }
    &__icon {
        position: relative;
        i {
            font-size: 1.75rem;
            color: $light-color;
        }
        &---count {
            position: absolute;
            top: -6px;
            right: -10px;
            width: 20px;
            height: 20px;
            background: #e26c34;
            border-radius: 50%;
            text-align: center;
            span {
                display: block;
                line-height: 20px;
                font-size: 0.75rem;
                color: $white;
                -webkit-transform: translateY(1px);
                -moz-transform: translateY(1px);
                -ms-transform: translateY(1px);
                -o-transform: translateY(1px);
                transform: translateY(1px);
            }
        }
    }
    &__content {
        margin-left: 1rem;
        &---price {
            font-size: 1rem;
            font-weight: 500;
            color: $medium-dark-color;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }
        &---text {
            font-size: 0.9375rem;
            font-weight: 400;
            color: $medium-dark-color;
        }
    }
}

.header-menu {
    background-color: $white;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    &__navbar {
        padding: 0;
        &---menuItem {
            .nav-item {
                .nav-link {
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $medium-dark-color;
                    padding: 0.75rem 1rem;
                }
            }
        }
    }
    &__dropdown {
        margin-top: 2px;
        .dropdown-menu {
            top: 31px;
            min-width: 259px;
            border-radius: 0;
            padding: 0;
            margin: 0;
            .dropdown-toggle {
                &::after {
                    position: absolute;
                    right: 1rem;
                    content: '\f105';
                    font-family: 'Font Awesome 5 Free';
                    font-size: inherit;
                    text-rendering: auto;
                    font-weight: 900;
                    -webkit-font-smoothing: antialiased;
                    border: 0;
                }
            }
            li {
                border-bottom: 1px solid #ced4da;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    padding: 0.75rem 1rem;
                    color: $light-color;
                    text-transform: capitalize;
                }
                &:hover .megasubmenu {
                    display: block;
                }
            }
            .has-submenu {
                position: relative;
                .megasubmenu {
                    position: absolute;
                    left: 100%;
                    top: -1px;
                }
            }
        }
    }
    &__nav-brand {
        color: $white;
        background-color: $theme-color;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.875rem 5rem 0.75rem 1rem;
        &:hover,
        &:active,
        &:focus {
            color: $white;
        }
        &::after {
            position: absolute;
            right: 1rem;
            content: '\f107';
            font-family: 'Font Awesome 5 Free';
            font-size: inherit;
            text-rendering: auto;
            font-weight: 900;
            -webkit-font-smoothing: antialiased;
            border: 0;
        }
        i {
            margin-right: 1rem;
            cursor: pointer;
        }
    }
    [data-toggle="dropdown"]:after {
        transform: rotate(0deg);
        transition: all linear 0.25s;
    }
    [data-toggle="dropdown"].show:after {
        transform: rotate(180deg);
    }
    .navbar-toggler {
        padding: 0;
        border: 0;
        i {
            background-color: $theme-color;
            color: $white;
            padding: 0.75rem;
        }
        &:focus,
        &:active,
        &:hover {
            box-shadow: none;
            border: 0;
        }
    }
}

.sticky-top {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
}

.sticky-top+.banner,
.sticky-top+.breadcrumbs {
    padding-top: 32px;
}

// mobileMenu
#side-drawer {
    height: 100vh;
    width: 300px;
    /*Ideal width for sidebar accdg to https://forums.envato.com/t/standard-sidebar-width/75633*/
    top: 0;
    left: -300px;
    z-index: 1032;
    /*z-index of standard bootstrap navbar is 1030 + 1 offset due to side-drawer-void*/
    transition: left 0.25s ease;
    font-size: 0.875rem;
}

#side-drawer-void {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1031;
    /*z-index of standard bootstrap navbar is 1030*/
    background: rgba(0, 0, 0, .6);
}

@media only screen and (max-width: 1199px) {
    .bottom-header {
        &__account,
        &__wishlist {
            margin-right: 1.5rem;
        }
    }
}

@media only screen and (max-width: 991px) {
    .bottom-header {
        &__account,
        &__wishlist {
            margin-right: 2rem;
        }
        &__icon {
            i {
                font-size: 1.5rem;
            }
        }
        &__searchbar {
            max-width: unset;
            margin-left: 0rem;
            margin-top: 1rem;
        }
    }
    .header-menu {
        &__dropdown {
            margin-top: 0px;
            .dropdown-menu {
                top: 31px;
            }
        }
        &__nav-brand {
            padding: 0.75rem 3.5rem 0.8375rem 1rem;
            &::after {
                content: '';
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .bottom-header {
        &__icon {
            i {
                font-size: 1.25rem;
            }
        }
        &__content {
            display: none;
        }
    }
}