// banner
.banner {
    padding: 2rem 0;
}

// flashdeal
.flashdeal {
    padding: 2rem 0;
    &__main {
        &--inner {
            text-align: center;
            height: auto;
            background-color: #f1f1f1;
        }
        &--img {
            padding: 1rem 2rem;
            display: flex;
            vertical-align: middle;
            height: 200px;
            &---icon {
                width: 90px !important;
            }
            h5 {
                padding: 2rem 0 1.5rem;
                color: $white;
                font-weight: 600;
            }
            img {
                max-height: 165px;
                display: block;
                margin: 0 auto;
                object-fit: contain;
            }
        }
        &--content {
            padding: 0.75rem;
            &---title,
            &---currentprice,
            &---previousprice {
                color: $medium-dark-color;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 500;
                margin-bottom: .5rem;
                font-size: 0.875rem;
            }
            &---currentprice {
                margin-bottom: 0;
                background-color: $theme-color;
                color: $white;
                border: 1px solid $theme-color;
                padding: 0.25rem .75rem;
            }
            &---previousprice {
                text-decoration-line: line-through;
                margin-bottom: 0;
                border: 1px solid $theme-color;
                padding: 0.25rem .75rem;
            }
        }
        &--bottom {
            padding: 0 0.75rem 1.625rem 0.75rem;
        }
        .time {
            color: $medium-dark-color;
            font-weight: 400;
            font-size: 0.875rem;
            padding: 0.25rem .375rem;
            text-align: center;
            margin: 0 .5rem;
            background-color: #c1fafb;
        }
    }
}

// offer-banner
.offer-banner {
    &__block {
        padding: 1rem 0;
        color: $dark-color;
    }
    &__image {
        position: relative;
        max-height: 190px;
        overflow: hidden;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .15);
        &---content {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1.5rem 1rem;
            p {
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 0.75rem;
            }
            h5 {
                margin-bottom: 0.75rem;
            }
            button {
                margin-bottom: 0.75rem;
            }
            small {
                font-size: 0.75rem;
            }
        }
    }
}

// product
.dailiyDealsProduct,
.shopBelow {
    margin-bottom: 2rem;
}

.products {
    padding: 2rem 0;
    &__heading {
        margin-bottom: 1rem;
        &--title {
            display: inline-block;
            position: relative;
            font-weight: 500;
        }
        &--viewall {
            float: right;
            padding-left: 1rem;
            padding-right: 1rem;
            font-weight: 500;
        }
    }
    &__main {
        border: 1px solid #efefef;
        border-radius: 0.25rem;
        height: auto;
        margin-bottom: .5rem;
        &:hover {
            .products__main--hoverItem {
                display: block;
            }
        }
        &--inner {
            background: #fff;
            border-radius: 0.25rem;
            -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
        }
        &--img {
            border-bottom: 1px solid #e7e7e7;
            position: relative;
            padding: 2rem;
            display: table-cell;
            vertical-align: middle;
            height: 230px;
            img {
                max-height: 165px;
                display: block;
                margin: 0 auto;
                object-fit: contain;
            }
        }
        &--hoverItem {
            display: none;
            position: absolute;
            right: .75rem;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            .hover-icon {
                width: 35px;
                height: 35px;
                text-align: center;
                display: block;
                padding: 0.5rem;
                margin-bottom: 0.75rem;
                color: mediun-dark-color;
                background: $white;
                border-radius: 2px;
                -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .2);
                box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .2);
            }
        }
        &--content {
            padding: 0.75rem;
            background: #f1f1f1;
            border-radius: 0 0 0.25rem 0.25rem;
            &---title,
            &---price {
                color: $medium-dark-color;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 500;
                margin-bottom: .5rem;
                font-size: 0.875rem;
            }
            &---price {
                color: $theme-color;
                margin-bottom: 0;
            }
        }
    }
}

// categories
.categories {
    padding: 2rem 0;
    &__title {
        margin-bottom: 1.5rem;
        text-align: center;
        color: $theme-color;
        position: relative;
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            left: 47%;
            bottom: -1rem;
            width: 4%;
            height: 1px;
            background-color: #ccc;
        }
    }
    &__block {
        margin-top: .5rem;
        &--inner {
            width: 20%;
            float: left;
            padding: 1rem;
            background-color: $white;
            border: 1px solid #e1e1e1;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: #e7f6f7;
                h6 {
                    color: $theme-color;
                }
            }
        }
        h6 {
            margin-bottom: 0;
            color: $medium-dark-color;
            font-weight: 400;
            transition: all 0.3s ease-in-out;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &--img {
            display: table-cell;
            vertical-align: middle;
            padding: 0.5rem 1rem;
            height: 130px;
            img {
                max-height: 100px;
                margin: 0 auto;
                object-fit: contain;
            }
        }
    }
}

.categoryWithoutBorder {
    .categories__block--inner {
        border: 0;
        width: 20%;
        &:hover {
            background-color: rgba(0, 0, 0, .05);
            transition: all 0.3s ease-in-out;
            box-shadow: inset 0px 0px 8px 0 rgba(0, 0, 0, .15);
            h6 {
                color: $medium-dark-color;
            }
            .categories__block--img {
                overflow: hidden;
                img {
                    transform: scale(1.3);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

@media (max-width:991px) {
    .categories {
        &__block {
            &--inner {
                width: 33.3333%;
            }
        }
    }
    .categoryWithoutBorder {
        .categories {
            &__block {
                &--inner {
                    width: 33.3333%;
                }
            }
        }
    }
}

@media(max-width:767px) {
    .offer-banner {
        &__image {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width:575px) {
    .categories {
        &__block {
            &--inner {
                width: 50%;
            }
        }
    }
    .categoryWithoutBorder {
        .categories {
            &__block {
                &--inner {
                    width: 50%;
                }
            }
        }
    }
}