.breadcrumbs {
    padding: 1rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    color: $light-color;
}

.title {
    color: $medium-dark-color;
    padding-bottom: 1.25rem;
    span {
        font-weight: 300;
        font-size: 0.875rem;
    }
}

.filterBlock {
    &__titile {
        color: $medium-dark-color;
    }
}

.filterMain {
    -webkit-box-shadow: -2px 2px 6px 0 rgba(0, 0, 0, .15);
    box-shadow: -2px 2px 6px 0 rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    margin-top: 6px;
    &__listing {
        .panel-group {
            .panel {
                border-bottom: 1px solid $border-color;
                padding-bottom: 1rem;
                &:last-child {
                    border-bottom: 0;
                }
                .panel-heading {
                    padding: 0.5rem;
                    &__title {
                        font-size: 0.9375rem;
                        color: $theme-color;
                        font-weight: 500;
                        border-radius: 0;
                    }
                    &__search-icon-block {
                        i {
                            color: $light-color;
                            background: #d6d6d6;
                            padding: .5rem;
                            text-align: center;
                            border-radius: 50%;
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            font-size: 0.875rem;
                        }
                        &:hover {
                            i {
                                color: $white;
                                background-color: $theme-color;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
                .panel-search {
                    padding: 0 .5rem .5rem;
                    display: none;
                    .search-input {
                        border-radius: 0;
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: $medium-dark-color;
                        &:focus,
                        &:active {
                            box-shadow: none;
                            border-color: $light-color;
                        }
                    }
                }
            }
        }
        .form-group {
            background: rgba(255, 255, 255, .7);
            margin-bottom: 0;
            .formSelectionGroup {
                padding: 0 0.5rem 0.5rem;
                font-size: 0.875rem;
                max-height: 222px;
                overflow-y: auto;
                .formSelection-field {
                    margin-bottom: 0.625rem;
                    display: flex;
                    justify-content: start;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    label {
                        text-transform: capitalize;
                        font-weight: 400;
                        color: $light-color;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .chbox {
                        margin-right: 0.5rem;
                    }
                }
            }
            .irs--flat {
                .irs-bar,
                .irs-from,
                .irs-to,
                .irs-single,
                .irs-handle>i:first-child {
                    background-color: $theme-color;
                }
                .irs-from:before,
                .irs-to:before,
                .irs-single:before {
                    border-top: $theme-color;
                }
                .irs-line,
                .irs-bar {
                    height: 5px;
                }
                .irs-handle {
                    top: 20px;
                    width: 15px;
                    height: 15px;
                    i:first-child {
                        width: 15px;
                        border-radius: 50%;
                        left: 10%;
                    }
                }
            }
        }
    }
}

// pagination
.paginationBlock {
    padding: .75rem;
    margin: 1.5rem 0;
    border: 1px solid $border-color;
    border-left: 0;
    border-right: 0;
    ul {
        margin-bottom: 0;
        .page-item:not(:first-child) .page-link {
            margin-left: 0;
        }
        li {
            font-weight: 400;
            font-size: 0.8375rem;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            &.active .page-link {
                background-color: $theme-color;
                border: none;
            }
            .page-link {
                width: 25px;
                padding: 0.25rem 0;
                text-align: center;
                background: #fff;
                border: 0;
                border-radius: 0.25rem;
                color: $medium-dark-color;
                margin-left: 0;
                line-height: unset;
                &:focus {
                    box-shadow: none;
                }
                &:hover {
                    color: $white;
                    background-color: $theme-color;
                }
            }
        }
    }
    &__count {
        font-size: 0.875rem;
        font-weight: 400;
        color: $light-color;
    }
}

.customerLikes {
    padding: 2rem 0;
}

// shopbanner slider
.offer-banner {
    &__block {
        padding: 0;
        border: 1px solid $border-color;
        border-radius: 0.25rem;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .15);
    }
    &__inner {
        padding: 0rem;
        display: flex;
        align-items: flex-end;
        &---image {
            margin: 0 auto;
            img {
                object-fit: contain;
                max-height: 132px;
            }
        }
        &---content {
            padding: 1.5rem 0rem;
            h6,
            small {
                margin-bottom: 0.5rem;
            }
            small {
                font-size: 0.875rem;
                color: $light-color;
            }
        }
    }
}

.interested {
    &__slider {
        position: relative;
        .owl-theme {
            .custom-nav {
                position: absolute;
                top: 28%;
                left: 0;
                right: 0;
                margin-top: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 99;
                .owl-prev,
                .owl-next {
                    position: absolute;
                    height: 60px;
                    color: inherit;
                    background-color: #f0fefe;
                    border: none;
                    z-index: 2;
                    padding: 0 1.25rem;
                    margin: 0;
                    i {
                        font-size: 1.75rem;
                        color: $light-color;
                    }
                }
                .owl-prev {
                    left: 0;
                    border-radius: 0 0.25rem 0.25rem 0;
                    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, .15);
                }
                .owl-next {
                    right: 0;
                    border-radius: 0.25rem 0 0 0.25rem;
                    box-shadow: -3px 3px 4px 2px rgba(0, 0, 0, .15);
                }
            }
            .owl-nav .disabled {
                opacity: 0;
            }
        }
    }
}

.reviewBlock {
    padding-bottom: 2rem;
    &__heading {
        display: flex;
        margin-bottom: 1rem;
        &---item {
            margin-right: 1rem;
            align-self: center;
            &:last-child {
                margin-right: 0;
            }
            .rating-count {
                font-size: 0.8375rem;
                color: $light-color;
                font-weight: 400;
            }
            .question-input-group {
                font-size: 0.875rem;
                font-weight: 400;
                .input-group-text {
                    background-color: #fff;
                    border: 0;
                    border-bottom: 1px solid $border-color;
                    border-radius: 0;
                }
                input {
                    border: 0;
                    border-bottom: 1px solid $border-color;
                    &:focus,
                    &:active {
                        box-shadow: none;
                    }
                }
            }
        }
    }
    &__imageUploaded {
        margin-bottom: 1rem;
        ul {
            li {
                margin-right: .25rem;
                margin-bottom: .5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__reviewInner {
        border-bottom: 1px solid $border-color;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
        &:last-child {
            border: 0;
        }
        &---rate,
        &---image,
        &---question,
        &---answer,
        &---readMore,
        &---content {
            margin-bottom: .5rem;
        }
        &---question p,
        &---answer p {
            font-size: 0.875rem;
            font-weight: 400;
            color: $dark-color;
        }
        &---answer {
            margin-bottom: 1rem;
        }
        &---detail {
            p {
                color: $light-color;
                margin-bottom: .5rem;
            }
        }
        &---readMore {
            font-size: 0.75rem;
            font-weight: 400;
        }
        &---content {
            color: $light-color;
            font-weight: 400;
            font-size: 0.75rem;
            display: flex;
            justify-content: space-between;
            .thumbs {
                span {
                    margin-right: 1rem;
                    a {
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    &__postQuestion {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        margin-top: 2rem;
        padding: 2rem 0;
        p {
            font-size: 0.875rem;
            color: $light-color;
            font-weight: 400;
        }
    }
    .view-more-review {
        padding-bottom: .5rem;
        border-bottom: 1px solid $border-color;
    }
}

.reviewBlockMain,
.questionBlockMain {
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, .15);
    padding: 1rem;
    border-radius: 0.5rem;
}

.large-badge {
    font-size: 0.75rem;
    padding: 0.375rem;
}

.small-badge {
    font-size: 0.6875rem;
    padding: 0.25rem;
}

@media (max-width:767px) {
    .reviewBlock {
        &__heading {
            display: block;
            margin-bottom: 1rem;
            &---item {
                display: inline-block;
            }
            .search-question {
                display: block;
            }
        }
    }
}