.productDetail {
    padding: 2rem 0;
    &__inner {
        padding: 0 1.5rem 2rem 1.5rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 2px 2px 1px rgba(27, 27, 27, 0.1);
    }
    &__mainZoomImage {
        &---imageContainer {
            height: 550px;
            overflow: hidden;
            border: 1px solid rgb(235, 232, 232);
            img {
                max-height: 550px;
                min-height: 550px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    &__thumbnail {
        position: relative;
        margin-top: 1rem;
        .owl-theme {
            .custom-nav {
                position: absolute;
                top: 40%;
                left: 0;
                right: 0;
                margin-top: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 99;
                .owl-prev,
                .owl-next {
                    position: absolute;
                    height: 25px;
                    color: inherit;
                    background-color: $white;
                    border: none;
                    z-index: 2;
                    padding: 0;
                    margin: 0;
                    i {
                        font-size: 1.75rem;
                        color: $light-color;
                    }
                }
                .owl-prev {
                    left: -1rem;
                }
                .owl-next {
                    right: -1rem;
                }
            }
            .owl-nav .disabled {
                opacity: .7;
            }
        }
        .thumbnail-carousel {
            .item {
                height: 130px;
                img {
                    min-height: 130px;
                    max-height: 130px;
                    object-fit: contain;
                    border: 1px solid rgb(235, 232, 232);
                }
            }
        }
    }
    &__content {
        padding-left: 1rem;
        .crumb {
            color: $light-color;
            font-size: 0.75rem;
            span {
                font-weight: 500;
            }
        }
        &---title {
            font-size: 1rem;
            color: $medium-dark-color;
            font-weight: 500;
            margin: 1rem 0;
        }
        .size {
            margin: 0.625rem 0;
            display: flex;
        }
        &---desc {
            font-size: 0.875rem;
            color: $light-color;
            font-weight: 400;
            padding-bottom: 1rem;
            .price {
                font-size: 1.5rem;
                color: $dark-color;
                font-weight: 400;
                margin-right: 0.75rem;
            }
            .price-off {
                font-weight: 300;
                color: $light-color;
                margin-right: 0.75rem;
                text-decoration: line-through;
            }
            .off-percent {
                font-weight: 400;
                margin-right: 0.75rem;
            }
            .hurry {
                font-size: 0.8375rem;
                font-weight: 400;
                margin-right: 0.75rem;
                color: $medium-dark-color;
            }
            .rating-icon {
                margin-right: 0.25rem;
                font-size: 0.75rem;
            }
            .rating-count {
                color: $medium-dark-color;
                font-weight: 400;
            }
            .sizes {
                a {
                    background-color: #f1f1f1;
                    padding: 0.625rem 0.75rem;
                    color: $medium-dark-color;
                    font-size: 0.6875rem;
                    border-radius: 0.25rem;
                    margin-right: .5rem;
                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
                .size-chart {
                    background-color: $white;
                    color: $theme-color;
                    border: 1px solid $border-color;
                }
            }
            .color-code {
                li {
                    margin-right: .5rem;
                    margin-bottom: .5rem;
                    border: 1px solid $border-color;
                }
            }
            .qty {
                display: flex;
                color: #4d4c4b;
                font-size: 0.875rem;
                font-weight: 400;
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                .count {
                    text-align: center;
                    max-width: 45px;
                    font-size: 0.875rem;
                    font-weight: 400;
                    padding: 0.375rem;
                    background-color: $white;
                    color: $medium-dark-color;
                }
                .input-group-text {
                    border-radius: 0;
                    font-size: 0.75rem;
                    background-color: $theme-color;
                    cursor: pointer;
                    color: $white;
                }
                .stock-qty {
                    color: $medium-dark-color;
                }
            }
            .shipping-text {
                color: $dark-color;
                font-weight: 500;
            }
            .estimated {
                position: relative;
                li {
                    padding-top: .5rem;
                    font-size: 0.75rem;
                    padding-left: 1.5rem;
                    &::before {
                        position: absolute;
                        left: 0;
                        content: '\f0a4';
                        font-family: 'Font Awesome 5 Free';
                        font-size: inherit;
                        text-rendering: auto;
                        font-weight: 900;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
            .highlight-list {
                position: relative;
                li {
                    padding-top: .5rem;
                    font-size: 0.75rem;
                    padding-left: 1.5rem;
                    color: $dark-color;
                    &::before {
                        position: absolute;
                        left: 0;
                        content: '\f138';
                        font-family: 'Font Awesome 5 Free';
                        font-size: inherit;
                        text-rendering: auto;
                        font-weight: 900;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
        }
        .cta-buttons {
            .buy-now,
            .add-cart {
                padding: 0.5rem 2rem;
            }
        }
    }
}

.customNavtab {
    border-bottom: 0;
    margin-bottom: 1.5rem;
    justify-content: center;
    .nav-link {
        border: 0;
        border-bottom: 2px solid #eee;
        border-radius: 0;
        color: $dark-color;
        font-weight: 400;
        &:hover,
        &:focus {
            border-color: #eee;
        }
        &.active {
            border-bottom: 2px solid $theme-color;
            color: $dark-color;
        }
    }
}

.tabBlock__navContainer {
    background: $white;
    z-index: 1019;
    position: sticky;
    top: 194px;
}

.product-tab {
    padding: 1rem 0 2rem 0;
    &__content {
        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, .15);
        padding: 1rem;
        border-radius: 0.5rem;
        &---inner {
            padding: 0.5rem 0;
            color: $medium-dark-color;
            font-weight: 300;
            font-size: 0.875rem;
            line-height: 1.5;
            border-bottom: 1px solid #cdecef;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .border-specification {
        border-bottom: 1px solid #cdecef;
    }
}

@media(max-width:768px) {
    .tabBlock {
        &__navContainer {
            overflow-x: auto;
            white-space: nowrap;
            .customNavtab {
                flex-wrap: unset;
                justify-content: unset;
            }
        }
    }
}

@media(max-width:575px) {
    .productDetail {
        &__inner {
            padding: 0 1rem 1.5rem 1rem;
        }
        &__content {
            padding-left: 0;
            .size {
                display: block;
            }
            &---desc {
                .sizes {
                    margin: 1rem 0;
                }
                .qty {
                    display: block;
                    &__title {
                        margin-bottom: .5rem;
                    }
                    &__count,
                    &__stock {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media(max-width:360px) {
    .productDetail {
        &__content {
            &---desc {
                .sizes {
                    a {
                        padding: 0.25rem .5rem;
                        font-size: 0.625rem;
                    }
                }
            }
            .cta-buttons {
                .buy-now,
                .add-cart {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}