
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    #map {
      height: 80vh;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    } 
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
</head>
<body>
  <button id="save-route">Save route</button>
  <div id="map">
    
  </div>
  <script>
    function addMarkers(){
      {% for i in fk_route_details %}
      addMarker( 
        new google.maps.LatLng( lat= {{i.order_latitude}} , lng= {{i.order_longitude}} ),
        {{i.id}} ) ;
      {% endfor %}
      drawPolyline();
    }
  </script>

  <script>
    let map;
    let markersArray = [];
    let polyline = null;
     counter=0;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 27.73007128, lng: 85.35944362},
        zoom: 15 //20
      });
      // map onclick listener 
      map.addListener('click', function(e) {
        //console.log(e);
        addMarker(e.latLng);
        drawPolyline();
      });

      map.addListener(map, 'idle', function(){
          // do something only the first time the map is loaded
          // 
          
          console.log('map loaded');
      });

      map.addListener('tilesloaded', function () { 
        console.log('map loaded1'); 
        addMarkers();
      })
    }

    // define function to add marker at given lat & lng
    function addMarker(latLng, fk_routedetail_id=0) {
      console.log(latLng);
      counter++;

      let marker = new google.maps.Marker({
          fk_route_detail_id: fk_routedetail_id ? fk_routedetail_id : 0,
          id:counter,
          map: map,
          position: latLng,
          draggable: true,
          title: 'Marker #',
            infoWindow: {
                content : '[lat, lang] : [' + 1 + ',' + 1 + ']'
                          + '<br><button class="btn btn-default remove-marker" data-marker-lat="'+1+'" data-marker-lng="'+1+'">Delete marker</button>'
            },
            iwin: latLng.lat() + "," + latLng.lng() + " <br> <button onclick='deleteMarker(" + counter +")'> del </button> Delete this marker " + counter
      });


      marker.addListener('click', function() {
        //alert(1);
        var markerId=counter;
         var infowindow = new google.maps.InfoWindow({
               // content:"<button onclick='deleteMarker(" + markerId +")'> del </button> Delete this marker " + markerId
               content: marker.iwin
            });
        
            infowindow.open(map,marker);
      });


      // add listener to redraw the polyline when markers position change
      marker.addListener('position_changed', function() {
        drawPolyline();
      });

      //store the marker object drawn in global array
      markersArray.push(marker);
    }

    // define function to draw polyline that connect markers' position
    function drawPolyline() {
      let markersPositionArray = [];
      // obtain latlng of all markers on map
      markersArray.forEach(function(e) {
        if(e.map == null){return;} //dont use null map to draw
        markersPositionArray.push(e.getPosition());
      });

      // check if there is already polyline drawn on map
      // remove the polyline from map before we draw new one
      if (polyline !== null) {
        polyline.setMap(null);
      }

      // draw new polyline at markers' position
      polyline = new google.maps.Polyline({
        map: map,
        path: markersPositionArray,
        strokeOpacity: 0.4
      });
    }

      function deleteMarker(markerId) {
   
      for (var i=0; i<markersArray.length; i++) {
          
          if (markersArray[i].id === markerId) {

              markersArray[i].setMap(null);
          }
      }
      drawPolyline();
    }

function getLatLngArray() {
      let markersPositionArray = [];
      // obtain latlng of all markers on map
      markersArray.forEach(function(e) {
        if(e.map == null){return;} //dont use null map to draw
        var o = {fk_route_detail_id: e.fk_route_detail_id, order_latitude:e.position.lat(), order_longitude: e.position.lng()};
        console.log(o);
        markersPositionArray.push(o);

        
      });

      return markersPositionArray;
    }

  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap">
  </script>
  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">

  http://jsfiddle.net/BAv48/

  <script>
    function getUrlParameter(sParam) {
    console.log('getUrlParameter');

      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
  }

    $('#save-route').on('click',function(){
      var fk_route_id = getUrlParameter('fk_route_id');
      console.log('fk_route_id', fk_route_id);

      var send={
        'fk_route_id': fk_route_id,
        'fk_route_details' : getLatLngArray()
      };

      var str = JSON.stringify(send); //$.param(send)

      console.log(str);
      
      $.ajax({
          type: 'POST',
          url: '/route_detail_view',
          data: str,
          success: function(msg){

          },
          error: function(){
            //alert("failure");
          }
        });

    });
  </script>
  
</body>
</html>
