{% extends "layout/base.html" %}
<!-- title -->
{% block title%} | Home {% endblock %}
<!-- load static -->
{% load static %}
<!-- body content -->
{% block content %}
<div class="container-fluid">
    <div class="reset-section mt-5 mb-5 ml-2 mr-2">
        <form>
            <div class="form-label-group mt-4 center-reset">
            <h6 class="login-heading mb-5"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;RESET YOUR PASSWORD</h6>
              <label for="inputEmail">Your Email Address</label>
              <input type="text" id="inputEmail" class="form-control lg-input" placeholder="Email address" required>
            <button class="btn btn-primary btn-login text-uppercase font-weight-bold mt-4 mb-2 signup" type="submit">Reset NOW</button>
            </div>
          </form>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
        
    $(document).ready(function(){
    $('.pass_show').append('<span class="ptxt"><i class="fa fa-eye"></i></span>');  
    });
    

    $(document).on('click','.pass_show .ptxt', function(){ 

    $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

    });  
</script>

{% endblock %}