{% extends "layout/base.html" %}
<!-- title -->
{% block title%} | Home {% endblock %}
<!-- load static -->
{% load static %}
<!-- body content -->
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-login"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 ml-4">
                <h3 class="login-heading">SIGN IN</h3>
                <p class="login-h-text">We let you explore more with 5000+ products.</p>
                <form>
                  <div class="form-label-group">
                    <label for="inputEmail">Email Address / Username</label>
                    <input type="text" id="inputEmailorUsername" class="form-control lg-input" placeholder="Email address" required>
                  </div>
  
                  <div class="form-label-group pass_show">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control lg-input" placeholder="Password" required>
                  </div>

                  <button class="btn btn-primary btn-login text-uppercase font-weight-bold mb-2 signup" type="submit">Sign In</button>
                  <div class="bottom-text-login">
                    Forget your password?<a class="small ml-1" href="#">Reset Here</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
        
    $(document).ready(function(){
    $('.pass_show').append('<span class="ptxt"><i class="fa fa-eye"></i></span>');  
    });
    

    $(document).on('click','.pass_show .ptxt', function(){ 

    $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

    });  
</script>

{% endblock %}