.btn {
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    &:focus,
    &:hover {
        box-shadow: none;
        outline: 0;
    }
}

.btn-theme {
    color: $white;
    background-color: $theme-color;
    border-radius: 0;
    &:hover,
    &:focus,
    &:active {
        color: $white;
        cursor: pointer;
    }
}

.btn-pink {
    background-color: #db3c40;
    color: $white;
    border-radius: 0.25rem;
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: #c03438;
        cursor: pointer;
    }
}

.btn-add-cart {
    color: $white;
    background-color: $medium-dark-color;
    border-radius: 0;
    &:hover,
    &:focus,
    &:active {
        background-color: $dark-color;
        color: $white;
        cursor: pointer;
    }
}

.btn-next-outline {
    padding: 0.25rem 1rem;
    color: $dark-color;
    border: 1px solid $border-color;
    &:hover,
    &:active,
    &:focus {
        background: #fafafa;
        box-shadow: 0 0px 3px 0 rgba(0, 0, 0, .1);
    }
}