<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %}{% endblock %} | ATM Pharmacy</title>
    <link rel="stylesheet" href="{% static 'home/css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}" />

    <link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/all.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

    <link rel="icon" href="{% static 'home/images/favicon.ico' %}" type="image/icon" sizes="16x16">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="{% static 'home/js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous"></script>
    
    {% include "home/layout/carousel.html" %}
</head>


<body style="background-color: #fff;">
    <!-- <div class="wrapper"> -->
    {% include "home/frontend/pharmacy-header.html" %}
    <!-- Content Block  -->
    {% block content %}
    <!--  -->
    {% endblock %}
    <!-- End of bloc Content -->
    {% include "home/frontend/pharmacy-footer.html" %}
    <!-- </div> -->

    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/side_drawer.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>

    <script>
        $(window).bind('scroll', function() {
            if ($(window).scrollTop()) {
                $('.header').addClass('sticky-top');
            } else {
                $('.header').removeClass('sticky-top');
            }
        });
        // drop menu disable
        $(document).ready(function() {
            const mq = window.matchMedia("(max-width: 991px)");
            if (mq.matches) {
                $('.header-menu__nav-brand').prop('disabled', true);

            } else {
                $('.header-menu__nav-brand').prop('disabled', false);
            }
        });
        // Increasee/Decreass Field
        $(document).ready(function() {
            $('.count').prop('disabled', true);
            $(document).on('click', '.plus', function() {
                $('.count').val(parseInt($('.count').val()) + 1);
            });
            $(document).on('click', '.minus', function() {
                $('.count').val(parseInt($('.count').val()) - 1);
                if ($('.count').val() == 0) {
                    $('.count').val(1);
                }
            });
        });
    </script>
    <script>
        //atm-product-slider
        $(".atm-product-carousel").owlCarousel({
            loop: false,
            margin: 16,
            autoplay: 3000,
            nav: false,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.atm-product-container .custom-nav',
            responsive: {
                0: {
                    items: 1,
                },
                400: {
                    items: 2,
                },
                600: {
                    items: 2.5,
                },
                700: {
                    items: 3,
                },
                1000: {
                    items: 4,
                },
                1200: {
                    items: 6,
                },
                1400: {
                    items: 6,
                },
                1900: {
                    items: 7,
                },
            },
        });
        // deal Day
        $(".dealDay-carousel").owlCarousel({
            loop: false,
            margin: 16,
            autoplay: 3000,
            nav: false,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.atm-product-container .custom-nav',
            responsive: {
                0: {
                    items: 1,
                },

                400: {
                    items: 2,
                },
                600: {
                    items: 1.75,
                },
                700: {
                    items: 2,
                },

                1000: {
                    items: 3,
                },
                1200: {
                    items: 5,
                },
                1400: {
                    items: 6,
                },
                1900: {
                    items: 7,
                },
            },
        });
        $(".testominals-carousel").owlCarousel({
            loop: false,
            margin: 24,
            nav: false,
            dots: true,
            responsive: {
                0: {
                    items: 1,
                },
                750: {
                    items: 2,
                },
                1000: {
                    items: 3,
                },
                1200: {
                    items: 3,
                },
                1400: {
                    items: 3,
                },
                1900: {
                    items: 3,
                },
            },
        });
    </script>

<script>
      $("#registerForm").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = '/api/customer_register/';
    var mobile = $('#mobile').val();
    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
            // serializes the form's elements.
           success: function(data)
           {
            var data = JSON.stringify(data);
                localStorage.setItem("mobile", mobile)
               $.notify("Success, Please verify your account using OTP code in your email", "success");
               
               $('#signup').replaceWith( $( "#otp" ) );
               $("#otp").show();
               
               
           },
           error: function(data) {
            console.log(data);
          $.notify(data.responseJSON.Fail, "error");
       }
        

         });

    
});
      
    </script>
    <script type="text/javascript">
        $('document').ready(function(){
            $('#otp').hide();
           
        });
    </script>


<script type="text/javascript">
    
     $("#otp").submit(function(e) {
        $('input[name=mobile]').val(localStorage.getItem('mobile'));
    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = '/api/validate_email_otp/';
    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
            // serializes the form's elements.
           success: function(data)
           {
            var data = JSON.stringify(data);
               $.notify("OTP verified, Your account is activated please login", "success");
                window.location='/'          
           },
           error: function(data) {
            console.log(data);
          $.notify(data.responseJSON.Fail, "error");
       }
        

         });

    
});

function _ADD_TO_CART_PRODUCT_VARIATION_(variationID) {
        console.log('_ADD_TO_CART_PRODUCT_');
        //todo: add first variation of given product
        var thisRef = this;
        var urlData = _URL_SERVER_ + '/api/create_cart/';
        var filterParams = ''; //''SEARCH_PARAMS();
        var url = urlData; // + '&' + filterParams;

        var product_variation_id =  variationID; //GET_PRODUCT_1ST_VARIATION(itemProduct);
        var msg = "";
        if (!product_variation_id) {
            msg = "No product variation id";
            alert('No variation found. Cannot order this product');
        }

        var data = {
            "quantity": 1,
            "line_item_total": "23.00",
            "cart": 92,
            "fk_storewise_order": null,
            "item": product_variation_id //5
        }

        $.ajax({
            url: url,
            type: 'POST',
            // contentType:"application/json; charset=utf-8",
            // dataType:"json",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "X-CSRFToken": getCSRFToken()
            },

            data: JSON.stringify(data),
            success: function(response) {
                $.notify("Added to cart", "success");

            }
        }); //end ajax

    }

    function _CART_ADD_SUB_QTY_(item_id, qty) {
        console.log('_ADD_TO_CART_PRODUCT_');
        //todo: add first variation of given product
        var thisRef = this;
        var urlData = _URL_SERVER_ + '/api/create_cart/?is_add_sub_qty=True';
        var filterParams = ''; //''SEARCH_PARAMS();
        var url = urlData; // + '&' + filterParams;

        var data = {
            'item': item_id,
             'quantity': qty
        }

        $.ajax({
            url: url,
            type: 'POST',
            // contentType:"application/json; charset=utf-8",
            // dataType:"json",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "X-CSRFToken": getCSRFToken()
            },

            data: JSON.stringify(data),
            success: function(response) {
                $.notify("Updated", "success");

            },
            error: function(response) {
                $.notify("Not valid ", "error");

            }
        }); //end ajax

    }


    function _CART_DELETE_ITEM_(item_id) {
        console.log('_ADD_TO_CART_PRODUCT_');
        //todo: add first variation of given product
        var thisRef = this;
        product_id = item_id;
        var urlData = _URL_SERVER_ + '/api/delete_cart_item/' + product_id + '/';
        var filterParams = ''; //''SEARCH_PARAMS();
        var url = urlData; // + '&' + filterParams;

        // var data = {
        //     'item': item_id,
        //      'quantity': qty
        // }

        $.ajax({
            url: url,
            type: 'DELETE',
            // contentType:"application/json; charset=utf-8",
            // dataType:"json",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "X-CSRFToken": getCSRFToken()
            },

            // data: JSON.stringify(data),
            success: function(response) {
                $.notify("Removed from Cart", "success");

            },
            error: function(response) {
                $.notify("Invalid ", "error");

            }
        }); //end ajax

    }



</script>

    <!--Script Block -->
    {% block script %}
    <!--  -->
    {% endblock %}
    <!-- End of Script block -->
</body>

</html>