<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <div class="contact">
                    <h5>Contact Us</h5>
                    <p class="contact__address">Sanepa , Lalitpur</p>
                    <p class="contact__email">Email: info@domain.com</p>
                    <p class="contact__phone">Phone: 123 456 7890</p>
                    <hr>
                    <div class="social-icons">
                        <ul class="nav">
                            <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                <h5>Quick Links</h5>
                <ul class="footer__ul">
                    <li><a href="">Home</a></li>
                    <li><a href="">My Account</a></li>
                    <li><a href="">Cart</a></li>
                    <li><a href="">Checkout</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <h5>News Letter Sign up</h5>
                <p class="contact__address">sign up today to get latest product update</p>
                <form action="">
                    <div class="form-group mb-3 pt-2">
                        <input type="text" name="" id="" class="form-control subscribe-input">
                    </div>
                    <button class="btn btn-theme">SUBSCRIBE</button>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <h5>Top Rated Product</h5>
                <div class="d-flex ratedProduct">
                    <div class="ratedProduct__image">
                        <img src="/static/images/products/mobile.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="ratedProduct__detail">
                        <p>Iphone Mobile Phones</p>
                        <div class="d-flex">
                            <div class="mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div>Rs999</div>
                        </div>

                    </div>
                </div>
                <div class="d-flex ratedProduct">
                    <div class="ratedProduct__image">
                        <img src="/static/images/products/mobile.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="ratedProduct__detail">
                        <p>Iphone Mobile Phones</p>
                        <div class="d-flex">
                            <div class="mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div>Rs999</div>
                        </div>

                    </div>
                </div>
                <div class="d-flex ratedProduct">
                    <div class="ratedProduct__image">
                        <img src="/static/images/products/mobile.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="ratedProduct__detail">
                        <p>Iphone Mobile Phones</p>
                        <div class="d-flex">
                            <div class="mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div>Rs999</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center footer__bottom">&copy; 2020 ABC Shop. All Rights Reserved. Powered by: <span class="text-theme-color"><a href="">Uptectsys</a></span></p>
            </div>
        </div>
    </div>
</footer>
{% include 'home/forms/cart.html' %}