{% load static %}
<header class="header">
    {% include "home/layout/mobileMenu.html" %}
    <div class="top-header">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <form action="">
                        <select class="form-select form-select-sm" name="" id="">
                            <option value="" selected>ENGLISH</option>
                            <option value="">ENGLISH</option>
                            <option value="">NEPALI</option>
                        </select>
                    </form>
                </div>
                <div>
                    <ul class="nav top-header__nav">
                        <li class="nav-item">
                            <a href="" class="nav-link">save more on app</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">customer care</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">track my order</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="/static/images/logo.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Search -->
                <div class="col-lg-6 col-12 order-lg-2 order-3">
                    <div class="bottom-header__searchbar">
                        <form action="" method="GET" class="bottom-header__searchbar---form">
                            <input id="" name="" class="" type="text" placeholder="Search for Products">
                            <select name="" id="" class="form-select">
                                <option selected disabled>All Categories</option>
                                {% for category in categories %}
                                <option value="">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <button id="" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- login -->
                <div class="col-lg-4 col-9 order-lg-3 order-2">
                    <div class="d-flex flex-row align-items-center justify-content-end">
                        <div class="bottom-header__account">
                            <div class="d-flex flex-row align-items-center justify-content-end">
                                <div class="bottom-header__icon">
                                    <i class="far fa-user"></i>
                                </div>
                                <div class="bottom-header__content">
                                    <!-- <div class="bottom-header__content---">Hello</div> -->
                                    <div class="bottom-header__content---text"><a href="">Sign up</a></div>
                                    <div class="bottom-header__content---price"><a href="">Login</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- wishlist -->
                        <div class="bottom-header__wishlist d-flex flex-row align-items-center justify-content-end">
                            <div class="bottom-header__icon">
                                <i class="far fa-heart"></i>
                                <div class="bottom-header__icon---count"><span>9</span></div>
                            </div>
                        </div>
                        <!-- Cart -->
                        <div class="bottom-header__cart">
                            <a href="#" data-toggle="modal" data-target="#cartModal">
                                <div class="d-flex flex-row align-items-center justify-content-end">
                                    <div class="bottom-header__icon">
                                        <i class="fas fa-shopping-bag"></i>
                                        <div class="bottom-header__icon---count"><span>3</span></div>
                                    </div>
                                    <div class="bottom-header__content">
                                        <div class="bottom-header__content---text">Cart
                                        </div>
                                        <div class="bottom-header__content---price"> 185
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg header-menu__navbar">
                <button class="navbar-toggler" type="button" onclick="openSideDrawer()">
                    <i class="fas fa-bars"></i>
                  </button>
                <div class="dropdown header-menu__dropdown mr-auto">
                    <a class="header-menu__nav-brand dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                        <!-- <i class="fas fa-bars"></i> -->
                        SHOP BY CATEGORIES
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <!-- accessories -->
                        <li class="has-submenu">
                            {% for item in categories %}
                            <a class="dropdown-item dropdown{{item.id}} dropdown-toggle" onmouseenter="categoryClicked({{item.id}})" href="#"> {{item.title}} </a>
                            {% endfor %}
                            <!-- <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div> -->
                        </li>
                        <!-- shoes -->
                        {% comment %}
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> Shoes </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- dress -->
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> Dresses </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- shirt -->
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> Shirts </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- men fashion -->
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> Mens's Fashion </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- women fashion -->
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> Womens's Fashion </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- jewellery -->
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> jewellery </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- bags and backpacks -->
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> bags &amp; backpacks </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        <!--watches -->
                        <li class="has-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"> watches </a>
                            <div class="megasubmenu dropdown-menu">
                                <ul class="">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0 header-menu__navbar---menuItem">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">privacy policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <script type="text/javascript">

function categoryClicked(id) {
    $(".dropdown-item").hover(function() {

        var val = $(this).html();
        console.log(1);

        $.ajax({
            'type': 'GET',
            'url': '/api/categories/' + id + '/',
            'dataType': 'json',
            'success': function(data) {
                console.log(data['children_list']);
                // console.log(data['children_list']['title']);

                if (data['children_list'].length > 0) {
                    for (i = 0; i <= data['children_list'].length; i++) {
                        var dp = "<div class='megasubmenu dropdown-menu'>" +
                            "<ul class=''>" +
                            "<li><a class='dropdown-item' href='#'>" + data['children_list'][i]['title'] + "</a></li>" +
                            "</ul>" +
                            "</div> ";
                        $('.dropdown'+id).append(dp);

                    }
                }


            }




        }, function() {
            //This function is for unhover.
        });
    });
}


    </script>
    <!-- Main Navigation -->
</header>