{% load static %}
<div id="side-drawer" class="position-fixed">
    <div class="h-100 bg-white">
        <!-- Side Drawer Title -->
        <div class="p-3 d-flex justify-content-between bg-light-theme border-bottom">
            <div>
                <a href="#">
                    <p class="topnav__logo">Logo </p>
                </a>
            </div>
            <div class="align-self-center">
                <a href="" class="nav-link text-light f-regular" data-toggle="modal" data-target="#loginModal">
                    <i class="fas fa-user mr-2"></i>Login</a>
            </div>

        </div>
        <!-- Side Drawer Links -->
        <ul id="links" class="mobileMenu navbar-nav mobileMenu" onclick="closeSideDrawer()">
            <!-- accessories -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> Accessories </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- shoes -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> Shoes </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- dress -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> Dresses </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- shirt -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> Shirts </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- men fashion -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> Mens's Fashion </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- women fashion -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> Womens's Fashion </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- jewellery -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> jewellery </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!-- bags and backpacks -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> bags &amp; backpacks </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <!--watches -->
            <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> watches </a>
                <div class="megasubmenu dropdown-menu">
                    <ul class="">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">privacy policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>
        </ul>
    </div>
</div>
<div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>
<!-- End Side Drawer -->