<form id="otp">
  <div class="form-group">
    {% csrf_token %}
    <label for="exampleInputEmail1">OTP CODE</label>
    <input type="text" name="otp" maxlength="6" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter OTP code">
    <input type="hidden" value="" id="mobile" name="mobile">
    <small id="emailHelp" class="form-text text-muted">Please input your OTP code for verifying.</small>
  </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Validate</button>
</form>