{% extends "home/layout/base.html" %}
<!-- title -->
{% block title%} Login {% endblock %}
<!-- load static -->
{% load static %}
<!-- body content -->
{% block content %}
<section class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 mx-auto">
                <div class="login-block">
                    <h4 class="title">Sign in with</h4>
                    <div class="row px-3 social-link">
                        <div class="facebook mr-3">
                            <a href=""> <i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="twitter mr-3">
                            <a href=""> <i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="google mr-3">
                            <a href=""> <i class="fab fa-google"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <form class="" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group atm-form-group">
                            <input type="text" name="mobile" class="form-control atm-float-form-control" placeholder="Mobile Number" required>
                            <label class="atm-float-label-placeholder">Mobile Number</label>
                            <span class="form-bar"></span>

                        </div>
                        <div class="form-group atm-form-group">
                            <input type="password" name="password" class="form-control atm-float-form-control" placeholder="Password" required>
                            <label class="atm-float-label-placeholder">Password</label>
                            <span class="form-bar"></span>
                        </div>
                        <div class="f-14 form-group px-3 row justify-content-center">
                            <div class="col-6 px-0">
                                <div class="custom-control custom-checkbox mb-3"> <input id="customCheck1" type="checkbox" class="custom-control-input checkbox-muted"> <label for="customCheck1" class="custom-control-label text-muted">Remember Me</label> </div>
                            </div>
                            <!-- Forgot Password Link -->
                            <div class="col-6 px-0 text-right"> <span><a href="#" class="text-theme-color">Forgot Password?</a></span> </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-buy-now btn-block btn-large " type="submit">Login</button>
                        </div>
                        <div class="row mt-3"> <small class="">Don't have an account? <a class="text-danger" href="{% url 'register' %}">Register</a></small> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% comment %}
<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                <form class="md-float-material form-material" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="text-center">
                        <img src="{% static 'ecommerce/assets/images/logo.png' %}" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Sign In</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" name="mobile" class="form-control" required="" placeholder="Your Mobile Number">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" name="password" class="form-control" required="" placeholder="Password">
                                <span class="form-bar"></span>
                                <!-- {% for field in login_form %}
                                        <p>
                                            {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </p>
                                    {% endfor %}
                                    
                                    {% if login_form.non_field_errors %}
                                        <div style="color: red">
                                            <p>{{login_form.non_field_errors}}</p>
                                        </div> 
                                    {% endif %} -->
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="checkbox-fade fade-in-primary d-">
                                        <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Remember me</span>
                                            </label>
                                    </div>
                                    <div class="forgot-phone text-right f-right">
                                        <a href="{% url 'password_reset' %}" class="text-right f-w-600"> Forgot Password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
</section>
{% endcomment %}