{% extends 'home/layout/base.html' %} {% block title %} Signup {% endblock %} {% load static %} {% block content %}
<section class="signup-form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 mx-auto">
                <div class="login-block">
                    <h4 class="title">Sign up with</h4>
                    <div class="row px-3 social-link">
                        <div class="facebook mr-3">
                            <a href=""> <i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="twitter mr-3">
                            <a href=""> <i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="google mr-3">
                            <a href=""> <i class="fab fa-google"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <form class="" id="registerForm">
                        {% csrf_token %}
                        <div class="form-group atm-form-group">
                            <input type="email" name="email" class="form-control atm-float-form-control" placeholder="Mobile Number" required>
                            <label class="atm-float-label-placeholder">Email</label>
                        </div>
                        <div class="form-group atm-form-group">
                            <input type="text" name="mobile" class="form-control atm-float-form-control" placeholder="Password" required>
                            <label class="atm-float-label-placeholder">Mobile Number</label>
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group atm-form-group">
                            <input type="password" name="password" class="form-control atm-float-form-control" placeholder="Password" required>
                            <label class="atm-float-label-placeholder">Password</label>
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group atm-form-group">
                            <input type="password" name="password2" class="form-control atm-float-form-control" placeholder="Password" required>
                            <label class="atm-float-label-placeholder">Confirm Password</label>
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-buy-now btn-block btn-large " type="submit">Sign Up</button>
                        </div>
                        <div class="row mt-3"> <small class="">Already have an account? <a class="text-danger" href="{% url 'login' %}">Login here!</a></small> </div>
                    </form>
                    <div id="response-msg"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "home/layout/otp-form.html" %} {% endblock content %} {% comment %}
<div id="signup">
    <form class="form-signin" id="registerForm">
        <div class="d-flex flex-column pb-3">
            <img class="img-fluid mx-auto d-block" src="https://atmpharmacy.com/wp-content/uploads/2019/06/atm01.png}" alt="atmpharmacy-logo" width="72" height="72">
        </div>
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Register an account</h1>

        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile" required>

        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

    </form>
    <div id="response-msg"></div>
</div>
{% endcomment %}