{% extends "home/layout/base.html" %}
<!-- title -->
{% block title%} Product Detail {% endblock %}
<!-- load static -->
{% load static %}
<!-- body content -->
{% block content %}
<section class="productDetail backgroundGrey">
    <div class="container">
        <p class="crumb">Home / Featured / Himalaya Gentle Baby Shampoo </p>
        <div class="productDetail__inner">
            <div class="row g-3">
                <div class="col-md-5">
                    <div class="productDetail__mainZoomImage">
                        {% if object.get_image_url %}
                        <div class="productDetail__mainZoomImage---imageContainer">
                            <img src="{{ object.get_image_url }}" class='big_img img-fluid'>
                            <img src="{{ object.get_image_url }}" class='big_img img-fluid'>
                        </div>
                        {% endif %}
                    </div>
                    {% if  object.productimage_set %}
                    <div class="productDetail__thumbnail">
                        <div class="owl-carousel owl-theme thumbnail-carousel">
                        
                            {% for img in object.productimage_set.all %}
                            <div class="item">
                                <img src="{{ img.get_image_url }}" class='small_img img-fluid'>
                            </div>
                            {% endfor %}
                         
                        </div>
                        <div class="owl-theme">
                            <div class="owl-controls">
                                <div class="custom-nav owl-nav"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="productDetail__content">
                        <p class="productDetail__content---title"> {{product.title}}</p>
                        <div class="productDetail__content---desc brand-block">
                            <span class="text-theme-green-color brand-name"> {{ object.company.title }},{{ object.company.location }}</span>
                        </div>
                        <div class="productDetail__content---desc">
                            <span class="rating-block">
                                <span class="rating-star"><i class="fa fa-star"></i></span>
                            <span class="given-reviews">4.5</span>
                            <span class="total-reviews">| 1.5K reviews</span>
                            </span>
                        </div>
                        <p class="productDetail__content---desc-title">Price</p>
                        <p class="productDetail__content---desc">
                            <span class="price">NRs. {{product.variation_set.first.price}}</span>
                            <span class="price-off">NRs. 5500</span>
                            <span class="off-percent text-theme-color">60% off</span>
                        </p>
                        <p class="productDetail__content---desc-title">Pack Size</p>
                        <div class="productDetail__content---desc size">
                            <div id="product_size_radio" class="radioCustomBtnGroup sizes">
                                <label class="radioCustomBtnGroup__radioCustomBtn">
                                    <input class="size-input" type="radio" name="size" id="s" value="s" checked>
                                    <span class="radioCustomBtnGroup__radioCustomBtn--Span">
                                      <p>100 Test Strips</p>
                                      <p>Rs 5000</p> 
                                    </span>
                                </label>
                                <label class="radioCustomBtnGroup__radioCustomBtn">
                                    <input class="size-input" type="radio" name="size" id="m" value="m">
                                    <span class="radioCustomBtnGroup__radioCustomBtn--Span">
                                        <p>50 Test Strips</p>
                                      <p>Rs 3000</p> 
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="row cta-buttons g-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-lg btn-block btn-buy-now">Buy Now</button>
                            </div>
                            <div class="col-6">
                                <form id='add-form' method='GET' action="{% url 'cart' %}">
                                    <input type="hidden" name='item' value='{{ object.variation_set.first.id }}' />
                                            <h3 id='price'>{% if object.variation_set.first.sale_price %}
                                            {{ object.variation_set.first.sale_price  }}
                                            <small class='og-price'>{{ object.variation_set.first.price }}</small>
                                            {% else %}
                                            
                                            {{ object.variation_set.first.price }}
                                            {% endif %}
                                        </h3>
                                    <input class='form-control' type='hidden' name='qty' value='1' />
                                    <button type="button" class="btn btn-lg btn-block btn-add-cart"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp;Add To Cart</button>
                                </form>
                            </div>
                        </div>
                        <div class="productDetail__content---desc">
                            <div class="accordion atm__accordion" id="accordionExample">
                                <div class="card atm__accordion--card">
                                    <div class="card-header" id="headingOne">
                                        <a class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Products Highlights
                                          </a>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul class="highlight-list">
                                                {{ object.description }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card atm__accordion--card">
                                    <div class="card-header" id="headingTwo">
                                        <a class="btn btn-block collapsed " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                               Combo Packs for this Product             
                                          </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul class="highlight-list">
                                                <li>Helps to determine blood sugar level</li>
                                                <li>Accurate and reliable results</li>
                                                <li>Useful for both Type one and type two Diabetes</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tab__content">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <h6 class="products__heading--title">PRODUCT DETAILS</h6>
                        <div class="product-tab__content---inner">
                             <p>{{ object.description }}</p>
                            
                        </div>
                        <div class="product-tab__content---inner">
                            <h6 class="products__heading--title text-dark-color">Saftey Information</h6>
                            <ul class="highlight-list">
                                <li>Avoid contact with eyes</li>
                                <li>Read the label carefully before use</li>
                                <li>Keep out of the reach and sight of children</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5">
                        <div class="atm-deliverycard">
                            <p class="atm-deliverycard-header">
                                Estimated delivery by <span class="text-danger">Saturday, Aug 15</span>
                            </p>
                            <p class="atm-deliverycard-content">
                                Delivery time includes added precautions taken across warehouses for your safety.
                            </p>
                            <div class="d-flex justify-content-between align-items-center atm-deliverycard-location">
                                <div>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Delivering to <span class="atm-deliverycard-address">Kathmamdu</span></span>
                                </div>
                                <div>
                                    <a href="" class="link-change">CHANGE</a>
                                </div>
                            </div>
                        </div>
                        <div class="comboPack-card">
                            <div class="comboPack-card-title">
                                <h6> Frequently Bought Together</h6>
                            </div>
                            <div class="comboPack-card-body">
                                <div class="comboPack-card-product">
                                    <div class="comboPack-card-image">
                                        <div class="image-container">
                                            <img src="{% static 'home/images/himalaya-gentle-baby-shampoo.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="comboPack-card-content align-self-center">
                                        <p class="comboPack-card-content-title">Himalaya Gentle Baby Shampoo</p>
                                        <p class="discount-price">
                                            <span class="actual-price">MRP 1500</span>
                                            <span class="discount-off">8% OFF</span>
                                        </p>
                                        <h6 class="total-price">Nrs 130</h6>
                                    </div>
                                </div>
                                <div class="style__interface___2SgrE">
                                    <div class="style__plus___2e3VD">
                                        <img src="{% static 'home/images/add.png' %}" alt="plus" />
                                    </div>
                                </div>
                                <div class="comboPack-card-product">
                                    <div class="comboPack-card-image">
                                        <div class="image-container">
                                            <img src="{% static 'home/images/himalaya-gentle-baby-shampoo.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="comboPack-card-content align-self-center">
                                        <p class="comboPack-card-content-title">Himalaya Gentle Baby Shampoo</p>
                                        <!-- <p class="discount-price">
                                            <span class="actual-price">MRP 1500</span>
                                            <span class="discount-off">8% OFF</span>
                                        </p> -->
                                        <h6 class="total-price">Nrs 130</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="comboPack-card-footer">
                                <div class="comboPack-card-footer-content align-items-center">
                                    <div class="totalPrice">
                                        <p>Total Price</p>
                                        <h6>Nrs:1350</h6>
                                    </div>
                                    <div class="add-cart">
                                        <button class="btn btn-cart">
                                            Add Both To Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="atm-product">
    <div class="container-fluid">
        <div class="atm-product-heading">
            <div>
                <h4>Similar Products</h4>
            </div>
        </div>
        <div class="atm-product-container">
            <div class="atm-product-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="atm-productCard">
                        <div class="atm-productCard--header">
                            <div class="image-container">
                                <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                            </div>
                        </div>
                        <div class="atm-productCard--body">
                            <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                            <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                            <div class="price-discount">
                                <span>Nrs: 1500</span>
                                <span class="off-percent">35% Off</span>
                            </div>
                            <div class="priceAndbtn">
                                <div>
                                    <h6 class="atm-product-total">
                                        Nrs: 1356
                                    </h6>
                                </div>
                                <div>
                                    <button class="btn btn-cart">Add Cart</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="atm-product backgroundGrey">
    <div class="container-fluid">
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#other-products" role="tab" aria-selected="true">Other-Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ratingReview" role="tab" aria-selected="false">Rating &amp; Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="other-products" role="tabpanel">
                <div class="atm-product-container">
                    <div class="atm-product-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="atm-productCard">
                                <div class="atm-productCard--header">
                                    <div class="image-container">
                                        <img src="/static/home/images/himalaya-gentle-baby-shampoo.jpg" alt="">
                                    </div>
                                </div>
                                <div class="atm-productCard--body">
                                    <p class="atm-proudct-name">Himalaya Gentle Baby Shampoo</p>
                                    <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                                    <div class="price-discount">
                                        <span>Nrs: 1500</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                    <div class="priceAndbtn">
                                        <div>
                                            <h6 class="atm-product-total">
                                                Nrs: 1356
                                            </h6>
                                        </div>
                                        <div>
                                            <button class="btn btn-cart">Add Cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="ratingReview" role="tabpanel">
                <div class="col-md-12 col-lg-12 mx-auto">
                    <div class="reviewBlockMain">
                        <div class="reviewBlock__heading">
                            <div class="reviewBlock__heading---item">
                                <h6>Ratings & Reviews</h6>
                            </div>
                            <div class="reviewBlock__heading---item">
                                <span class="badge bg-theme large-badge"><i class="fa fa-star"></i> 4.4</span>
                            </div>
                            <div class="reviewBlock__heading---item">
                                <span class="rating-count">536 ratings and 80 reviews</span>
                            </div>
                            <div class="reviewBlock__heading---item ml-auto">
                                <button type="button" class="btn btn-theme">Rate Product</button>
                            </div>
                        </div>
                        <div class="reviewBlock__imageUploaded">
                            <p class="mb-2 f-14 text-dark-color font-weight-400">Images uploaded by customers:</p>
                            <ul class="nav">
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            </ul>
                        </div>
                        <div class="reviewBlock__reviewMain">
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---rate">
                                    <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                    <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                                </div>
                                <div class="reviewBlock__reviewInner---image">
                                    <img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" />
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---rate">
                                    <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                    <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                                </div>
                                <div class="reviewBlock__reviewInner---image">
                                    <img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" />
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---rate">
                                    <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                    <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                                </div>
                                <div class="reviewBlock__reviewInner---image">

                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-more-review">
                            <a href="" class="text-theme-color f-14 font-weight-500">All 97 Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %}
<section class="productDetail backgroundGrey">
    <div class="container">
        <div class="productDetail__inner">
            <div class="row g-3">
                <div class="col-md-5">
                    <div class="productDetail__mainZoomImage">
                        <div class="productDetail__mainZoomImage---imageContainer">
                            <img src="{{ object.get_image_url }}" class='big_img img-fluid'>
                        </div>
                    </div>
                    <div class="productDetail__thumbnail">
                        <div class="owl-carousel owl-theme thumbnail-carousel">
                            {% for images in object.productimage_set.all %}
                            <div class="item">
                                <img src="/media/{{ images.image }}" class='small_img img-fluid'>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="owl-theme">
                            <div class="owl-controls">
                                <div class="custom-nav owl-nav"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="productDetail__content">
                        <p class="crumb">Home / {{object.categories.all}} <span>Pluss Dresses > More By Plus</span></p>
                        <p class="productDetail__content---title">{{object.title}}</p>
                        <p class="productDetail__content---desc">
                            Product Code:<span class="text-theme-color"> {{object.id}}</span>
                        </p>
                        <p class="productDetail__content---desc">
                            Brand:<span class="text-theme-color"> {{object.brand.title}}</span>
                        </p>
                        <p class="productDetail__content---desc">
                            <span class="price">NRs. {{ object.get_default_variation.sale_price }}</span>
                            <span class="price-off">{{object.get_default_variation.price}}</span>
                            <span class="off-percent text-theme-color">{{ object.get_discount_percent }}% off</span>
                            <span class="hurry">Hurry, Only {{object.get_default_variation.inventory}} left!</span>
                        </p>
                        <p class="productDetail__content---desc">
                            <span class="text-theme-color"><i class="rating-icon fa fa-star"></i></span>
                            <span class="text-theme-color"><i class="rating-icon fa fa-star"></i></span>
                            <span class="text-theme-color"><i class="rating-icon fa fa-star"></i></span>
                            <span class="text-theme-color"><i class="rating-icon fa fa-star"></i></span>
                            <span class="text-theme-color"><i class="rating-icon fa fa-star-half-alt"></i></span>
                            <span class="rating-count">64 ratings</span>
                        </p>
                        <div class="productDetail__content---desc size">
                            Size:
                            <ul class="nav sizes">
                                <li>
                                    <a href="#">S</a>
                                </li>
                                <li>
                                    <a href="#">M</a>
                                </li>
                                <li>
                                    <a href="#">L</a>
                                </li>
                                <li>
                                    <a href="#">XL</a>
                                </li>
                                <li>
                                    <a href="#">XXL</a>
                                </li>
                                <li>
                                    <a href="#" class="size-chart">Size Chart</a>
                                </li>
                            </ul>
                        </div>
                        <div class="productDetail__content---desc d-flex color">
                            Color:
                            <ul class="nav color-code">
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/1.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/2.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/3.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/4.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/5.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/1.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/2.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/3.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/4.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/5.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/1.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/2.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/3.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/4.jpeg' %}" height="60" width="40" /></a>
                                </li>
                                <li>
                                    <a href=""><img class="small-img" src="{% static 'images/singleproduct/5.jpeg' %}" height="60" width="40" /></a>
                                </li>
                            </ul>
                        </div>

                        <!-- product count -->
                        <div class="productDetail__content---desc">
                            <div class="qty">
                                <div class="align-self-center qty__title mr-2">
                                    <span class="quantity">Quantity:</span>
                                </div>
                                <div class="align-self-center qty__count mr-2">
                                    <form>
                                        <div class="input-group">
                                            <span class="input-group-text minus"><i class="fas fa-minus"></i></span>
                                            <input disabled type="text" class="form-control count" name="qty" value="1">
                                            <span class="input-group-text plus"><i class="fas fa-plus"></i></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="align-self-center qty__stock">
                                    <span class="stock-qty">Pieces( 2 items in stock )</span>
                                </div>
                            </div>
                        </div>
                        <div class="productDetail__content---desc">
                            <p class="shipping-text">Shipping: NRs. 50</p>
                        </div>
                        <div class="productDetail__content---desc">
                            Estimated Delivery: <span class="text-dark-color">7-15 </span>days
                            <ul class="estimated">
                                <li>Free Delivery on order above RS. 799</li>
                                <li>Pay on delivery might be available</li>
                                <li>Easy 30 days returns and exchanges</li>
                                <li>Try & Buy might be available</li>
                            </ul>
                        </div>
                        <div class="productDetail__content---desc">
                            <ul class="highlight-list">
                                <li>96 % Rayon, 5% Elastane</li>
                                <li>Imported</li>
                                <li>Machine Wash</li>
                                <li>The versatile sleeveless dress features a stylish crossover front and pleated details</li>
                                <li>Everyday made better: we listen to customer feedback and fine-tune every detail to ensure quality, fit, and comfort</li>
                            </ul>
                        </div>
                        <div class="cta-buttons">
                            <button type="button" class="btn btn-theme buy-now">Buy Now</button>
                            <button type="button" class="btn btn-add-cart add-cart"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp;Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-tab">
    <div class="tabBlock__navContainer" style="display: none;">
        <ul class="nav nav-tabs customNavtab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#productDetail" role="tab" aria-controls="productDetail" aria-selected="true">Product Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#similarProduct" role="tab" aria-controls="similarProduct" aria-selected="false">Similar Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Rating &amp; Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#qa" role="tab" aria-controls="qa" aria-selected="false">Questions &amp; Answer</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active in" id="productDetail" role="tabpanel" aria-labelledby="productDetail-tab">
                <div class="product-tab__content">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6">
                            <h6 class="products__heading--title">PRODUCT DETAILS</h6>
                            <div class="product-tab__content---inner">
                                <p>{{ object.description }}</p>
                            </div>
                            <div class="product-tab__content---inner">
                                <h6 class="products__heading--title text-dark-color">Size & Fit</h6>
                                <p>The model (height 5'8") is wearning a size S.</p>
                            </div>
                            <div class="product-tab__content---inner">
                                <h6 class="products__heading--title text-dark-color">Material & Care</h6>
                                <p>Material: 91% polyester, 9% viscose</p>
                                <p> Machine Wash</p>
                            </div>
                            <div class="product-tab__content---inner">
                                <h6 class="products__heading--title text-dark-color">Complete The Look</h6>
                                <p>You are very sure to love this item.You are very sure to love this item.You are very sure to love this item.You are very sure to love this item.You are very sure to love this item.You are very sure to love this item.</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <h6 class="products__heading--title">Specifications</h6>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Shape</p>
                                        <h6 class="products__heading--title text-dark-color">Sheath</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Neck</p>
                                        <h6 class="products__heading--title text-dark-color">Round Neck</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Length</p>
                                        <h6 class="products__heading--title text-dark-color">Above Knee</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    customer
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Print or Pattern</p>
                                        <h6 class="products__heading--title text-dark-color">Checked</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Sleeve Length</p>
                                        <h6 class="products__heading--title text-dark-color">Sheath</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Sleeve Styling</p>
                                        <h6 class="products__heading--title text-dark-color">Regular Styling</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Ocassion</p>
                                        <h6 class="products__heading--title text-dark-color">Short Sleeves</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Transparancy</p>
                                        <h6 class="products__heading--title text-dark-color">Opaque</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Knit or Woven</p>
                                        <h6 class="products__heading--title text-dark-color">Woven</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-tab__content---inner border-specification">
                                        <p>Hemline</p>
                                        <h6 class="products__heading--title text-dark-color">Straight</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12">
                                    <div class="product-tab__content---inner border-specification">
                                        <a href="" class="text-theme-color">See More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- similar product -->
            <div class="tab-pane fade" id="similarProduct" role="tabpanel" aria-labelledby="similarProduct-tab">
                <div class="row">
                    <div class="col-12 ">
                        <div class="products__heading ">
                            <h5 class="products__heading--title">SIMILAR PRODUCTS</h5>
                            <a href="" class="products__heading--viewall btn btn-view ">
                            View All
                            </a>
                        </div>
                    </div>
                </div>
                <div class="products__block owl-carousel owl-theme product-carousel ">
                    {% for product in related %}
                    <div class="item">
                        <a href="">
                            <div class="products__main ">
                                <div class="products__main--inner ">
                                    {% if product.get_image_url %}
                                    <div class="products__main--img ">
                                        <a href='{{ product.get_absolute_url }}'><img class="img-fluid" src="{{ product.get_image_url }} " alt=" ">

                                        <div class="products__main--hoverItem">
                                            <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                            <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                            <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>

                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="products__main--content ">
                                        <p class="products__main--content---title ">{{ product.title }}</p>
                                        <p class="products__main--content---price ">Rs: {{ product.variation_set.first.get_html_price }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="rating-tab">
                <div class="col-md-12 col-lg-12 col-xl-6 mx-auto">
                    <div class="reviewBlockMain">
                        <div class="reviewBlock__heading">
                            <div class="reviewBlock__heading---item">
                                <h6>Ratings & Reviews</h6>
                            </div>
                            <div class="reviewBlock__heading---item">
                                <span class="badge bg-theme large-badge"><i class="fa fa-star"></i> 4.4</span>
                            </div>
                            <div class="reviewBlock__heading---item">
                                <span class="rating-count">536 ratings and 80 reviews</span>
                            </div>
                            <div class="reviewBlock__heading---item ml-auto">
                                <button type="button" class="btn btn-theme">Rate Product</button>
                            </div>
                        </div>
                        <div class="reviewBlock__imageUploaded">
                            <p class="mb-2 f-14 text-dark-color font-weight-400">Images uploaded by customers:</p>
                            <ul class="nav">
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                                <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            </ul>
                        </div>
                        <div class="reviewBlock__reviewMain">
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---rate">
                                    <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                    <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                                </div>
                                <div class="reviewBlock__reviewInner---image">
                                    <img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" />
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---rate">
                                    <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                    <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                                </div>
                                <div class="reviewBlock__reviewInner---image">
                                    <img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" />
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---rate">
                                    <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                    <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                                </div>
                                <div class="reviewBlock__reviewInner---image">

                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="view-more-review">
                            <a href="" class="text-theme-color f-14 font-weight-500">All 97 Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="qa" role="tabpanel" aria-labelledby="qa-tab">
                <div class="col-md-12 col-lg-6 mx-auto">
                    <!-- question answer -->
                    <div class="questionBlockMain">
                        <div class="reviewBlock__heading">
                            <div class="reviewBlock__heading---item">
                                <h6>Questions and Answers.</h6>
                            </div>
                            <div class="reviewBlock__heading---item ml-auto search-question">
                                <form>
                                    <div class="input-group question-input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-search"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="search">
                                        <button class="input-group-text reset-form" type="reset">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="reviewBlock__reviewMain">
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---question">
                                    <p>Q: is there pocket in this blazer</p>
                                </div>
                                <div class="reviewBlock__reviewInner---answer">
                                    <p>A: No</p>
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviewBlock__reviewInner---readMore">
                                    <a href="" class="text-theme-color">Read other answers</a>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---question">
                                    <p>Q: is there pocket in this blazer</p>
                                </div>
                                <div class="reviewBlock__reviewInner---answer">
                                    <p>A: No</p>
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---question">
                                    <p>Q: is there pocket in this blazer</p>
                                </div>
                                <div class="reviewBlock__reviewInner---answer">
                                    <p>A: No</p>
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner">
                                <div class="reviewBlock__reviewInner---question">
                                    <p>Q: is there pocket in this blazer</p>
                                </div>
                                <div class="reviewBlock__reviewInner---answer">
                                    <p>A: No</p>
                                </div>
                                <div class="reviewBlock__reviewInner---detail">
                                    <p class="f-12">Sunita Shahi</p>
                                    <div class="reviewBlock__reviewInner---content">
                                        <div class="buyer-detail">
                                            <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                        </div>
                                        <div class="thumbs">
                                            <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                            <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                            <span><i class="fa fa-ellipsis-v"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviewBlock__postQuestion">
                            <div class="align-self-center">
                                <p>Didn't get the right answer you were looking for</p>
                            </div>
                            <div class="align-self-center">
                                <button type="button" class="btn btn-theme post">Post your question</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %} {% endblock %}
<!-- script -->
{% block script %}
<script src="/static/home/js">
</script>
<script src="{% static 'home/js/product-zoom.js' %}"></script>


<!-- Image Magnifier -->
<script type="text/javascript">
    $(document).ready(function() {
        $(".small_img").hover(function() {
            $(".big_img").attr('src', $(this).attr('src'));
        });
    });

    $(document).ready(function() {
        $(".big_img").imagezoomsl({
            zoomrange: [3, 3]
        });
    });

    // Product Card Slider
    $('.product-carousel').owlCarousel({
        loop: false,
        margin: 24,
        nav: false,
        dots: false,
        responsive: {
            0: {
                items: 2
            },
            750: {
                items: 3
            },
            1000: {
                items: 4
            },
            1200: {
                items: 5
            },
            1400: {
                items: 6
            },
            1900: {
                items: 7
            },

        }
    });

    //Product thumbnail slider 
    $('.thumbnail-carousel').owlCarousel({
            loop: false,
            nav: true,
            margin: 16,
            dots: false,
            rewind: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.productDetail__thumbnail .custom-nav',
            responsive: {
                0: {
                    items: 4
                },
                400: {
                    items: 4
                },
                510: {
                    items: 4
                },
                750: {
                    items: 4
                },
                1000: {
                    items: 4
                },
                1200: {
                    items: 4
                },
                1400: {
                    items: 4
                },
                1900: {
                    items: 4
                },

            }
        })
        // script for shop card slider
    $('.shop-carousel').owlCarousel({
        loop: false,
        margin: 16,
        nav: true,
        dots: false,
        rewind: false,
        navText: [
            '<i class="fa fa-angle-left" aria-hidden="true"></i>',
            '<i class="fa fa-angle-right" aria-hidden="true"></i>'
        ],
        navContainer: '.interested__slider .custom-nav',
        responsive: {
            0: {
                items: 1
            },
            750: {
                items: 2
            },
            1000: {
                items: 2
            },
            1200: {
                items: 3
            },
            1400: {
                items: 4
            },
            1900: {
                items: 5
            },
        },
    });

    function setPrice(){
	var price = $(".variation_select option:selected").attr("data-price")

	var sale_price = $(".variation_select option:selected").attr("data-sale-price")
	if (sale_price != "" && sale_price != "None" && sale_price != null ) {
	$("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price  + "</small></h3>");
	} else {
	$("#price").html(price);
	}
}
setPrice()

$(".variation_select").change(function(){
	setPrice()
	// var img = $(".variation_select option:selected").attr("data-img")
	// $("img").attr("src", img);

})



// ajax add to cart

$("#submit-btn").click(function(event){
	event.preventDefault();
	var formData = $("#add-form").serialize();
	console.log(formData);
	$.ajax({
		type: "GET", // "POST"
		url: "{% url 'cart' %}",
		data: formData,
		success: function(data) {
			showFlashMessage(data.flash_message);
			updateCartItemCount();
		}, 
		error: function(response, error) {
			// console.log(response)
			// console.log(error)
			$("#add-form").submit()
		}
	})

	// $("#add-form").submit()

})
    
</script>

{% endblock %}

