{% extends "home/layout/base.html" %}
<!-- title -->
{% block title%} Products{% endblock %}
<!-- load static -->
{% load static %}
<!-- body content -->
{% block content %}
<section class="allProduct backgroundGrey pad-top-bot" id="IdDivProducts">
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                <div class="filterBlock">
                    <div class="filterMain">
                        <div class="mobileFilterButton d-block d-sm-block d-md-block d-lg-none">
                            <a href="" class="link text-theme-blue-color f-14 p-2">Apply Filter</a>
                            <a href="" class="link text-theme-red f-14 p-2" id="mobileFiltersHide">Cancel</a>
                        </div>
                        <div class="filterMain__listing">
                            <div class="panel-group">
                                <!-- categories -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-heading__title">
                                            <span> CATEGORIES</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="formSelectionGroup">
                                                <div class="formSelection-field">
                                                    <a href="" class="form-check-label text-medium-color">Featured</a>
                                                </div>
                                                <div class="formSelection-field">
                                                    <a href="" class="form-check-label text-medium-color">ATM Health Products</a>
                                                </div>
                                                <div class="formSelection-field">
                                                    <a href="" class="form-check-label text-medium-color">Trending</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} {% verbatim %}
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="formSelectionGroup">
                                                <div class="formSelection-field" v-for="(item,index) in  Category.response.results">
                                                    <input class="chbox" type="checkbox" value="" id="shirts">
                                                    <label class="form-check-label" for="shirts">
                                                        {{item.title}} <span>({{item.product_set.length}}) </span>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endverbatim %} {% endcomment %}
                                </div>
                                <!-- brand -->
                                <div class="panel panel-default">
                                    <div class="panel-heading d-flex justify-content-between">
                                        <div class="panel-heading__title align-self-center pr-3">
                                            <span> BRANDS</span>
                                        </div>
                                        <div class="panel-heading__search-icon-block">
                                            <i class="fas fa-search search-icon" id="brand"></i>
                                        </div>
                                    </div>
                                    <div class="panel-search brand">
                                        <form action="">
                                            <input type="text" class="form-control search-input" placeholder="search">
                                        </form>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="formSelectionGroup">
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="dabur">
                                                    <label class="form-check-label" for="dabur">
                                                        Dabur <span> (58) </span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="vlcc">
                                                    <label class="form-check-label" for="vlcc">
                                                        VLCC <span> (5)</span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="swadeshi">
                                                    <label class="form-check-label" for="swadeshi">
                                                        Swadeshi <span> (12) </span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="himalaya-baby">
                                                    <label class="form-check-label" for="himalaya-baby">
                                                        Himalaya Baby<span> (7)</span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="accu-chek">
                                                    <label class="form-check-label" for="accu-chek">
                                                        Accu-chek<span> (2)</span>
                                                    </label>
                                                </div>
                                            </div>
                                            {% comment %} {% verbatim %}
                                            <div class="formSelectionGroup" v-for="(item,index) in  Brand.response.results">
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="roadster">
                                                    <label class="form-check-label" for="roadster">
                                                        {{item.title}} <span> </span>
                                                    </label>
                                                </div>
                                            </div>
                                            {% endverbatim %} {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <!-- product tags -->
                                <div class="panel panel-default">
                                    <div class="panel-heading d-flex justify-content-between">
                                        <div class="panel-heading__title align-self-center">
                                            <span>PRODUCT TAGS</span>
                                        </div>
                                        <div class="panel-heading__search-icon-block">
                                            <i class="fas fa-search search-icon" id="product-tag"></i>
                                        </div>
                                    </div>
                                    <div class="panel-search product-tag">
                                        <form action="">
                                            <input type="text" class="form-control search-input" placeholder="search">
                                        </form>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="formSelectionGroup">
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="wrinkles">
                                                    <label class="form-check-label" for="wrinkles">
                                                        Wrinkles <span> (58) </span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="mellitus">
                                                    <label class="form-check-label" for="mellitus">
                                                        Mellitus <span> (5)</span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="biotin">
                                                    <label class="form-check-label" for="biotin">
                                                        Biotin <span> (12) </span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="lustrous">
                                                    <label class="form-check-label" for="lustrous">
                                                        Lustrous <span> (7)</span>
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="ginseng">
                                                    <label class="form-check-label" for="ginseng">
                                                        Ginseng <span> (2)</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Discount  -->
                                <div class="panel panel-default">
                                    <div class="panel-heading d-flex justify-content-between">
                                        <div class="panel-heading__title">
                                            <span>DISCOUNT </span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="formSelectionGroup">
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="less10">
                                                    <label class="form-check-label" for="less10">
                                                        Less than 10%
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="above10">
                                                    <label class="form-check-label" for="above10">
                                                        10% and above
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="above20">
                                                    <label class="form-check-label" for="above20">
                                                        20% and above
                                                    </label>
                                                </div>
                                                <div class="formSelection-field">
                                                    <input class="chbox" type="checkbox" value="" id="above30">
                                                    <label class="form-check-label" for="above30">
                                                        30% and above
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% comment %}
                                <div class="panel panel-default">
                                    <div class="panel-heading d-flex justify-content-between">
                                        <div class="panel-heading__title align-self-center pr-3">
                                            <span> GENERIC NAME</span>
                                        </div>
                                        <div class="panel-heading__search-icon-block">
                                            <i class="fas fa-search search-icon" id="color"></i>
                                        </div>
                                    </div>
                                    <div class="panel-search color">
                                        <form action="">
                                            <input type="text" class="form-control search-input" placeholder="search">
                                        </form>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="formSelectionGroup">
                                                <div class="formSelection-field" v-for="(item,index) in  GenericName.response.results">
                                                    <input class="chbox" type="checkbox" value="" id="blue">
                                                    <label class="form-check-label" for="blue">
                                                       {{item.title}} <span> </span>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading d-flex justify-content-between">
                                        <div class="panel-heading__title align-self-center">
                                            <span>MANUFACTURER</span>
                                        </div>
                                        <!-- <div class="panel-heading__search-icon">
                                            <i class="fas fa-search"></i>
                                        </div> -->
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="formSelectionGroup">
                                                <div class="formSelection-field" v-for="(item,index) in  Company.response.results">
                                                    <input class="chbox" type="checkbox" value="" id="ten">
                                                    <label class="form-check-label" for="ten">
                                                        {{item.title}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <h4 class="title">Featured Products</h4>
                    </div>
                    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-5 pb-2">
                        <form action="">
                            <select name="" class="form-select f-14">
                                <option value="" disabled selected>Recommended</option>
                                <option value="">Price: High To Low</option>
                                <option value="">Price: Low To High</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="row g-3">
                    {% for product in object_list  %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="atm-productCard">
                            <div class="atm-productCard--header">
                                {% if product.get_image_url %}
                                <div class="image-container">
                                    <a href='{{ product.get_absolute_url }}'><img src="{{ product.get_image_url }}" alt=""></a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="atm-productCard--body">
                                <p class="atm-proudct-name">{{ product.title }}</p>
                                <p class="atm-product-size">bottle of 400 ml Shampoo</p>
                               
                               
                            
                                {% if product.price %}
                                    <div class="price-discount">
                                        <span> {{ product.variation_set.first.get_html_price }}</span>
                                        <span class="off-percent">35% Off</span>
                                    </div>
                                {% endif %}
                                <div class="priceAndbtn">
                                    <div>
                                        <h6 class="atm-product-total">
                                            Nrs: 1356
                                        </h6>
                                    </div>
                                    <div>
                                        <button class="btn btn-cart">Add Cart</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% comment %} {% verbatim %}
                <div class="row g-3">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6" v-for="(item,index) in  Model.response.results">
                        <div class="products__main ">
                            <div class="products__main--inner ">
                                <div class="products__main--img ">
                                    <img class="img-fluid" :src="GetProductImageUrl(item)" alt=" ">
                                    <div class="products__main--hoverItem">
                                        <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                        <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                        <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>

                                    </div>
                                </div>
                                <div class="products__main--content ">
                                    <p class="products__main--content---title ">{{item.title}} </p>
                                    <p class="products__main--content---price ">Rs: {{item.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endverbatim %} {% endcomment %}
                <!-- pagination -->
                {% if is_paginated %}
                <div class="paginationBlock">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 offset-lg-3 offset-md-4">
                            
                            <div class="d-flex justify-content-between">
                                <div class="align-self-center paginationBlock__count">
                                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                                </div>
                                {% if page_obj.has_previous %}
                                <div class="align-self-center paginationBlock__previous">
                                    <a href="/products/?page={{ page_obj.previous_page_number }}"><button class="btn btn-next-outline"> Previous <i class="fas fa-angle-left ml-2"></i> </button></a>
                                </div>
                                {% endif %}
                                <div class="align-self-center">
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">..</a></li>
                                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                                    </ul>
                                </div>
                                {% if page_obj.has_next %}
                                <div class="align-self-center paginationBlock__next">
                                    <a href="/products/?page={{ page_obj.next_page_number }}"><button class="btn btn-next-outline"> Next <i class="fas fa-angle-right ml-2"></i> </button></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="mobileFilters">
    <button class="btn-filter" type="button" id="mobileFiltersShow">
        Apply Filter
    </button>
</section>

{% comment %}
<section class="reviewBlock">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="reviewBlockMain">
                    <div class="reviewBlock__heading">
                        <div class="reviewBlock__heading---item">
                            <h6>Ratings & Reviews</h6>
                        </div>
                        <div class="reviewBlock__heading---item">
                            <span class="badge bg-theme large-badge"><i class="fa fa-star"></i> 4.4</span>
                        </div>
                        <div class="reviewBlock__heading---item">
                            <span class="rating-count">536 ratings and 80 reviews</span>
                        </div>
                        <div class="reviewBlock__heading---item ml-auto">
                            <button type="button" class="btn btn-theme">Rate Product</button>
                        </div>
                    </div>
                    <div class="reviewBlock__imageUploaded">
                        <p class="mb-2 f-14 text-dark-color font-weight-400">Images uploaded by customers:</p>
                        <ul class="nav">
                            <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                            <li><img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" /></li>
                        </ul>
                    </div>
                    <div class="reviewBlock__reviewMain">
                        <div class="reviewBlock__reviewInner">
                            <div class="reviewBlock__reviewInner---rate">
                                <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                            </div>
                            <div class="reviewBlock__reviewInner---image">
                                <img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" />
                            </div>
                            <div class="reviewBlock__reviewInner---detail">
                                <p class="f-12">Sunita Shahi</p>
                                <div class="reviewBlock__reviewInner---content">
                                    <div class="buyer-detail">
                                        <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                    </div>
                                    <div class="thumbs">
                                        <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                        <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviewBlock__reviewInner">
                            <div class="reviewBlock__reviewInner---rate">
                                <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                            </div>
                            <div class="reviewBlock__reviewInner---image">
                                <img src="{% static 'images/singleproduct/2.jpeg' %}" height="90" width="70" />
                            </div>
                            <div class="reviewBlock__reviewInner---detail">
                                <p class="f-12">Sunita Shahi</p>
                                <div class="reviewBlock__reviewInner---content">
                                    <div class="buyer-detail">
                                        <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                    </div>
                                    <div class="thumbs">
                                        <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                        <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviewBlock__reviewInner">
                            <div class="reviewBlock__reviewInner---rate">
                                <span class="badge bg-theme small-badge"><i class="fa fa-star"></i> 4.4</span>
                                <span class="ml-2 f-12  text-dark-color font-weight-400">536 ratings and 80 reviews</span>
                            </div>
                            <div class="reviewBlock__reviewInner---image">

                            </div>
                            <div class="reviewBlock__reviewInner---detail">
                                <p class="f-12">Sunita Shahi</p>
                                <div class="reviewBlock__reviewInner---content">
                                    <div class="buyer-detail">
                                        <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                    </div>
                                    <div class="thumbs">
                                        <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                        <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view-more-review">
                        <a href="" class="text-theme-color f-14 font-weight-500">All 97 Reviews</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6">
                <!-- question answer -->
                <div class="questionBlockMain">
                    <div class="reviewBlock__heading">
                        <div class="reviewBlock__heading---item">
                            <h6>Questions and Answers.</h6>
                        </div>
                        <div class="reviewBlock__heading---item ml-auto search-question">
                            <form>
                                <div class="input-group question-input-group">
                                    <span class="input-group-text">
                                        <i class="fas fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="search">
                                    <button class="input-group-text reset-form" type="reset">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="reviewBlock__reviewMain">
                        <div class="reviewBlock__reviewInner">
                            <div class="reviewBlock__reviewInner---question">
                                <p>Q: is there pocket in this blazer</p>
                            </div>
                            <div class="reviewBlock__reviewInner---answer">
                                <p>A: No</p>
                            </div>
                            <div class="reviewBlock__reviewInner---detail">
                                <p class="f-12">Sunita Shahi</p>
                                <div class="reviewBlock__reviewInner---content">
                                    <div class="buyer-detail">
                                        <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                    </div>
                                    <div class="thumbs">
                                        <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                        <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewBlock__reviewInner---readMore">
                                <a href="" class="text-theme-color">Read other answers</a>
                            </div>
                        </div>
                        <div class="reviewBlock__reviewInner">
                            <div class="reviewBlock__reviewInner---question">
                                <p>Q: is there pocket in this blazer</p>
                            </div>
                            <div class="reviewBlock__reviewInner---answer">
                                <p>A: No</p>
                            </div>
                            <div class="reviewBlock__reviewInner---detail">
                                <p class="f-12">Sunita Shahi</p>
                                <div class="reviewBlock__reviewInner---content">
                                    <div class="buyer-detail">
                                        <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                    </div>
                                    <div class="thumbs">
                                        <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                        <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviewBlock__reviewInner">
                            <div class="reviewBlock__reviewInner---question">
                                <p>Q: is there pocket in this blazer</p>
                            </div>
                            <div class="reviewBlock__reviewInner---answer">
                                <p>A: No</p>
                            </div>
                            <div class="reviewBlock__reviewInner---detail">
                                <p class="f-12">Sunita Shahi</p>
                                <div class="reviewBlock__reviewInner---content">
                                    <div class="buyer-detail">
                                        <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                    </div>
                                    <div class="thumbs">
                                        <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                        <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviewBlock__reviewInner">
                            <div class="reviewBlock__reviewInner---question">
                                <p>Q: is there pocket in this blazer</p>
                            </div>
                            <div class="reviewBlock__reviewInner---answer">
                                <p>A: No</p>
                            </div>
                            <div class="reviewBlock__reviewInner---detail">
                                <p class="f-12">Sunita Shahi</p>
                                <div class="reviewBlock__reviewInner---content">
                                    <div class="buyer-detail">
                                        <i class="fa fa-check-circle"></i> Certified Buyer, Sanepa
                                    </div>
                                    <div class="thumbs">
                                        <span><a href=""><i class="fa fa-thumbs-up"></i></a>21</span>
                                        <span><a href=""><i class="fa fa-thumbs-down"></i></a>9</span>
                                        <span><i class="fa fa-ellipsis-v"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewBlock__postQuestion">
                        <div class="align-self-center">
                            <p>Didn't get the right answer you were looking for</p>
                        </div>
                        <div class="align-self-center">
                            <button type="button" class="btn btn-theme post">Post your question</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="interested">
    <div class="container">
        <div class="products__heading ">
            <h5 class="products__heading--title">YOU MIGHT BE INTERESTED</h5>
        </div>
        <div class="interested__slider">
            <div class="products__block owl-carousel owl-theme shop-carousel">
                <div class="item">
                    <div class="offer-banner__block">
                        <div class="row g-0">
                            <div class="col-md-5 col-5 px-2 offer-banner__inner">
                                <div class="offer-banner__inner---image">
                                    <img src="/static/images/products/1.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-7">
                                <div class="offer-banner__inner---content">
                                    <h6 class="">New Men's Accessories</h6>
                                    <small class="d-block">Hats , Bags & much more</small>
                                    <button class="btn btn-theme">Shop Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="offer-banner__block">
                        <div class="row g-0">
                            <div class="col-md-5 col-5 px-2 offer-banner__inner">
                                <div class="offer-banner__inner---image">
                                    <img src="/static/images/products/2.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-7">
                                <div class="offer-banner__inner---content">
                                    <h6 class="">New Men's Accessories</h6>
                                    <small class="d-block">Hats , Bags & much more</small>
                                    <button class="btn btn-theme">Shop Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="offer-banner__block">
                        <div class="row g-0">
                            <div class="col-md-5 col-5 px-2 offer-banner__inner">
                                <div class="offer-banner__inner---image">
                                    <img src="/static/images/products/3.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-7">
                                <div class="offer-banner__inner---content">
                                    <h6 class="">New Men's Accessories</h6>
                                    <small class="d-block">Hats , Bags & much more</small>
                                    <button class="btn btn-theme">Shop Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="offer-banner__block">
                        <div class="row g-0">
                            <div class="col-md-5 col-5 px-2 offer-banner__inner">
                                <div class="offer-banner__inner---image">
                                    <img src="/static/images/products/4.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-7">
                                <div class="offer-banner__inner---content">
                                    <h6 class="">New Men's Accessories</h6>
                                    <small class="d-block">Hats , Bags & much more</small>
                                    <button class="btn btn-theme">Shop Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="offer-banner__block">
                        <div class="row g-0">
                            <div class="col-md-5 col-5 px-2 offer-banner__inner">
                                <div class="offer-banner__inner---image">
                                    <img src="/static/images/products/2.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-7">
                                <div class="offer-banner__inner---content">
                                    <h6 class="">New Men's Accessories</h6>
                                    <small class="d-block">Hats , Bags & much more</small>
                                    <button class="btn btn-theme">Shop Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="offer-banner__block">
                        <div class="row g-0">
                            <div class="col-md-5 col-5 px-2 offer-banner__inner">
                                <div class="offer-banner__inner---image">
                                    <img src="/static/images/products/1.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-7">
                                <div class="offer-banner__inner---content">
                                    <h6 class="">New Men's Accessories</h6>
                                    <small class="d-block">Hats , Bags & much more</small>
                                    <button class="btn btn-theme">Shop Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="customerLikes">
    <div class="container">
        <!-- product item-slider -->
        <div class="products__heading ">
            <h5 class="products__heading--title">CUSTOMERS ALSO LIKED</h5>
        </div>
        <div class="products__block owl-carousel owl-theme product-carousel ">
            <div class="item">
                <a href="">
                    <div class="products__main ">
                        <div class="products__main--inner ">
                            <div class="products__main--img ">
                                <img class="img-fluid" src="{% static 'images/products/headphone.jpg' %} " alt=" ">
                                <div class="products__main--hoverItem">
                                    <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                    <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                    <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>

                                </div>
                            </div>
                            <div class="products__main--content ">
                                <p class="products__main--content---title ">BENGOO G9000 Stereo Gaming Headset </p>
                                <p class="products__main--content---price ">Rs: 25850</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="">
                    <div class="products__main ">
                        <div class="products__main--inner ">
                            <div class="products__main--img ">
                                <img class="img-fluid" src="{% static 'images/products/jd.jpeg' %} " alt=" ">
                                <div class="products__main--hoverItem">
                                    <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                    <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                    <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>
                                </div>
                            </div>
                            <div class="products__main--content ">
                                <p class="products__main--content---title ">Jack Daniel's</p>
                                <p class="products__main--content---price ">Rs: 4850</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="">
                    <div class="products__main ">
                        <div class="products__main--inner ">
                            <div class="products__main--img ">
                                <img class="img-fluid" src="{% static 'images/products/tshirt.jpg' %} " alt=" ">
                                <div class="products__main--hoverItem">
                                    <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                    <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                    <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>

                                </div>
                            </div>
                            <div class="products__main--content ">
                                <p class="products__main--content---title ">Dry Poly Sports Tshirt</p>
                                <p class="products__main--content---price ">Rs: 2050</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="">
                    <div class="products__main ">
                        <div class="products__main--inner ">
                            <div class="products__main--img ">
                                <img class="img-fluid" src="{% static 'images/products/oil.jpg' %} " alt=" ">
                                <div class="products__main--hoverItem">
                                    <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                    <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                    <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>

                                </div>
                            </div>
                            <div class="products__main--content ">
                                <p class="products__main--content---title ">Olive Oil</p>
                                <p class="products__main--content---price ">Rs: 850</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="">
                    <div class="products__main ">
                        <div class="products__main--inner ">
                            <div class="products__main--img ">
                                <img class="img-fluid" src="{% static 'images/products/shoes.png' %} " alt=" ">
                                <div class="products__main--hoverItem">
                                    <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                    <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                    <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>
                                </div>
                            </div>
                            <div class="products__main--content ">
                                <p class="products__main--content---title ">Black Shoes for Men</p>
                                <p class="products__main--content---price ">Rs: 3350</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="products__main ">
                        <div class="products__main--inner ">
                            <div class="products__main--img ">
                                <img class="img-fluid" src="{% static 'images/products/mobile.jpg' %} " alt=" ">
                                <div class="products__main--hoverItem">
                                    <a href="#" class="hover-icon"><i class="fas fa-shopping-cart"></i></a>
                                    <a href="#" class="hover-icon"><i class="far fa-heart"></i></a>
                                    <a href="#" class="hover-icon"><i class="fas fa-search-plus"></i></a>

                                </div>
                            </div>
                            <div class="products__main--content ">
                                <p class="products__main--content---title ">OPPO A52 6 GB 128 GB Twilight Black</p>
                                <p class="products__main--content---price ">Rs: 22850</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    _URL_SERVER_ = 'http://localhost:8000';
    new Vue({
            el: '#IdDivProducts',
            data: {
                carouselPages: [],
                Model: {

                    response: {
                        "count": 51,
                        "next": "http://localhost:8000/api/products/?limit=10&offset=10",
                        "previous": null,
                        "results": [{
                                "url": "http://localhost:8000/api/products/23/",
                                "id": 23,
                                "title": "yuio\t",
                                "image": null,
                                "price": "78.00",
                                "description": "yuio\t",
                                "variation_set": [{
                                    "id": 23,
                                    "discount": 100.0,
                                    "title": "dfsdfdf",
                                    "price": "78.00",
                                    "sale_price": "0.00",
                                    "active": true,
                                    "inventory": 10,
                                    "product": 23
                                }, {
                                    "id": 52,
                                    "discount": 90.24,
                                    "title": "asddf",
                                    "price": "123.00",
                                    "sale_price": "12.00",
                                    "active": true,
                                    "inventory": 22,
                                    "product": 23
                                }],
                                "productimage_set": [],
                                "expiry_date": null,
                                "batch_number": null,
                                "fk_common_product_id": 9,
                                "brand": {
                                    "id": 1,
                                    "title": "Cetagol"
                                }
                            },

                        ]
                    }, // End response
                }, //End Model

                Category: {
                    response: {

                        "url": "http://localhost:8000/api/categories/2/",
                        "id": 2,
                        "title": "orsen",
                        "image": "http://localhost:8000/media/category_images/orsen/orsen-None.png",
                        "description": "jpt orsen",
                        "product_set": [],
                        "children_list": []

                    }

                },


                Brand: {
                    response: {

                        "count": 1,
                        "next": null,
                        "previous": null,
                        "results": [{
                            "id": 1,
                            "title": "noob"
                        }]

                    }

                },

                GenericName: {
                    response: {

                        "count": 1,
                        "next": null,
                        "previous": null,
                        "results": [{
                            "id": 1,
                            "title": "noob"
                        }]

                    }

                },

                Company: {
                    response: {

                        "count": 1,
                        "next": null,
                        "previous": null,
                        "results": [{
                            "id": 1,
                            "title": "noob"
                        }]

                    }

                },




            }, //end data

            mounted() {
                console.log('vue mounted');
                var thisRef = this;
                //console.log(this.Model.ListData);

                this.FetchListData();
                this.FetchCategoriesListData();
                this.FetchBrandsListData();
                this.FetchGenericNameListData();
            },
            methods: {
                GetProductImageUrl(item) {
                    console.log('GetProductImageUrl');
                    url = "";
                    try {
                        var productimage_set = item['productimage_set'];
                        var obj = productimage_set[0];
                        var url = obj["image"];
                    } catch (err) {

                    }

                    return url;

                },
                ObtainPrepareResponsiveItems() {
                    window._PREPARE_RESPONSIVE_ITEMS_('#IdDivExploreSomethingNew', this, "carouselPages", this.Model.response.results);
                },
                FetchListData() {
                    console.log('FetchListData');
                    var thisRef = this;
                    var urlData = _URL_SERVER_ + '/api/products/';
                    var filterParams = ''; //''SEARCH_PARAMS();
                    var url = urlData; // + '&' + filterParams;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function(response) {
                            thisRef.Model.response = response;
                            // window._ON_RESIZE_ARRAY_.push( thisRef.ObtainPrepareResponsiveItems );
                            // thisRef.ObtainPrepareResponsiveItems();
                        }
                    }); //end ajax
                },

                FetchCategoriesListData() {
                    console.log('Fetch-Categories');
                    var thisRef = this;
                    var urlData = _URL_SERVER_ + '/api/categories/';
                    var filterParams = ''; //''SEARCH_PARAMS();
                    var url = urlData; // + '&' + filterParams;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function(response) {
                            thisRef.Category.response = response;
                            console.log(response);
                            // window._ON_RESIZE_ARRAY_.push( thisRef.ObtainPrepareResponsiveItems );
                            // thisRef.ObtainPrepareResponsiveItems();
                        }
                    }); //end ajax
                },

                FetchBrandsListData() {
                    console.log('Fetch-Brands');
                    var thisRef = this;
                    var urlData = _URL_SERVER_ + '/api/brands/';
                    var filterParams = ''; //''SEARCH_PARAMS();
                    var url = urlData; // + '&' + filterParams;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function(response) {
                            thisRef.Brand.response = response;
                            console.log(response);
                            // window._ON_RESIZE_ARRAY_.push( thisRef.ObtainPrepareResponsiveItems );
                            // thisRef.ObtainPrepareResponsiveItems();
                        }
                    }); //end ajax
                },

                FetchGenericNameListData() {
                    console.log('Fetch-Brands');
                    var thisRef = this;
                    var urlData = _URL_SERVER_ + '/api/generic_names/';
                    var filterParams = ''; //''SEARCH_PARAMS();
                    var url = urlData; // + '&' + filterParams;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function(response) {
                            thisRef.GenericName.response = response;
                            console.log(response);
                            // window._ON_RESIZE_ARRAY_.push( thisRef.ObtainPrepareResponsiveItems );
                            // thisRef.ObtainPrepareResponsiveItems();
                        }
                    }); //end ajax
                },

                FetchCompanyListData() {
                    console.log('Fetch-Brands');
                    var thisRef = this;
                    var urlData = _URL_SERVER_ + '/api/companies/';
                    var filterParams = ''; //''SEARCH_PARAMS();
                    var url = urlData; // + '&' + filterParams;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function(response) {
                            thisRef.Company.response = response;
                            console.log(response);
                            // window._ON_RESIZE_ARRAY_.push( thisRef.ObtainPrepareResponsiveItems );
                            // thisRef.ObtainPrepareResponsiveItems();
                        }
                    }); //end ajax
                }

            } //end methods
        }) //end Vue open
</script>

{% endcomment %} {% endblock %}

<!-- script -->
{% block script %}


<script>
    $(function() {
        $('#mobileFiltersShow').click(function() {
            $('.filterMain').fadeIn("slow");
        });
        $('#mobileFiltersHide').click(function() {
            $('.filterMain').fadeOut("slow");
        });
    });
    // search inpit
    $('#brand').click(function() {
        $('#brand').toggleClass('fa-times');
        $('.brand').toggle();
    });
    $('#product-tag').click(function() {
        $('#product-tag').toggleClass('fa-times');
        $('.product-tag').toggle();
    });
</script>
{% endblock %}